<html ng-app="YundaApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport"content="width=device-width, initial-scale=1">
    <meta name="description" content="page description">
    <meta name="author" content="SK8 PTY LTD">
    <base href="/">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet"href="css/custom.min.css">
  </head>
  <body ng-controller="AppCtrl">
    <!-- Navbar and Styling file -->
    <div ng-if="!printPage">
    <yunda-navbar></yunda-navbar>
    </div>
    <!-- Body Components -->
    <div ng-view="ng-view"></div>
    <div ng-if="false">
      <!-- Scripts -->
      <script src="https://cdn1.lncld.net/static/js/av-mini-0.5.4.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="lib/yunda.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- AngularJS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-sanitize.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-route.min.js"></script>
      <script src="lib/angular/ui-bootstrap-tpls-0.12.1.min.js"></script>

      <!--stripe payment-->
      <!--<script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->
      <!--<script src="lib/stripe/stripe-angular.js"></script>-->

      <!--barcode-->
      <script src="lib/barcode/barcodeGenerator.js"></script>
      <link rel="stylesheet" href="lib/barcode/barcode.css">


      <!-- Controller -->
      <script src="js/app.js"></script>
      <script src="js/services.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>



      <!-- AngularJS Google Maps-->

      <script src="lib/angular-google-maps/angular-google-maps.js"></script>
      <script src="lib/angular-google-maps/lodash.min.js"></script>

    </div>
    <div ng-if="!printPage">
      <yunda-footer></yunda-footer>
    </div>
  </body>

</html>