<!-- Page Content -->
<div class="container">
    <div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
        <!--<div class="floatL">-->
        <!--<a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" style="top:20px;display:block"-->
        <!--href="javascript:void(0);">展开</a>-->
        <!--<a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" style="top:20px;display:none" href="javascript:void(0);">收缩</a>-->
        <!--</div>-->
        <!--<div id="divFloatToolsView" class="floatR" style="display:none;height:237px;width: 140px;">-->
        <div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
            <div class="cn">
                <div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
                <h3 class="titZx row">昀達在线客服</h3>
                <ul>
                    <li><span>客服1</span> <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>客服2</span> <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&uin=2300145467&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <!--<li>-->
                    <!--<a href="http://www.lanrenzhijia.com/" target="_blank">懒人之家</a>-->
                    <!--<a href="http://www.lanrenzhijia.com/js" target="_blank">懒人之家js</a>-->
                    <!--<div class="div_clear"></div>-->
                    <!--</li>-->

                    <!--<li style="border:none;"><span>电话：+1 (626) 863-5725</span></li>-->
                    <li style="border:none;"> </li>

                </ul>
            </div>
        </div>
    </div>
        </br>
<div class="jumbotron">
    <h2 class="text-left"><strong>关于昀達</strong></h2>
                <p style="font-size: 1em">昀達仓储物流有限公司(Yunda Logistics INC)，专业从事中美之间第三方物流服务，提供客户美国到中国之间的仓储运输服务。成立于美国洛杉矶，仓库位于免税州俄勒冈州，在中国的上海同样拥有办事处。</p>

                <p style="font-size: 1em">本公司长期经营中美海外代购业务，精通各项流程。为此专门开辟出一条为个人海外代购、公司团购、各地华人购物、国际国内网站代购团购的专项航道。拥有大面积独立仓库、可靠的专业性操作、良好的服务。采用智能化流程，从入库、打包、发货、配送等等，全程一条龙服务，操作简单、便捷。使客户感到更加省心、省力。</p>

                <p style="font-size: 1em">我们拥有着一个优异的管理团队，可靠的信誉、丰富的经验，专业的态度。全体成员立志于全心全意为客人着想，理解客需，解答客疑，提供优质化服务，从而建立起一个温馨的、良好的、互信的、共赢的双方合作关系。</p>
    </br>
</div>
                <h4 style="font-weight: bolder">我们保证：</h4>
                </br>
                <p class="about-title"><span class="glyphicon glyphicon-ok"></span>实惠的价格，良好的服务</p>
                <p>我们提供最优惠的运费价格，相比美国当地快递更加优惠、便捷；良好的服务可以令客人感到更加省心、放心、舒心。</p>

                <p class="about-title"><span class="glyphicon glyphicon-ok"></span>专属的地址，免费的仓库</p>
                        <p>当注册为YunDa会员后，可以获得美国仓库地址，让您不受地点的限制都能够愉快在美国购物；拥有个人专享的免费仓库，可为您提供长达60天的免费货品存放。</p>

                <p class="about-title"><span class="glyphicon glyphicon-ok"></span>智能的管理，便利的支付</p>
                                <p>采用智能化的管理操作，可以随心查询包裹及物流的情况；充值便利，支持支付宝转账。</p>

               <p class="about-title"><span class="glyphicon glyphicon-ok"></span>亲切的客服，耐心的解答</p>
                                        <p> 一旦遇到不明白的可以随时联系客服哟！</p>

</br>
    </br>
    <h2 class="bottom-buffer-1">仓库照片</h2>
    <img class="bottom-buffer-1" src="/image/au1.jpg" alt="demo1">
    <img class="bottom-buffer-1" src="/image/au2.jpg" alt="demo2">
    <img class="bottom-buffer-1" src="/image/au3.jpg" alt="demo3">
    <img class="bottom-buffer-1" src="/image/au4.jpg" alt="demo4">

</div>