<div class="container" ng-controller="AdminCtrl">
<div class="row">
<div class="col-sm-3">
    <accordion close-others="oneAtATime">
        <accordion-group heading="账户管理" is-open="openTab.setE">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='aa'}" ng-click="change_tab('aa')">系统管理</li>
                <li ng-class="{'accordion-focused' : view_tab=='ab'}" ng-click="change_tab('ab')">发布新闻</li>
            </ul>
        </accordion-group>

        <accordion-group heading="物流管理" is-open="openTab.setF">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='bz'}" ng-click="change_tab('bz')">验货<span class="badge pull-right">{{adminBadge.A}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='bx'}" ng-click="change_tab('bx')">原箱闪运<span class="badge pull-right">{{adminBadge.X}}</span></li>

                <li ng-class="{'accordion-focused' : view_tab=='ba'}" ng-click="change_tab('ba')">已入库<span class="badge pull-right">{{adminBadge.B}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='bb'}" ng-click="change_tab('bb')">待处理运单<span class="badge pull-right">{{adminBadge.C}}</span></li>
                <!--<li ng-class="{'accordion-focused' : view_tab=='bc'}" ng-click="change_tab('bc')">等待付款<span class="badge pull-right">{{adminBadge.D}}</span></li>-->
                <li ng-class="{'accordion-focused' : view_tab=='bd'}" ng-click="change_tab('bd')">发货<span class="badge pull-right">{{adminBadge.E}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='be'}" ng-click="change_tab('be')">确认清关<span class="badge pull-right">{{adminBadge.F}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='bf'}" ng-click="change_tab('bf')">国内接收<span class="badge pull-right">{{adminBadge.G}}</span></li>
                <!--<li ng-class="{'accordion-focused' : view_tab=='bg'}" ng-click="change_tab('bg')">发往目的地<span class="badge pull-right">{{adminBadge.H}}</span></li>-->
            </ul>
        </accordion-group>
        <accordion-group heading="用户管理" is-open="openTab.setG">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='ca'}" ng-click="change_tab('ca')">用户信息</li>
                <li ng-class="{'accordion-focused' : view_tab=='cb'}" ng-click="change_tab('cb')">退款处理<span class="badge pull-right">{{adminBadge.J}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='cc'}" ng-click="change_tab('cc')">退货处理<span class="badge pull-right">{{adminBadge.K}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='cd'}" ng-click="change_tab('cd')">包裹管理<span class="badge pull-right"></span></li>
            </ul>
        </accordion-group>
        <accordion-group heading="用户财务管理" is-open="openTab.setH">
            <ul>
                <!--<li ng-class="{'accordion-focused' : view_tab=='da'}" ng-click="change_tab('da')">支付宝充值<span class="badge pull-right">{{adminBadge.I}}</span></li>-->
                <li ng-class="{'accordion-focused' : view_tab=='db'}" ng-click="change_tab('db')">充值记录</li>
                <li ng-class="{'accordion-focused' : view_tab=='dc'}" ng-click="change_tab('dc')">消费记录</li>
                <li ng-class="{'accordion-focused' : view_tab=='dd'}" ng-click="change_tab('dd')">YD币记录</li>
                <li ng-class="{'accordion-focused' : view_tab=='de'}" ng-click="change_tab('de')">增/扣金额</li>
                <li ng-class="{'accordion-focused' : view_tab=='df'}" ng-click="change_tab('df')">未认领包裹</li>
            </ul>
        </accordion-group>


    </accordion>
</div>
<!-- col-sm-3 -->

<div class="col-sm-9">
<div ng-show="view_tab=='aa'" ng-controller="AdminSystemCtrl">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4">
                    <label for="checking"> 开启小包裹渠道选择： <input class="form-control" type="checkbox" id="checking" ng-model="systemSetting.isSmallPackageAllowed"></label>

                </div>
            </div>
            <hr>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>加固价格($)：</label>
                    <input class="form-control" type="number" step="any" ng-model="systemSetting.addPackageCharge">
                </div>
                <div class="col-lg-6">
                    <label>分箱价格($)：</label>
                    <input class="form-control" type="number" step="any" ng-model="systemSetting.splitPackageCharge">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>验货价格($)：</label>
                    <input class="form-control" type="number" step="any" ng-model="systemSetting.checkPackageCharge">
                </div>
                <div class="col-lg-6">
                    <label>退货价格($)：</label>
                    <input class="form-control" type="number" step="any" ng-model="systemSetting.returnGoodsCharge">
                </div>
            </div><hr>
        </div>
        <div class="form-group">
            <div class="row bottom-buffer-2" ng-repeat="channel in systemSetting.channelList track by channel.name">
                <!--<div class="row">-->
                    <!--<strong ng-bind="channel.name"></strong>-->
                <!--</div>-->
                <div class="col-md-4">
                    <label>渠道名称: </label>
                    <input class="form-control" type="text" ng-model="channel.name">
                    <!--<span ng-bind="channel.name"></span>-->
                </div>
                <div class="col-lg-2">
                    <label>首磅价($)：</label>
                    <input class="form-control" type="number" step="any" ng-model="channel.initialPrice">
                    <!--<span ng-bind="channel.initialPrice"></span>-->

                </div>
                <div class="col-lg-2">
                    <label>续磅价($)：</label>
                    <input class="form-control" type="number" step="any" ng-model="channel.continuePrice">
                    <!--<span ng-bind="channel.continuePrice"></span>-->

                </div>
                <div class="col-lg-2">
                    <label>起运磅数: </label>
                    <input class="form-control" type="number" step="any" ng-model="channel.startAt">
                    <!--<span ng-bind="channel.startAt"></span>-->

                </div>
                <div class="col-lg-1">
                    <button class="btn btn-default btn-sm top-buffer-2" ng-click="deleteChannel(channel)">删除</button>
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-default btn-sm top-buffer-2" ng-click="confirm()">保存</button>
                </div>
            </div>

        </div>
        <div class="form-group" style="border: 1px dashed #ddd; background-color: #eee">

            <div class="row">
            <div class="col-md-4">
                <label>新渠道名称: </label>
                <input class="form-control" type="text" ng-model="newChannel.name" placeholder="新渠道名称" >
            </div>
            <div class="col-lg-2">
                <label>首磅价($): </label>
                <input class="form-control" type="number" step="any" ng-model="newChannel.initialPrice" >
            </div>
            <div class="col-lg-2">
                <label>续磅价($): </label>
                <input class="form-control" type="number" step="any" ng-model="newChannel.continuePrice" >
            </div>
            <div class="col-lg-2">
                <label>起运磅数: </label>
                <input class="form-control" type="number" step="any" ng-model="newChannel.startAt" >
            </div>
            <div class="col-lg-2 top-buffer-2">
                <button class="btn btn-default btn-sm" ng-click="addNewChannel()">添加新渠道</button>
            </div>
            </div>

        </div>
        <!--<div class="form-group">-->
            <!--<div class="row">-->
                <!--<div class="col-lg-6">-->
                    <!--<label>普通渠道首磅价($)：</label>-->
                    <!--<input class="form-control" type="number" step="any" ng-model="systemSetting.normalPackageInitial">-->
                <!--</div>-->

                <!--<div class="col-lg-6">-->
                    <!--<label>普通渠道续磅价($)：</label>-->
                    <!--<input class="form-control" type="number" step="any" ng-model="systemSetting.normalPackageContinue">-->
                <!--</div>-->
            <!--</div>-->
            <!--<hr>-->
        <!--</div>-->


        <div class="form-group">
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <label>美元对人民币汇率：</label>
                    <input class="form-control" type="number" step="any" ng-model="systemSetting.rate">
                </div>

            </div>
            <hr>
        </div>
        <div class="form-group">
            <h4>仓库地址:</h4>
        </div>
        <div ng-repeat="address in systemSetting.addressList track by address.name">
       <div class="form-group">
           <div class="row">
               [{{$index+1}}]
           </div>
           <div class="row">
               <div class="col-lg-6">
                   <label>仓库名</label>
                   <input type="text" class="form-control" ng-model="address.name">
               </div>
               <div class="col-lg-6">
                   <label>电话</label>
                   <input type="text" class="form-control" ng-model="address.contact" >
               </div>
           </div>
       </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>地址</label>
                    <input type="text" class="form-control" ng-model="address.street" >
                </div>
                <div class="col-lg-6">
                    <label>城市</label>
                    <input type="text" class="form-control" ng-model="address.city" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>州/省</label>
                    <input type="text" class="form-control" ng-model="address.state" >
                </div>
                <div class="col-lg-6">
                    <label>邮编</label>
                    <input type="text" class="form-control" ng-model="address.zipCode" >
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <!--<button class="btn btn-default" ng-click="saveAddress(address)">保存修改</button>-->
                        <button class="btn btn-default" ng-click="deleteAddress(address)">删除</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-default" ng-click="confirm()">保存</button>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div  style="border: 1px dashed #ddd; background-color: #eee">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>仓库名</label>
                    <input type="text" class="form-control" ng-model="newAddress.name">
                </div>
                <div class="col-lg-6">
                    <label>电话</label>
                    <input type="text" class="form-control" ng-model="newAddress.contact" >
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>地址</label>
                    <input type="text" class="form-control" ng-model="newAddress.street">
                </div>
                <div class="col-lg-6">
                    <label>城市</label>
                    <input type="text" class="form-control" ng-model="newAddress.city">
                </div>
            </div>
        </div>
        <div class=form-group>
            <div class="row">
                <div class="col-lg-6">
                    <label>州/省</label>
                    <input type="text" class="form-control" ng-model="newAddress.state">
                </div>
                <div class="col-lg-6">
                    <label>邮编</label>
                    <input type="text" class="form-control" ng-model="newAddress.zipCode">
                </div>
            </div>
        </div>
        <button class="btn btn-default" ng-click="addNewAddress()">添加</button>
        </div>
        <hr>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6">
                    <label>联系电话</label>
                    <input type="text" class="form-control" ng-model="systemSetting.contactNumber">
                </div>
                <div class="col-lg-6">
                    <label>邮箱</label>
                    <input type="text" class="form-control" ng-model="systemSetting.contactEmail">
                </div>
            </div>
        </div>

    </form>
    <br>
    <br>
<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-info form-control" ng-click="confirm()">保存修改</button>

        </div>
    </div>
</div>



</div>
<div ng-show="view_tab=='ab'" ng-controller="AdminNewsCtrl">
    <table class="table table-bordered small-table">
        <thead>
            <th>标题</th>
            <th>链接</th>
            <th colspan="2">操作</th>
        </thead>
        <tr ng-repeat="news in newsList | orderBy: -createdAt">
            <td ng-bind="news.title"></td>
            <td><a target="_blank"><span ng-bind="news.link"></span></a></td>
            <td><button class="btn btn-sm btn-default" ng-click="editNews(news)">编辑</button></td>
            <td><button class="btn btn-sm btn-default" ng-click="confirmDeleteNews(news)">删除</button></td>

        </tr>
        <tr>
            <td><input type="text" class="form-control" ng-model="newNews.title" placeholder="新的新闻标题"> </td>
            <td><input type="text" class="form-control" ng-model="newNews.link" placeholder="新的新闻链接"></td>
            <td colspan="2"><button class="btn btn-default btn-sm" ng-click="addNews()">添加</button></td>
        </tr>
    </table>

</div>
<div ng-show="view_tab=='bz'" ng-controller="AdminFreightInArriveCtrl">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>
    <div class="row">
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryNumber" placeholder="输入入库号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingRK()">入库号搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>


        </div>
    <table class="table table-hover" style="font-size: 0.9em">

        <thead>
        <th>入库号</th>
        <th>Email</th>
        <th>是否拍照</th>
        <th width="15%">验货要求</th>
        <th>入库时间</th>
        <!--<th>重量</th>-->
        <th>操作</th>
        </thead>
        <tr ng-repeat="f in freightIn | orderBy:'-createdAt'">
            <td><a ng-click="showDetails(f)"><span  ng-bind="f.RKNumber"></span></a></td>
            <td ng-bind="f.checkInfo.email"></td>
            <td>
                <div ng-show="f.checkInfo.isTakingPhoto">
                    是
                </div>
                <div ng-show="!f.checkInfo.isTakingPhoto">
                    否
                </div>
            </td>
            <td ng-bind="f.checkInfo.notes"></td>
            <td ng-bind="f.createdAtToString"></td>
            <!--<td><span ng-bind="f.weight"></span>Lb</td>-->
            <td>
                <div ng-if="f.status == 100">
                    <!--到货-->
                    <button class="btn btn-sm btn-default" ng-click="freightInDelivered(f)">已寄到</button>
                    <button class="btn btn-sm btn-default" ng-click="addNotes(f)">添加留言</button>
                </div>
                <div ng-if="f.status == 210">
                    <!--验货-->
                    <button class="btn btn-sm btn-default" ng-click="chargingCheck(f)" ng-disabled="f.isCheckingCharged">收钱</button>

                    <button class="btn btn-sm btn-default" ng-click="freightInAddInfo(f)" ng-disabled="!f.isChecking || !f.isCheckingCharged">确认验货</button>
                </div>
                <div ng-if="f.status != 100 && f.status != 210 && f.status != 990">
                    <!--<button class="btn btn-sm btn-default" ng-click="addNotes(f)">添加留言</button>-->
                    已完成验货
                </div>
            </td>
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in freightCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadFreightIn($index)">{{$index+1}}</div>
    </div>
</div>
<div ng-show="view_tab=='bx'" ng-controller="AdminSpeedManualCtrl">
    <div class="row">
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryNumber" placeholder="输入转运号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingTN()">转运号搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>


    </div>
    <table class="table table-hover" style="font-size: 0.9em">

        <thead>
        <th>发件人</th>
        <th>转运号</th>
        <th>入库号</th>
        <th>创建时间</th>
        <th>重量</th>
        <th>操作</th>
        </thead>
        <tr ng-repeat="f in freights | orderBy:'-createdAt'">
            <!--<td ng-bind="f.user.realName"></td>-->
            <td><a ng-click="showDetails(f)"><span ng-bind="f.user.stringId"></span></a></td>
            <td ng-bind="f.trackingNumber"></td>
            <td ng-bind="f.RKNumber"></td>
            <td ng-bind="f.createdAtToString"></td>
            <td><span ng-bind="f.weight"></span>Lb</td>
            <td>
                <button class="btn btn-sm btn-default" ng-click="deleteFreight(f)">删除运单</button>
            </td>
        </tr>
    </table>
</div>

<div ng-show="view_tab=='ba'" ng-controller="AdminFreightInConfirmCtrl">

    <div class="row">
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>


    </div>
    <br>
            <table class="table table-hover" style="font-size: 0.9em">
                <thead>
                <th>发件人</th>
                <th>转运号</th>
                <th>入库号</th>
                <th>创建时间</th>
                <th>重量</th>
                <th>通知</th>
                </thead>
                <tr ng-repeat="f in freightIn | orderBy:'-createdAt'">
                    <!--<td ng-bind="f.user.realName"></td>-->
                    <td><a ng-click="showDetails(f)"><span  ng-bind="f.user.stringId"></span></a></td>
                    <td ng-bind="f.trackingNumber"></td>
                    <td ng-bind="f.RKNumber"></td>
                    <td ng-bind="f.createdAt"></td>
                    <td><span ng-bind="f.weight"></span>Lb</td>
                    <td>
                        <button class="btn btn-sm btn-default" ng-click="addNotes(f)">添加留言</button>
                        <button class="btn btn-sm btn-default" ng-click="deleteFreightIn(f)">删除运单</button>
                    </td>
                </tr>
            </table>



</div>
<div ng-show="view_tab=='bb'" ng-controller="AdminFreightConfirmCtrl">
    <!--<h4>待处理运单</h4>-->
    <!--<progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span-->
                <!--ng-bind="promote"></span></progressbar>-->
    <div class="row">
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>

        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryNumber" placeholder="YD运单号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingYD()">YD运单号搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>
    </div>

    <br>
    <tabset>
        <tab heading="普通包裹">
            <table class="table small-table">
                <thead>
                <th>选择</th>
                <th>用户名</th>
                <th>收件人身份证</th>
                <th>YD运单号</th>
                <th>时间</th>
                <th>操作</th>
                </thead>
                <tr ng-repeat="f in freight | orderBy:'-updatedAt' | normalPackageFilter ">
                    <td><input type="checkbox" ng-model="f.selection"></td>

                    <td><a ng-click="showDetails(f)"><span ng-bind="f.user.stringId"></span></a>  </td>
                    <td><a ng-click="showIdentityDetails(f)">查看</a></td>

                    <td><a ng-click="showOperationDetails(f)"><span ng-bind="f.YDNumber"></span> </a></td>
                    <td ng-bind="f.updatedAtToString"></td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-click="confirmFreightOpt(f)" ng-disabled="f.isOperated">确认操作</button>
                        <button class="btn btn-default btn-xs" ng-disabled="f.printDisabled"><a ng-click="printFreight(f)" ng-href="/print">打印运单</a></button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <button class="btn btn-default" ng-click="confirmAllFreightOpt()">批量确认操作</button>
            </div>
        </tab>

        <tab heading="合包">
            <table class="table small-table">
                <thead>
                <th>选择</th>
                <th>用户名</th>
                <th>收件人身份证</th>
                <th>YD运单号</th>
                <th>时间</th>
                <th>操作</th>
                </thead>
                <tr ng-repeat="f in freight | orderBy:'-updatedAt' | filter: {isMerged: true}">
                    <td><input type="checkbox" ng-model="f.selection"></td>

                    <td><a ng-click="showDetails(f)"><span ng-bind="f.user.stringId"></span></a>  </td>
                    <td><a ng-click="showIdentityDetails(f)">查看</a></td>
                    <td><a ng-click="showOperationDetails(f)"><span ng-bind="f.YDNumber"></span> </a></td>
                    <td ng-bind="f.updatedAtToString"></td>
                    <td>
                        <button class="btn btn-default btn-xs" ng-click="confirmFreightOpt(f)" ng-disabled="f.isOperated">确认操作</button>
                        <button class="btn btn-default btn-xs" ng-disabled="f.printDisabled"><a ng-click="printFreight(f)" ng-href="/print">打印运单</a></button>
                    </td>
                </tr>
            </table>
            <div class="row">
                <button class="btn btn-default" ng-click="confirmAllFreightOpt()">批量确认操作</button>
            </div>
        </tab>
        <tab heading="分包">

                <table class="table small-table">
                    <thead>
                    <th>选择</th>
                    <th>用户名</th>
                    <th>收件人身份证</th>
                    <th>YD运单号</th>
                    <th>时间</th>
                    <th>操作</th>
                    </thead>
                    <tr ng-repeat="f in freight | orderBy:'-updatedAt' | splitPackageFilter ">
                        <td><input type="checkbox" ng-model="f.selection"></td>

                        <td><a ng-click="showDetails(f)"><span ng-bind="f.user.stringId"></span></a>  </td>
                        <td><a ng-click="showIdentityDetails(f)">查看</a></td>

                        <td><a ng-click="showOperationDetails(f)"><span ng-bind="f.YDNumber"></span> </a></td>
                        <td ng-bind="f.updatedAtToString"></td>
                        <td>
                            <button class="btn btn-default btn-xs" ng-click="confirmFreightOpt(f)" ng-disabled="f.isOperated">确认操作</button>
                            <button class="btn btn-default btn-xs" ng-disabled="f.printDisabled"><a ng-click="printFreight(f)" ng-href="/print">打印运单</a></button>
                        </td>
                    </tr>
                </table>
            <div class="row">
                <button class="btn btn-default" ng-click="confirmAllFreightOpt()">批量确认操作</button>
            </div>
        </tab>


    </tabset>
    <!--<table class="table table-hover" style="font-size: 0.9em">-->
        <!--<thead>-->
        <!--<th width="7%">选择</th>-->
        <!--<th width="10%">发件人</th>-->
        <!--<th>YD单号</th>-->
        <!--<th>更新时间</th>-->
        <!--<th>重量</th>-->
        <!--<th width="20%">处理信息</th>-->
        <!--<th>通知</th>-->
        <!--</thead>-->
        <!--<tr ng-repeat="f in freight | orderBy:'-updatedAt'">-->
            <!--<td><input type="checkbox" ng-model="f.selection"></td>-->
            <!--<td><a ng-click="showDetailsWithMerge(f)"><span  ng-bind="f.user.realName"></span></a></td>-->
            <!--<td ng-bind="f.id"></td>-->
            <!--<td ng-bind="f.updatedAt"></td>-->
            <!--<td><span ng-bind="f.weight"></span>Lb</td>-->
            <!--<td ng-bind="f.statusToString"></td>-->
            <!--<td>-->
                <!--<button class="btn btn-sm btn-default" ng-click="addNotes(f)">添加留言</button>-->
            <!--</td>-->

        <!--</tr>-->
    <!--</table>-->
    <!--<a ng-href="/print">-->
        <!--<button class="btn btn-info" ng-click="printAll()">批量打印文件</button>-->
    <!--</a>-->

</div>
<!--<div ng-show="view_tab=='bc'" ng-controller="AdminFreightFinishCtrl">-->
    <!--<!--<h4>等待付款</h4>-->
    <!--<progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span-->
                <!--ng-bind="promote"></span></progressbar>-->
    <!--<table class="table table-hover" style="font-size: 0.9em">-->
        <!--<thead>-->
        <!--<th>发件人</th>-->
        <!--<th>YD单号</th>-->
        <!--<th>打包时间</th>-->
        <!--<th>重量</th>-->
        <!--<th>状态</th>-->
        <!--<th>通知</th>-->
        <!--</thead>-->
        <!--<tr ng-repeat="f in freight | orderBy:'-updatedAt'">-->
            <!--<td><a ng-click="showDetails(f)"><span  ng-bind="f.user.realName"></span></a></td>-->
            <!--<td ng-bind="f.id"></td>-->
            <!--<td ng-bind="f.updatedAt"></td>-->
            <!--<td><span ng-bind="f.weight"></span>Lb</td>-->
            <!--<td>等待付款</td>-->
            <!--<td>-->
                <!--<button class="btn btn-sm btn-default" ng-click="addNotes(f)">添加留言</button>-->
            <!--</td>-->
        <!--</tr>-->
    <!--</table>-->

<!--</div>-->

<div ng-show="view_tab=='bd'" ng-controller="AdminFreightPaidCtrl">
    <!--<h4>发货</h4>-->
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span
                ng-bind="promote"></span></progressbar>
    <div class="row">
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>


    </div>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <!--<th>选择</th>-->
        <th>YD单号</th>
        <th>发件人</th>
        <th>重量</th>
        <th>消费明细</th>
        <th>发货时间</th>
        <th>重量</th>
        <!--<th>状态</th>-->
        <th>操作</th>
        </thead>
        <tr ng-repeat="f in freight | orderBy:'-updatedAt'">
            <!--<td><input type="checkbox" ng-model="f.selection"></td>-->
            <td ng-bind="f.YDNumber"></td>
            <td><a ng-click="showDetails(f)"><span  ng-bind="f.user.stringId"></span></a></td>
            <td ng-bind="f.weight + 'Lb'"></td>
            <td><a ng-click="showConsumeDetails(f)">查看</a></td>
            <td ng-bind="f.updatedAtToString"></td>
            <td><span ng-bind="f.weight"></span>Lb</td>
            <!--<td>等待付款</td>-->
            <td>
                <button class="btn btn-sm btn-default" ng-click="confirmDelivery(f)" ng-disabled="f.status == 400">
                <div ng-show="f.status == 400">
                    拒绝发货
                </div>
                    <div ng-show="f.status != 400">
                        确认发货
                    </div>
                </button>
            </td>
        </tr>
    </table>

    <!--<a ng-href="/print">-->
        <!--<button class="btn btn-info" ng-click="printAll()">批量打印文件</button>-->
    <!--</a>-->
</div>

<div ng-show="view_tab=='be'" ng-controller="AdminFreightClearCtrl">
    <!--<h4>确认清关</h4>-->
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span
                ng-bind="promote"></span></progressbar>
    <div class="row">
        <div class="col-md-4">

            <div class="input-group">

                <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
            </div><!-- /input-group -->
        </div>


    </div>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <!--<th>选择</th>-->
        <th>YD单号</th>
        <th>发件人</th>
        <th width="15%">地址</th>
        <th>发货时间</th>
        <th>确认清关</th>
        </thead>
        <tr ng-repeat="f in freight | orderBy:'-updatedAt'">
            <!--<td><input type="checkbox" ng-model="f.selection"></td>-->
            <td><a ng-click="showOperationDetails(f)"><span ng-bind="f.YDNumber"></span></a></td>
            <td><a ng-click="showDetails(f)"><span  ng-bind="f.user.stringId"></span></a></td>
            <td ng-bind="f.address.country + f.address.state  + f.address.city  + f.address.street1  + f.address.street2"></td>
            <td ng-bind="f.updatedAt"></td>
            <td>
                <button class="btn btn-sm btn-default" ng-click="confirmClear(f)">确认清关</button>
            </td>
        </tr>
    </table>

    <!--<button class="btn btn-info" ng-click="deliver()">确认清关</button>-->
</div>

<div ng-show="view_tab=='bf'" ng-controller="AdminChineseFreightCtrl">
    <!--<h4>国内接收</h4>-->

    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>

    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span
                ng-bind="promote"></span></progressbar>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <!--<th>选择</th>-->
        <th>YD单号</th>

        <th>发件人</th>
        <th width="15%">地址</th>

        <th>清关时间</th>
        <!--<th>重量</th>-->
        <!--<th>状态</th>-->
        <th>添加国内信息</th>
        <th>操作</th>

        </thead>
        <tr ng-repeat="f in freight | orderBy:'-updatedAt'">
            <!--<td><input type="checkbox" ng-model="f.selection"></td>-->
            <td><a ng-click="showOperationDetails(f)"><span ng-bind="f.YDNumber"></span></a></td>

            <td><a ng-click="showDetails(f)"><span  ng-bind="f.user.stringId"></span></a></td>
            <td ng-bind="f.address.country + f.address.state  + f.address.city  + f.address.street1  + f.address.street2"></td>

            <td ng-bind="f.updatedAtToString"></td>

            <td>
                <button class="btn btn-sm btn-info" ng-click="addInfo(f)">
                <div ng-if="!f.isAdded">添加</div>
                    <div ng-if="f.isAdded">已添加</div>
                </button>
            </td>
            <td>
                <button class="btn btn-sm btn-default" ng-click="confirmOut(f)">确认出关</button>
            </td>
        </tr>
    </table>

    <!--<button class="btn btn-info" ng-click="finalDeliver()">已出关</button>-->
</div>

<div ng-show="view_tab=='bg'" ng-controller="AdminFinalDeliveryCtrl">
    <!--<h4>发往目的地</h4>-->
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span
                ng-bind="promote"></span></progressbar>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <th>发件人</th>
        <th>YD单号</th>
        <th>打包时间</th>
        <!--<th>重量</th>-->
        <th>状态</th>
        <th>中国运单号</th>
        <th>操作</th>

        </thead>
        <tr ng-repeat="f in freight | orderBy:'-updatedAt'">
            <td><a ng-click="showDetails(f)"><span  ng-bind="f.user.stringId"></span></a></td>
            <td ng-bind="f.id"></td>
            <td ng-bind="f.updatedAt"></td>
            <td>正在运送</td>
            <td ng-bind="f.chineseTrackingNumber"></td>
            <td><button class="btn btn-sm btn-default" ng-click="doubleConfirm(f)">已收货</button></td>

        </tr>
    </table>
    <!--<button class="btn btn-info" ng-click="saveComment()">确认添加留言</button>-->

</div>
<div ng-show="view_tab=='ca'" ng-controller="AdminViewUserCtrl">
    <!--<h4>用户信息</h4>-->
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="input-group">
                <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchForUser('number')">搜索</button>

      </span>
                    <input type="text" class="form-control" ng-model="queryNumber" placeholder="输入数字ID" required>

                </div><!-- /input-group -->
            </div>

            <div class="col-md-4">

                <div class="input-group">

                    <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名" required>
<span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchForUser('string')">搜索</button>

      </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>


    <div class="col-lg-9">
        <table class="table table-hover small-table">
            <thead>
            <th>登录邮箱</th>
            <th>用户名</th>
            <th>数字ID</th>
            <!--<th>字母ID</th>-->
            <th>创建时间</th>
            </thead>
            <div>
                <tr ng-repeat="user in users | orderBy: '-updatedAt'" ng-click="showDetails(user)">
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user.stringId"></td>

                    <td ng-bind="user.numberId"></td>
                    <td ng-bind="user.createdAt"></td>
                </tr>
            </div>
        </table>
        <div class="btn-group" ng-repeat="btn in userCount track by $index">
            <div class="btn btn-default btn-sm" ng-click="reloadUser($index)">{{$index+1}}</div>
        </div>
    </div>
    <div class="col-lg-3 info-area">
        <form>
            <legend>详细信息:</legend>
            <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoadingTrue"><span ng-bind="promote"></span></progressbar>
            <div class="form-group">
                <label class="control-label">用户</label>
                <span class="form-control">{{newUser ? newUser.stringId : ""}}</span>
            </div>
            <div class="form-group">
                <label class="control-label">实际余额</label>
                <span class="form-control">{{newUser ? '$' + newUser.balance/100 : ""}}</span>
            </div>
            <div class="form-group">
                <label class="control-label">兑换余额</label>
                <span class="form-control">{{newUser ? '$' + newUser.rewardBalance/100 : ""}}</span>
            </div>
            <div class="form-group">
                <label class=" control-label">手机号</label>
                <div ng-show="newUser.contactNumber && newUser.mobile">
                    <span class="form-control" ng-bind="newUser.contactNumber"></span>
                </div>
                <div ng-show="newUser.contactNumber && !newUser.mobile">
                    <span class="form-control" ng-bind="newUser.contactNumber"></span>
                </div>
                <div ng-show="!newUser.contactNumber && newUser.mobile">
                    <span class="form-control" ng-bind="newUser.mobile"></span>
                </div>
                <div ng-show="!newUser.contactNumber && !newUser.mobile">
                    <span class="form-control" ></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">真实姓名</label>
                <span class="form-control" ng-bind="newUser.realName"></span>
            </div>
            <div class="form-group">
                <label class="control-label">YD币</label>
                <span class="form-control" ng-bind="newUser.accumulatedReward"></span>
            </div>
            <div class="form-group">
                <label class="control-label">国家/省</label>
                <span class="form-control" ng-bind="newAddress.country + newAddress.city"></span>
            </div>
            <div class="form-group">
                <label class="control-label">市/区</label>
                <span class="form-control" ng-bind="newAddress.city + newAddress.state"></span>
            </div>
            <div class="form-group">
                <label class="control-label">街道</label>
                <span class="form-control" ng-bind="newAddress.street1"></span>
            </div>
            <div class="form-group">
                <label class="control-label">公司</label>
                <span class="form-control" ng-bind="newAddress.street2"></span>
            </div>
            <div class="form-group">
                <label class="control-label">邮编</label>
                <span class="form-control" ng-bind="newAddress.postalCode"></span>
            </div>


        </form>
    </div>
</div>

<div ng-show="view_tab=='cb'" ng-controller="AdminReturnBalanceCtrl">
    <!--<h4>退款处理</h4>-->
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryNumber" placeholder="退款号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingTK()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <th width="6%">用户名</th>
        <th>退款单号</th>
        <th>创建时间</th>
        <th width="40%">支付宝</th>
        <th width="30%">申请金额</th>
        <th width="15%">手续费</th>
        <th>实退</th>
        <th width="20%">理由</th>
        <th >处理</th>
        <th>凭证</th>
        </thead>
        <tr ng-repeat="t in transactionList | orderBy:'-createdAt'">
            <td ng-bind="t.user.stringId"></td>
            <td ng-bind="t.TKNumber"></td>
            <td ng-bind="t.createdAtToString"></td>
            <td><a ng-click="zhifubaoDetails(t)" >查看</a></td>
            <td ng-bind="'$'+t.amount"></td>
            <td ng-bind="'$'+t.amount*0.02"></td>
            <td>¥{{(t.amount*0.98*systemSetting.rate).toFixed(2)}}</td>
            <!--<td ng-bind="t.amount*0.02"></td>-->
            <td ng-bind="t.reason"></td>
            <td>
                <div ng-if="t.status==500">
                    <button class="btn btn-xs btn-default" ng-click="confirmReturn(t)">同意退款</button>
                    <button class="btn btn-xs btn-default" ng-click="refuseReturn(t)">拒绝退款</button>
                </div>
                <div ng-if="t.status==590">
                    已退款
                </div>
                <div ng-if="t.status ==580">
                    拒绝退款: {{t.notes}}
                </div>

            </td>
            <td>
                <div ng-show="t.status == 590">
                    <a target="_blank" ng-href="{{t.adminEvidence.url()}}">下载</a>
                </div>
            </td>
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in freightCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadReturnBalance($index)">{{$index+1}}</div>
    </div>
</div>

<div ng-show="view_tab=='cc'" ng-controller="AdminReturnGoodsCtrl">
    <!--<h4>退货处理</h4>-->

    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>

    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryNumber" placeholder="入库号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingRK()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>

    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>
    <table class="table table-hover small-table" >
        <thead>
        <th>用户名</th>
        <th>时间</th>
        <th>YD入库号</th>
        <th width="25%">退货地址</th>
        <th width="10%">Label</th>
        <th>备注</th>
        <th >处理</th>
        <th>凭证</th>

        </thead>
        <tr ng-repeat="f in goodsList | orderBy:'-createdAt'">
            <td ng-bind="f.user.stringId"></td>
            <td ng-bind="f.createdAtToString"></td>
            <td><a ng-click="showFreightInDetail(f)"><span  ng-bind="f.RKNumber"></span></a></td>
            <td ng-bind="f.address"></td>
            <td>
                <div ng-show="f.identityFirst">
                    <a target="_blank" ng-href="{{f.identityFirst._url}}">标签一</a>
                </div>
                <div ng-show="f.identitySecond">
                    <a target="_blank" ng-href="{{f.identitySecond._url}}">标签二</a>

                </div>
                <div ng-show="f.identityThird">
                    <a target="_blank" ng-href="{{f.identityThird._url}}">标签三</a>
                </div>
            </td>
            <td ng-bind="f.reason"></td>
            <td>
                <div ng-if="f.status==100">
                    <button class="btn btn-xs btn-default" ng-click="confirmReturn(f)">同意退货</button>
                    <button class="btn btn-xs btn-default" ng-click="refuseReturn(f)">拒绝退货</button>
                </div>
                <div ng-if="f.status==990">
                    已退货
                </div>
                <div ng-if="f.status ==900">
                    拒绝退货: {{f.notes}}
                </div>

            </td>
            <td>
                <div ng-if="f.status == 990">
                    <a target="_blank" ng-href="{{f.adminEvidence._url}}">点此下载</a>
                </div>
            </td>
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in freightCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadReturnGoods($index)">{{$index+1}}</div>
    </div>
</div>

<div ng-show="view_tab=='cd'" ng-controller="AdminManageFreightCtrl">
    <!--<h4>包裹管理</h4>-->
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoadingTrue"><span ng-bind="promote"></span></progressbar>
<div class="row">
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryNumber" placeholder="YD运单号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingYD()">YD运单号搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
</div>
    <table class="table table-striped small-table">
       <thead>
       <th>用户名</th>
       <th>YD运单号</th>
       <th>创建时间</th>
       <th>包裹详情</th>
       </thead>
       <tr ng-repeat="freight in freights | orderBy: '-createdAt'">
            <td ng-bind="freight.user.stringId"></td>
            <td ng-bind="freight.YDNumber"></td>
           <td ng-bind="freight.createdAtToString"></td>
           <td><a ng-click="showFreightDetail(freight)">查看</a></td>
       </tr>
   </table>
    <div class="btn-group" ng-repeat="btn in freightCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadFreight($index)">{{$index+1}}</div>
    </div>
</div>

<div ng-show="view_tab=='da'" ng-controller="AdminZhifubaoCtrl">
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <th>用户名</th>
        <th>支付宝交易号</th>
        <th>金额</th>
        <th>创建时间</th>
        <th>处理</th>
        </thead>
        <tr ng-repeat="t in transactionList | orderBy:'-createdAt'">
            <td ng-bind="t.user.id"></td>
            <td ng-bind="t.record"></td>
            <td ng-bind="'$'+ t.amount"></td>
            <td ng-bind="t.createdAtToString"></td>
            <td>
                <button class="btn btn-sm btn-default" ng-click="confirmRecharge(t)">确认</button>
            </td>
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in freightCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadReturnGoods($index)">{{$index+1}}</div>
    </div>
</div>

<div ng-show="view_tab=='db'" ng-controller="AdminRechargeRecordCtrl">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoadingTrue"><span ng-bind="promote"></span></progressbar>

    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <br>
    <!--<div class="row">-->

        <!--<div class="col-md-4">-->
            <!--<h5>起始日期:</h5>-->

            <!--<p class="input-group">-->
                <!--<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"-->
                       <!--date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>-->
    <!--<span class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default" ng-click="open1($event)"><i-->
                <!--class="glyphicon glyphicon-calendar"></i></button>-->
    <!--</span>-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
            <!--<h5>截止日期:</h5>-->

            <!--<p class="input-group">-->
                <!--<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2"-->
                       <!--date-disabled="disabled(date, mode)" ng-required="true"/>-->
    <!--<span class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default" ng-click="open2($event)"><i-->
                <!--class="glyphicon glyphicon-calendar"></i></button>-->
    <!--</span>-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<button class="btn btn-info" ng-click="reloadSelectedTransaction()">查找</button>-->
        <!--</div>-->
    <!--</div>-->


    <table class="table table-hover small-table">
        <thead>
        <tr>
            <!--<th>交号</th>-->
            <th>用户名</th>
            <th>流水号</th>
            <th>充值金额(美元)</th>
            <th>充值类型</th>
            <th>充值时间</th>
            <!--<th>充值状态</th>-->
            <!--<th>备注</th>-->
        </tr>
        </thead>
        <tr ng-repeat="t in transactionList | orderBy: '-createdAt'">
            <!--<td ng-bind="t.id"></td>-->
            <td ng-bind="t.user.stringId"></td>
            <td ng-bind="t.record"></td>
            <td ng-bind="'$ ' + t.amount"></td>
            <td ng-bind="t.notes"></td>
            <td ng-bind="t.createdAtToString"></td>
            <!--<td ng-bind="t.status"></td>-->
            <!--<td>pending</td>-->
            <!--<td ng-bind="freightIn.notes"></td>-->
            <!--<td>-->
            <!--<button class="btn btn-info" ng-click="freightInConfirm(freightIn)">确认入库</button>-->

            <!--</td>-->
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in tCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadTransaction($index)">{{$index+1}}</div>
    </div>
</div>
<div ng-show="view_tab=='dc'" ng-controller="AdminConsumeRecordCtrl">
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="query.string" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">用户搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="query.number" placeholder="输入入库号" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchingRK()">入库号搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <br>

    <!--<div class="row">-->

        <!--<div class="col-md-4">-->
            <!--<h5>起始日期:</h5>-->

            <!--<p class="input-group">-->
                <!--<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"-->
                       <!--date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>-->
    <!--<span class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default" ng-click="open1($event)"><i-->
                <!--class="glyphicon glyphicon-calendar"></i></button>-->
    <!--</span>-->
            <!--</p>-->
        <!--</div>-->

        <!--<div class="col-md-4">-->
            <!--<h5>截止日期:</h5>-->

            <!--<p class="input-group">-->
                <!--<input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2"-->
                       <!--date-disabled="disabled(date, mode)" ng-required="true"/>-->
    <!--<span class="input-group-btn">-->
    <!--<button type="button" class="btn btn-default" ng-click="open2($event)"><i-->
                <!--class="glyphicon glyphicon-calendar"></i></button>-->
    <!--</span>-->
            <!--</p>-->
        <!--</div>-->
        <!--<div class="col-md-2">-->
            <!--<button class="btn btn-info" ng-click="reloadSelectedTransaction()">查找</button>-->
        <!--</div>-->
    <!--</div>-->


    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>用户名</th>
            <th width="15%">YD运单号</th>
            <th width="10%">消费金额</th>
            <th>消费类型</th>
            <th>消费时间</th>
            <th>备注</th>
        </tr>
        </thead>

        <tr ng-repeat="t in transactionList | orderBy: '-createdAt'">
            <td ng-bind="t.user.stringId"></td>
            <td>
                <!--<div ng-show="t.RKNumber && !t.YDNumber">-->
                    <!--<span ng-bind="'入库号:' + t.RKNumber"></span>-->
                <!--</div>-->
                <!--<div ng-show="t.YDNumber || (t.YDNumber && t.RKNumber)">-->
                    <!--<span ng-show="t.YDNumber"></span>-->
                <!--</div>-->
                {{t.YDNumber ? t.YDNumber : '入库号:' + t.RKNumber }}
            </td>
            <td ng-bind="'$ ' + t.amount"></td>
            <td ng-bind="t.status"></td>
            <td ng-bind="t.createdAtToString"></td>
            <td ng-bind="t.notes"></td>
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in tCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadTransaction($index)">{{$index+1}}</div>
    </div>
</div>
<div ng-show="view_tab=='dd'" ng-controller="AdminYDRewardRecordCtrl">
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <br>

    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>用户名</th>
            <th>YD单号</th>
            <th>消费金额</th>
            <th>消费类型</th>
            <th>YD币(+/-)</th>
            <th>消费时间</th>
            <!--<th>备注</th>-->
        </tr>
        </thead>
        <tr ng-repeat="t in transactions | orderBy: '-createdAt'">
            <td ng-bind="t.user.stringId"></td>
            <td>
                {{t.YDNumber ? t.YDNumber : t.RKNumber}}
            </td>
            <td ng-bind="'$ ' + t.amount"></td>
            <td ng-bind="t.notes"></td>
            <td>
                <div ng-show="t.status === 600">
                    <span ng-bind="'-' + t.amount*100"></span>
                </div>
                <div ng-show="t.status !== 600">
                    <span ng-bind="'+' + t.amount"></span>
                </div>
            </td>
            <td ng-bind="t.createdAtToString"></td>

        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in tCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadRewardRecord($index)">{{$index+1}}</div>
    </div>
</div>

<div ng-show="view_tab=='de'" ng-controller="AdminCreditUserCtrl">
    <div class="form-group">
        <div class="row">
            <div class="col-md-8">
                <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

                <div class="input-group">
                <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchForUser('number')">搜索</button>

      </span>
                    <input type="text" class="form-control" ng-model="queryNumber" placeholder="输入数字ID" required>

                </div><!-- /input-group -->
            </div>

            <div class="col-md-4">

                <div class="input-group">

                    <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名" required>
<span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searchForUser('string')">搜索</button>

      </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>

    <table class="table table-hover small-table">
            <thead>
            <th>登录邮箱</th>
            <th>用户名</th>
            <th>数字ID</th>
            <!--<th>字母ID</th>-->
            <th>创建时间</th>
            <th>操作</th>
            </thead>
            <div>
                <tr ng-repeat="user in users | orderBy: '-updatedAt'" ng-click="showDetails(user)">
                    <td ng-bind="user.email"></td>
                    <td ng-bind="user.stringId"></td>

                    <td ng-bind="user.numberId"></td>
                    <td ng-bind="user.createdAt"></td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="increaseBalance(user)">增加金额</button>
                        <button class="btn btn-default btn-sm" ng-click="decreaseBalance(user)">减少金额</button>

                    </td>
                </tr>
            </div>
        </table>
    <div class="btn-group" ng-repeat="btn in userCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadUser($index)">{{$index+1}}</div>
    </div>
</div>
<div ng-show="view_tab=='df'" ng-controller="AdminDeletePackageCtrl">
    <div class="col-md-4">

        <div class="input-group">

            <input type="text" class="form-control" ng-model="queryString" placeholder="输入用户名或邮箱" required>
   <span class="input-group-btn">

        <button class="btn btn-default" type="button" ng-click="searching()">搜索</button>

      </span>
        </div><!-- /input-group -->
    </div>
    <br>
    <table class="table table-striped small-table">
        <thead>
        <th>用户名</th>
        <th>转运号</th>
        <th>YD入库号</th>
        <th>入库时间</th>
        <th>删除时间</th>
        </thead>
        <tr ng-repeat="f in freights | orderBy: '-updatedAt'">
            <td ng-bind="f.user.stringId"></td>
            <td ng-bind="f.trackingNumber"></td>
            <td ng-bind="f.RKNumber"></td>
            <td ng-bind="f.createdAtToString"></td>
            <td ng-bind="f.updatedAtToString"></td>
        </tr>
    </table>
    <div class="btn-group" ng-repeat="btn in freightCount track by $index">
        <div class="btn btn-default btn-sm" ng-click="reloadDelete($index)">{{$index+1}}</div>
    </div>
</div>

</div>

<!-- col-sm-9 -->
</div>
<!-- Row -->
</div>

