<!-- Page Content -->
<div class="container-fluid">
<div class="row" ng-controller="ContactController">
	<div id="contactMapSection" class="col-md-offset-2 col-md-5">
		<address>
			<b>办公室电话:</b><br>
			(02) 9268 0883<br>
			<br>
			<b>Email:</b><br>
			2973508779@qq.com
			<br>
			<br>
			<b>办公室地址:</b><br>
			15429 SE Bollam Dr, Clackamas, OR 97015, USA
			<br>
			<br>
			<div class="angular-google-map-container">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
			</ui-gmap-google-map>
			</div>

		</address>
		<div id="map-canvas"></div>
	</div>
	<div  id="contactFormSection" class="col-md-3">
		<div>
			<p><b>微信关注我们!</b></p>
			<img src="/image/wechat.jpg" width="60%">
			<p><b>或者填写表格联系我们</b></p>
		</div>

		<form name="contactForm">
			<div class="form-group">
				<label for="InputFullName">姓名</label>
				<input class="form-control" id="inputFullName" ng-model="enquiry.fullName" placeholder="请输入全名 *" required>
			</div>
			<div class="form-group">
				<label for="InputPhoneNumber">联系电话</label>
				<input class="form-control" id="inputPhoneNumber" ng-model="enquiry.contactNumber" placeholder="请输入联系电话 *" required>
			</div>
			<div class="form-group">
				<label for="InputEmail1">电子邮箱地址</label>
				<input type="email" class="form-control" id="inputEmail" ng-model="enquiry.email" placeholder="请输入电子邮箱地址 *" required>
			</div>

			<div class="form-group">
				<label for="InputContent">联系我们</label>
				<textarea class="form-control" rows="5" id="inputContent" ng-model="enquiry.message" placeholder="请输入您的问题和需求 *" required></textarea>
			</div>
			<div id="success">
				<button type="submit" class="btn btn-default" ng-click="submitEnquiryForm()" ng-disabled="!contactForm.$valid">提交</button>

			</div>
		</form>
	</div>
</div>
</div>