<!-- Page Content -->
<div class="container-fluid">
	<div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
		<!--<div class="floatL">-->
		<!--<a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" style="top:20px;display:block"-->
		<!--href="javascript:void(0);">展开</a>-->
		<!--<a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" style="top:20px;display:none" href="javascript:void(0);">收缩</a>-->
		<!--</div>-->
		<!--<div id="divFloatToolsView" class="floatR" style="display:none;height:237px;width: 140px;">-->
		<div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
			<div class="cn">
				<div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
				<h3 class="titZx row">昀達在线客服</h3>
				<ul>
					<li><span>客服1</span> <a target="_blank"
											href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
									border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
									alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
					<li><span>客服2</span> <a target="_blank"
											href="http://wpa.qq.com/msgrd?v=3&uin=2300145467&site=qq&menu=yes"><img
									border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
									alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
					<!--<li>-->
					<!--<a href="http://www.lanrenzhijia.com/" target="_blank">懒人之家</a>-->
					<!--<a href="http://www.lanrenzhijia.com/js" target="_blank">懒人之家js</a>-->
					<!--<div class="div_clear"></div>-->
					<!--</li>-->

					<!--<li style="border:none;"><span>电话：+1 (626) 863-5725</span></li>-->
					<li style="border:none;"> </li>

				</ul>
			</div>
		</div>
	</div>
<div class="row" ng-controller="ContactController">
	<div id="contactMapSection" class="col-md-offset-2 col-md-5">
		<address>
			<b>微信公众平台:</b><br>
			<span>YunDa昀達物流</span><br>
			<br>
			<b>微信号:</b><br>
			<span>Yundawl</span><br>
			<br>
			<b>办公室电话:</b><br>
			<span ng-bind="systemSetting.contactNumber"></span><br>
			<br>
			<b>Email:</b><br>
			<span ng-bind="systemSetting.contactEmail"></span>
			<br>
			<br>
			<b>办公室地址:</b><br>
			1552 SW 175th Ave Beaverton OR 97003
			<br>
			<br>
			<div class="angular-google-map-container">
			<ui-gmap-google-map center='map.center' zoom='map.zoom'>
				<ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
			</ui-gmap-google-map>
			</div>

		</address>
		<div id="map-canvas"></div>
	</div>
	<div  id="contactFormSection" class="col-md-3">
		<div>
			<p><b>微信关注我们!</b></p>
			<img src="/image/wechat.jpg" width="60%">
			<p><b>或者填写表格联系我们</b></p>
		</div>

		<form name="contactForm">
			<div class="form-group">
				<label for="InputFullName">姓名</label>
				<input class="form-control" id="inputFullName" ng-model="enquiry.name" placeholder="请输入全名 *" required>
			</div>
			<div class="form-group">
				<label for="InputPhoneNumber">联系电话</label>
				<input class="form-control" id="inputPhoneNumber" ng-model="enquiry.contactNumber" placeholder="请输入联系电话 *" required>
			</div>
			<div class="form-group">
				<label for="InputEmail1">电子邮箱地址</label>
				<input type="email" class="form-control" id="inputEmail" ng-model="enquiry.email" placeholder="请输入电子邮箱地址 *" required>
			</div>
			<div class="form-group">
				<label for="InputContent">主题</label>
				<input type="text" class="form-control" id="inputSubject" ng-model="enquiry.subject" placeholder="请输入主题 *" required>
			</div>
			<div class="form-group">
				<label for="InputContent">联系我们</label>
				<textarea class="form-control" rows="5" id="inputContent" ng-model="enquiry.message" placeholder="请输入您的问题和需求 *" required></textarea>
			</div>

			<div id="success">
				<button type="submit" class="btn btn-default" ng-click="submitEnquiryForm()" ng-disabled="!contactForm.$valid">提交</button>

			</div>
		</form>
	</div>
</div>
</div>