<div class="container" ng-controller="DashboardCtrl">
<div class="row">
<div class="col-lg-3">
    <accordion close-others="oneAtATime">
        <accordion-group heading="账户管理" is-open="openTab.setA">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='aa'}" ng-click="change_tab('aa')">账户信息</li>
                <li ng-class="{'accordion-focused' : view_tab=='ab'}" ng-click="change_tab('ab')">地址管理</li>
                <li ng-class="{'accordion-focused' : view_tab=='ac'}" ng-click="change_tab('ac')">仓库地址</li>
            </ul>
        </accordion-group>

        <accordion-group heading="物流管理" is-open="openTab.setB">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='ba'}" ng-click="change_tab('ba')">自助入库</li>
                <li ng-class="{'accordion-focused' : view_tab=='bb'}" ng-click="change_tab('bb')">包裹管理<span class="badge pull-right">{{badgeTotalCount}}</span></li>
                <li ng-class="{'accordion-focused' : view_tab=='bc'}" ng-click="change_tab('bc')">快件查询</li>
                <li ng-class="{'accordion-focused' : view_tab=='bd'}" ng-click="change_tab('bd')">我的运单</li>
            </ul>
        </accordion-group>

        <accordion-group heading="财务管理" is-open="openTab.setC">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='ca'}" ng-click="change_tab('ca')">在线充值</li>
                <li ng-class="{'accordion-focused' : view_tab=='cb'}" ng-click="change_tab('cb')">充值记录</li>
                <li ng-class="{'accordion-focused' : view_tab=='cc'}" ng-click="change_tab('cc')">消费记录</li>
            </ul>
        </accordion-group>

        <accordion-group heading="自助管理" is-open="openTab.setD">
            <ul>
                <li ng-class="{'accordion-focused' : view_tab=='da'}" ng-click="change_tab('da')">退款管理</li>
                <li ng-class="{'accordion-focused' : view_tab=='db'}" ng-click="change_tab('db')">退货管理</li>
                <li ng-class="{'accordion-focused' : view_tab=='dc'}" ng-click="change_tab('dc')">更改发货地址</li>

            </ul>
        </accordion-group>
    </accordion>
</div>
<!-- col-sm-3 -->

<div class="col-lg-9">
<div ng-show="view_tab=='aa'">
    <!--this is the content for 账户信息-->
    <accordion close-others="false">
        <accordion-group is-open="true">
            <accordion-heading id="info">
                会员信息
            </accordion-heading>
            <p>用户名：<span ng-bind="currentUser.username"></span> <a ng-click="updatePassword()">修改密码</a></p>

            <p>姓名：<span ng-bind="currentUser.realName"></span></p>

            <!--<p>数字ID：<span ng-bind="currentUser.numberId"></span></p>-->

            <!--<p>字母ID：<span ng-bind="currentUser.stringId"></span></p>-->

            <form ng-controller="fileUploadCtrl">
                <div class="form-group">
                    <label for="id-front">身份证正面</label>
                    <input type="file" class="form-control"
                           onchange="angular.element(this).scope().filesChangedFront(this)"/>
                </div>
                .
                <div class="form-group">
                    <label for="id-front">身份证反面面</label>
                    <input type="file" class="form-control"
                           onchange="angular.element(this).scope().filesChangedBack(this)"/>
                </div>
                <li ng-repeat="file in identityFrontList"> {{file.name}}</li>
                <li ng-repeat="file in identityBackList"> {{file.name}}</li>
                <div class="form-group">
                    <button class="btn btn-info form-control" ng-click="uploadIdentity()"> 上传</button>
                </div>
            </form>

        </accordion-group>

        <accordion-group is-open="true">
            <accordion-heading id="info3">
                财务信息
            </accordion-heading>
            <p>账户余额：$<span ng-bind="currentUser.balanceInDollar"></span></p>
            <p>账户待处理余额：$<span ng-bind="currentUser.pendingBalanceInDollar"></span></p>


            <p>YD币：<span ng-bind="currentUser.reward"></span></p>

            <p>兑换汇率：美元/人民币=1/6.4</p>
        </accordion-group>

        <accordion-group is-open="true">
            <accordion-heading>
                修改个人资料
            </accordion-heading>
            <form ng-controller="UpdateUserCtrl">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            姓名: <input type="text" class="form-control" ng-model="currentUser.realName"/></div>
                        <div class="col-lg-6">

                            手机号: <input type="tel" class="form-control" name="tel"
                                        ng-model="currentUser.mobilePhoneNumber"/></div>
                    </div>
                </div>

                <div class="form-group">
                    <label>地址</label></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="province">国家</label>
                            <input type="text" class="form-control" id="country" ng-model="address.country"/></div>
                        <div class="col-lg-6">

                            <label for="province">省</label>
                            <input type="text" id="state" class="form-control" ng-model="address.state"/></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="city">市</label>
                            <input type="text" id="city" class="form-control" ng-model="address.city"/></div>
                        <div class="col-lg-6">
                            <label for="suburb">区</label>
                            <input type="text" id="suburb" class="form-control" ng-model="address.suburb"/></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="street">街道</label>
                            <input type="text" id="street1" class="form-control" ng-model="address.street1"/></div>
                        <div class="col-lg-6">
                            <label for="business">公司</label>
                            <input type="text" id="street2" class="form-control" ng-model="address.street2"/></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="postalCode">邮编</label>
                            <input type="text" id="postalCode" class="form-control" ng-model="address.postalCode"/>
                        </div>
                    </div>
                </div>
                <!--input type="button" ng-click="reset()" value="Reset" /-->
                <div class="form-group">
                    <input type="submit" ng-click="update_user()" class="form-control btn btn-info" value="保存"/>
                </div>
            </form>
        </accordion-group>
    </accordion>

</div>

<div ng-show="view_tab=='ab'">
    <div class="row">
        <div class="col-sm-7">
            收货人：<input type="text" ng-model="recipientLookup"/>
            <button class="btn btn-sm btn-default" ng-click="searchRecipient()">搜索</button>
        </div>

        <div class="col-sm-3">
            <button class="btn btn-sm btn-default" ng-click="addNewAddress()">新增</button>
        </div>
    </div>

    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>收件人</th>
            <th>国家</th>
            <th>省份/直辖市</th>
            <th>城市</th>
            <th>区</th>
            <th>收货地址</th>
            <th>收货地址2</th>
            <th>邮编
            <th>手机</th>
            <th>操作</th>

        </tr>
        </thead>
        <tr ng-repeat="address in recipientAddresses">
            <td ng-bind="address.recipient"></td>
            <td ng-bind="address.country"></td>
            <td ng-bind="address.state"></td>
            <td ng-bind="address.city"></td>
            <td ng-bind="address.suburb"></td>
            <td ng-bind="address.street1"></td>
            <td ng-bind="address.street2"></td>
            <td ng-bind="address.postalCode"></td>
            <td ng-bind="address.contactNumber"></td>
            <td><a ng-click="editAddress(address)">编辑</a> <a ng-click="deleteAddress(address)">删除</a></td>
        </tr>
    </table>
</div>

<div ng-show="view_tab=='ac'">
    <!--this is the content for 仓库地址-->

    <accordion close-others="false">
        <accordion-group is-open="true">
            <accordion-heading>
                唯一的收货地址
            </accordion-heading>
            <div class="jumbotron">
                <p>{{currentUser.realName}}唯一收货地址 </p>
                <!--<address> SE Bollam Dr<br> Clackamas<br> OR 97015 USA <br></address>-->
                <!--<br>{{currentUser.stringId}}-->
                <div class="row">
                    <div class="col-lg-5">
                        <span style="font-weight:bold">名(First Name): </span><span
                                ng-bind="currentUser.stringId"></span>
                    </div>
                    <div class="col-lg-4 col-lg-offset-3">
                        <span style="font-weight:bold">姓(Last Name): </span><span ng-bind="currentUser.realName"></span>
                    </div>
                    <div class="col-lg-8">
                        <span style="font-weight:bold"> 地址(Address): </span><span ng-bind="systemStreet"></span><span
                                style="color:red; font-weight:bold" ng-bind="' ste. ' +currentUser.numberId"></span>
                    </div>
                    <div class="col-lg-4">
                        <span style="font-weight:bold">城市(City): </span><span ng-bind="systemCity"></span>

                    </div>
                    <div class="col-lg-5">
                        <span style="font-weight:bold"> 州/省(State): </span><span ng-bind="systemState"></span>
                    </div>
                    <div class="col-lg-4 col-lg-offset-3">
                        <span style="font-weight:bold"> 邮编(Zip code): </span><span ng-bind="systemZipcode"></span>

                    </div>
                    <!--<div class="col-lg-5">-->

                    <!--</div>-->
                    <!--<div class="col-lg-5 col-lg-offset-2">-->

                    <!--</div>-->
                </div>
            </div>

        </accordion-group>

    </accordion>

</div>

<div ng-show="view_tab=='ba'" ng-controller="ManualCtrl" id="myfreight">
    <!--this is the content for 自助入库-->
    <form>
        <div class="form-group">
            <label for="trackingNumber">运单号（必填）</label>
            <input type="text" class="form-control" ng-model="freightIn.trackingNumber" placeholder="物流运单号" required>
        </div>
        <!--<div class="form-group">-->
        <!--<label for="weight">重量</label>-->
        <!--<input type="number" step="any" min="0" class="form-control" ng-model="freightIn.weight" placeholder="货物重量">-->
        <!--</div>-->
        <div class="form-group">
            <button class="btn btn-success" ng-click="submitFreightIn()">确认提交</button>
        </div>
    </form>

</div>

<div ng-show="view_tab=='bb'">
<!--this is the content for 包裹管理-->
<tabset>
<tab ng-controller="freightInArrivedCtrl">
    <!--this is the content for 待确认入库-->
    <tab-heading>
        待确认入库<span class="badge" style="margin-left:5px;">{{badgeACount}}</span>
    </tab-heading>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>入库单号</th>
            <th>入库时间</th>
            <th>重量</th>
            <th>状态</th>
            <th>反馈</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr ng-repeat="freightIn in freightIns | orderBy:'-createdAt'">
            <td ng-bind="freightIn.trackingNumber"></td>
            <td ng-bind="freightIn.createdAt"></td>
            <td><span ng-bind="freightIn.weight"></span>Lb</td>
            <td ng-bind="freightIn.status"></td>
            <td><button class="btn btn-sm btn-default" ng-click="openNotesWithImage(freightIn)">管理员反馈</button></td>
            <td>
                <button class="btn btn-sm btn-default" ng-click="leaveComments(freightIn)">留言</button>
                <button class="btn btn-sm btn-default" ng-click="checkPackage(freightIn)">开箱检查</button>
                <button class="btn btn-sm btn-info" ng-click="freightInConfirm(freightIn)">确认入库</button>
            </td>
        </tr>
    </table>
</tab>

<tab ng-controller="freightInConfirmedCtrl" ng-click="reloadFreightInConfirmed()">
    <tab-heading>
        已确认入库<span class="badge" style="margin-left:5px;">{{badgeBCount}}</span>
    </tab-heading>

    <table class="table table-striped" style="font-size: 0.9em">
        <thead>
        <th width="10%"> 选择</th>
        <th width="33%">单号信息</th>
        <th width="16%">重量</th>
        <th>预估款</th>
        <th>状态</th>

        </thead>
        <tr ng-repeat="freightIn in freightIns | orderBy:'-createdAt'" border="2">
            <td colspan="5">
                <div class="row freightIn-table">
                    <div class="col-lg-1"><input type="checkbox" ng-model="freightIn.selection"></div>
                    <div class="col-lg-4" style="font-size:0.7em">单号：<span ng-bind="freightIn.trackingNumber"></span>
                    </div>
                    <div class="col-lg-2" style="margin-right:4%"><span ng-bind="freightIn.weight"></span>Lb</div>
                    <div class="col-lg-2">$<span ng-bind="freightIn.estimatePrice"></span></div>
                    <div class="col-lg-2 "><span ng-bind="freightIn.status"></span></div>
                    <!--<div class="col-lg-2"><input style="width:95%; font-size:0.9em; font-weight:normal;" ng-model="freightIn.comments"></div>-->
                    <div class="col-lg-4 col-lg-offset-1" style="font-size:0.7em; margin-top:-5px">创建时间：<span
                                ng-bind="freightIn.createdAt"></span></div>
                </div>
                <div class="row">

                    <div class="col-lg-3">
                        <div class="dropdown">
                            <button id="dLabel" type="button" class="btn btn-xs btn-default"
                                    data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                点此进行分包
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li ng-click="splitPackage(freightIn)">分包裹</li>
                                <li ng-click="splitPackagePremium(freightIn)">精确分包</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        补充说明： <input style="width:80%; font-size:0.9em; font-weight:normal;"
                                     ng-model="freightIn.comments">
                    </div>
                    <div class="col-lg-2 "><a ng-click="generateDeliveryFreight(freightIn)">
                            <button class="btn btn-xs btn-default">直接生成运单</button>
                        </a></div>
                </div>

                <div class="row" style="margin: 10px auto; padding: 2px 0;">

                    <div class="col-lg-3">
                        <span style="font-weight:bolder">我想：</span> <input type="checkbox"
                                                                           ng-model="freightIn.checkboxModel.addPackage"><span>普通加固</span>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" ng-model="freightIn.checkboxModel.reduceWeight"><span>普通减重</span>
                    </div>
                    <!--<div class="col-lg-2">-->
                    <!--<input type="checkbox"-->
                    <!--ng-model="freightIn.checkboxModel.checkPackage"><span>开箱验货</span>-->
                    <!--</div>-->
                    <div class="col-lg-2">
                        <span style="font-weight:bolder">选择收件地址:</span>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-xs btn-default" ng-click="chooseAddress(freightIn)">选择已有</button>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-xs btn-default" ng-click="addNewAddress()">新添</button>
                    </div>
                </div>
                <div class="row" style="margin: 5px auto; padding: 2px 0;">

                    <div class="col-lg-2  col-lg-offset-10" style="margin-right:0; padding-right:0">
                        <button class="btn btn-default" ng-click="generateFreight(freightIn)">生成运单</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-default" ng-click="generateAllFreight()">
        批量生成运单</span>
    </button>

    <button type="button" class="btn btn-default" ng-click="mergePackage()">
        合包</span>
    </button>
</tab>

<tab ng-controller="FreightPendingCtrl" ng-click="reloadFreight()">
    <tab-heading>
        等待包裹处理<span class="badge" style="margin-left:5px;">{{badgeECount}}</span>
    </tab-heading>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <th>单号</th>
        <th>提交时间</th>
        <th>状态</th>
        </thead>
        <tr ng-repeat="freight in freights  | orderBy:'-updatedAt'">
            <td><span ng-bind="freight.id"></span></td>
            <td><span ng-bind="freight.updatedAt"></span></td>
            <td ng-bind="freight.statusToString"></td>
        </tr>
    </table>
</tab>


<tab ng-controller="FreightConfirmedCtrl" ng-click="reloadFreightConfirmed()">
    <!--this is the content for 已生成运单-->
    <tab-heading>
        已生成运单<span class="badge" style="margin-left:5px;">{{badgeCCount}}</span>
    </tab-heading>

    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>选择</th>
            <th>单号</th>
            <th>入库时间</th>
            <th>状态</th>
            <th>重量</th>
            <th>反馈</th>
            <th>备注</th>

        </tr>
        </thead>
        <tr ng-repeat="freight in freights  | orderBy:'-createdAt'">
            <td><input type="checkbox" ng-model="freight.selection" ng-click="selecting(freight)"></td>
            <td ng-bind="freight.id"></td>
            <td ng-bind="freight.createdAt"></td>
            <td ng-bind="freight.statusToString"></td>
            <td ng-bind="freight.weight +'Lb'"></td>
            <td ng-bind="freight.comments"></td>
            <td><textarea placeholder="备注" ng-model="f.notes"></textarea></td>
        </tr>
    </table>
    </p>
    <!--<p>-->
    <!--</p>-->
    <div class="row">
        <col-md-12>
            <hr>
        </col-md-12>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <input type="checkbox" ng-model="confirmTC">
            <a ng-href="/service"><label>同意条款</label></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label>选择运输渠道：<select ng-model="selectedMethod"
                                  ng-options="method.name for method in options"></select></label>
        </div>
        <!--<button class="btn" ng-click="output()">output</button>-->

    </div>

    <div class="row">
        <div class="col-lg-2">
            <input type="checkbox" min="0" ng-model="confirmReward">
            <label>使用YD币<i tooltip="（100YD币可抵$1）"
                          tooltip-placement="top"
                          tooltip-trigger="mouseenter"
                          tooltip-enable="true"
                          class="fa fa-question-circle"></i></label>

        </div>
        <div class="col-lg-2" min="0">
            <input type="checkbox" ng-model="confirmInsurance">
            <label>加保金<i tooltip="保金为物品总价值 x 2%"
                         tooltip-placement="top"
                         tooltip-trigger="mouseenter"
                         tooltip-enable="true"
                         class="fa fa-question-circle"></i></label>

        </div>
        <div class="col-lg-3" min="0">
            <input type="checkbox" ng-model="confirmTaxInsurance">
            <label>加保税金 <i tooltip="保税金至少为物品总价值 x 5%,请输入需要的保税金"
                           tooltip-placement="top"
                           tooltip-trigger="mouseenter"
                           tooltip-enable="true"
                           class="fa fa-question-circle"></i><a ng-href="/service">详情</a></label>

        </div>

    </div>
    <div class="row">
        <div ng-if="confirmInsurance">
            <div class="col-lg-4">
                输入总申报价值（保价）：
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>

                            <input type="number" step="any" class="form-control" ng-model="insurance.value"
                                   id="insuranceValue">

                        </div>
                    </div>
                </form>
                需付保金(自动计算):<span ng-bind="'$' + insurance.amount"></span>
            </div>
        </div>
        <div ng-if="confirmTaxInsurance">
            <div class="col-lg-3">
                输入总保税金比例：
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" step="any" class="form-control" ng-model="taxInsurance.amount"
                                   id="taxInsuranceAmount">

                            <div class="input-group-addon">%</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="confirmReward">
            <div class="col-lg-3 ">
                使用YD币：
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">

                            <input type="number" step="any" class="form-control" ng-model="reward.amount"
                                   id="taxInsuranceAmount">

                            <div class="input-group-addon">分</div>
                        </div>
                    </div>
                </form>
                <label> 现有YD币: <span ng-bind="currentUser.reward"></span></label>
            </div>
        </div>
    </div>
    <!--<p>-->
    <!--总金额：${{confirmInsurance ? confirmTaxInsurance ? total + total*0.02 + total*0.05 : total +-->
    <!--total*0.02 : total}}-->
    <!--</p>-->
    <br>

    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-9 col-lg-3 text-right">
            <div style="font-size:1.5em; color: red; font-weight:bold;">
                <p> 实付金额: <span ng-show="selectedMethod != undefined">${{(selectedMethod.name == "小包裹渠道") ? (confirmInsurance && confirmTaxInsurance && confirmReward) ?
                (totalWeight > 2) ? (smallPackageInitial + smallPackageContinue *(totalWeight - 1) + insurance.value * 0.02 + (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*(totalWeight-1)) - reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ? ((smallPackageInitial + smallPackageContinue * 1) +
                insurance.value * 0.02 + (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*1) - reward.amount/100) : 0 : confirmInsurance &&
                confirmTaxInsurance ? (totalWeight > 2) ? (smallPackageInitial + smallPackageContinue *(totalWeight - 1) + insurance.value * 0.02 +
                (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*(totalWeight-1))) : (totalWeight > 0 && totalWeight <= 2) ? ((smallPackageInitial + smallPackageContinue * 1) + insurance.value * 0.02 +
                (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*1)) : 0 : confirmInsurance && confirmReward ? (totalWeight > 2) ? (smallPackageInitial
                + smallPackageContinue *(totalWeight - 1) + insurance.value * 0.02 - reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ? ((smallPackageInitial + smallPackageContinue * 1) +
                insurance.value * 0.02 - reward.amount/100) : 0 : confirmTaxInsurance && confirmReward ? (totalWeight > 2) ? (smallPackageInitial
                + smallPackageContinue *(totalWeight - 1) + (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*(totalWeight-1)) - reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ? ((smallPackageInitial + smallPackageContinue * 1) + (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*1) - reward.amount/100) : 0 : confirmInsurance ?
                (totalWeight > 2) ? (smallPackageInitial + smallPackageContinue *(totalWeight - 1) + insurance.value * 0.02)  : ((smallPackageInitial + smallPackageContinue * 1) +
                insurance.value * 0.02) : confirmTaxInsurance ? (totalWeight > 2) ? (smallPackageInitial + smallPackageContinue *(totalWeight - 1) +
                (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*(totalWeight-1))) : (totalWeight > 0 && totalWeight <= 2) ? ((smallPackageInitial + smallPackageContinue * 1) +
                (taxInsurance.amount/100)*(smallPackageInitial+smallPackageContinue*1)) : 0 : confirmReward ? (totalWeight > 2) ? (smallPackageInitial + smallPackageContinue
                *(totalWeight - 1) - reward.amount/100) : ((smallPackageInitial + smallPackageContinue * 1) - reward.amount/100) : (totalWeight > 2) ?
                (smallPackageInitial + smallPackageContinue *(totalWeight - 1)) : (totalWeight > 0 && totalWeight <= 2) ? ((smallPackageInitial + smallPackageContinue * 1)- reward.amount/100) : 0 : (confirmInsurance &&
                confirmTaxInsurance && confirmReward) ? (totalWeight > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight - 1) +
                insurance.value * 0.02 + (taxInsurance.amount/100)*(normalPackageInitial+normalPackageContinue*(totalWeight-1)) - reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ?  ((normalPackageInitial + normalPackageContinue *
                1) + insurance.value * 0.02 + (taxInsurance.amount/100)*(normalPackageInitial + normalPackageContinue * 1) - reward.amount/100) : 0 :
                confirmInsurance && confirmTaxInsurance ? (totalWeight > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight - 1) +
                insurance.value * 0.02 + (taxInsurance.amount/100)*(normalPackageInitial + normalPackageContinue *(totalWeight - 1))) : (totalWeight > 0 && totalWeight <= 2) ? ((normalPackageInitial + normalPackageContinue * 1) +
                insurance.value * 0.02 + (taxInsurance.amount/100)*(normalPackageInitial + normalPackageContinue * 1)) : 0 : confirmInsurance && confirmReward ?
                (totalWeight > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight - 1) + insurance.value * 0.02 - reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ? ((normalPackageInitial + normalPackageContinue * 1)
                + insurance.value * 0.02 - reward.amount/100) : 0 : confirmTaxInsurance && confirmReward ? (totalWeight > 2) ? (normalPackageInitial
                + normalPackageContinue *(totalWeight - 1) + (taxInsurance.amount/100)*(normalPackageInitial+normalPackageContinue*(totalWeight-1)) - reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ?  ((normalPackageInitial
                + normalPackageContinue * 1) + (taxInsurance.amount/100)*(normalPackageInitial+normalPackageContinue*1) - reward.amount/100) : 0 : confirmInsurance ? (totalWeight
                > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight - 1) + insurance.value * 0.02) : (totalWeight > 0 && totalWeight <= 2) ? ((normalPackageInitial + normalPackageContinue * 1) + insurance.value * 0.02) : 0 :
                confirmTaxInsurance ? (totalWeight > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight - 1) +
                (taxInsurance.amount/100)*(normalPackageInitial+normalPackageContinue*(totalWeight-1))) : (totalWeight > 0 && totalWeight <= 2) ? ((normalPackageInitial + normalPackageContinue * 1) +
                (taxInsurance.amount/100)*(normalPackageInitial+normalPackageContinue*1)) : 0 : confirmReward ? (totalWeight > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight - 1) -
                reward.amount/100) : (totalWeight > 0 && totalWeight <= 2) ? ((normalPackageInitial + normalPackageContinue * 1) - reward.amount/100) : 0 : (totalWeight > 2) ? (normalPackageInitial + normalPackageContinue *(totalWeight -
                1)) : (totalWeight > 0 && totalWeight <= 2) ? ((normalPackageInitial + normalPackageContinue * 1)- reward.amount/100) : 0 }}</span></p>

            </div>
        </div>
        <div class="col-lg-offset-10 col-lg-2 ">
            <button type="button" class="btn btn-success" ng-click="payment()">
                确认付款
            </button>
        </div>
    </div>

</tab>
<tab ng-controller="FreightDeliveryCtrl" ng-click="reloadFreight()">
    <!--this is the content for 已发货-->
    <tab-heading>
        已发货<span class="badge" style="margin-left:5px;">{{badgeDCount}}</span>
    </tab-heading>
    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>入库单号</th>
            <th>状态</th>
        </tr>
        </thead>
        <tr ng-repeat="freight in freights">
            <td ng-bind="freight.id"></td>
            <td ng-bind="freight.statusToString"></td>
        </tr>


    </table>
</tab>
</tabset>
</div>

<div ng-show="view_tab=='bc'" ng-controller="DashboardSearchCtrl">
    <!--this is the content for 快件查询-->
    <form>
        <div class="form-group">
            <!--<input type="text" name="trackingNumber"  id="trackingNumber" >-->
            <textarea id="trackNumber" class="form-control" cols="40" rows="5" ng-model="trackingNumber"
                      placeholder="每行一个运单"></textarea>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-info" ng-click="trackingInfo()">查询运单</button>
        </div>
    </form>
</div>

<div ng-show="view_tab=='bd'" ng-controller="MyTrackingCtrl">
    <!--this is the content for 我的运单-->
    <table class="table table-striped" style="font-size: 0.9em">
        <thead>
        <th>运单号</th>
        <th>状态</th>
        <th>创建时间</th>
        </thead>
        <tr ng-repeat="f in resultList  | orderBy:'-createdAt'">
            <td ng-bind="f.id"></td>
            <td ng-bind="f.info"></td>
            <td ng-bind="f.createdAt"></td>
        </tr>
    </table>
</div>

<div ng-show="view_tab=='ca'" id="recharge">

    <tabset>
        <tab heading="支付宝充值" ng-controller="ZhifubaoCtrl">
            <table class="table table-striped" style="font-size: 0.9em">
                <thead>
                <th>单号</th>
                <th>金额</th>
                <th>状态</th>
                <th>创建时间</th>
                </thead>
                <tr ng-repeat="t in transactionList  | orderBy:'-createdAt'">
                    <td ng-bind="t.id"></td>
                    <td ng-bind="'$' + t.amount"></td>
                    <td ng-bind="t.status"></td>
                    <td ng-bind="t.createdAt"></td>
                </tr>
            </table>
            <p>
                请将需要充值的金额打到”yunda“支付宝账号，工作人员会在三个工作日之内跟您回复。
            </p>
            <!--<p></p>-->
            <p>支付宝账号：2973508779@qq.com</p>
            <form class="form-inline">
                <div class="form-group">
                    <label for="zhifubao">*支付宝交易号: </label>
                    <input type="text" id="zhifubao" class="form-control" ng-model="record">
                    <span><em style="color:red;">请务必输入正确的支付宝交易号，金额即可到账！</em></span>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputAmount">*充值数额 (￥): </label>

                    <div class="input-group">
                        <div class="input-group-addon">RMB</div>
                        <input type="number" step="any" class="form-control" ng-model="rechargeAmount"
                               id="exampleInputAmount" placeholder="人民币金额">

                        <div class="input-group-addon">.00</div>
                    </div>
                    <i class="glyphicon glyphicon-menu-right"></i>
                    <label class="sr-only" for="exampleInputAmount">数额 (美元)</label>

                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" ng-model="rechargeAmountDollar"
                               id="exampleInputAmount" placeholder="美元金额" disabled>

                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
            </form>
            <button class="btn btn-default" ng-click="zhifubaoPayment()">确认支付</button>

            <!--<button type="submit" class="btn btn-primary">Transfer cash</button>-->

        </tab>
        <tab heading="信用卡充值" ng-controller="RechargeCtrl">
            <!--账户余额($): <span ng-bind="currentUser.balanceInDollar"></span> </br></br>-->

            </br>
            <p>
                为方便广大客户充值操作，现在系统充值链接已经做好，大家在充值的时候需要选择的交易方式是第二个即时到账交易，谢谢！</br>

                支付宝即时到帐服务已开通， 只支持“即时到帐交易”充值，不支持“担保交易”充值</br>

                请不要使用“担保交易”充值，“担保交易”充值为无效充值！</br>

                支付宝自动充值一定要使用即时到账交易，担保交易的无法入账</br>

                若您不小心使用了担保交易，请24小时后，支付宝页面申请退款</br>

                提示，即时到账2次输入的都是支付密码，如果在进入支付宝前，页面没有一次过进入，状态会重新恢复到默认的担保交易，要重新再选择下即时到账交易</br>

                另外国内的支付宝是和IE绑定的，所以当您在充值的时候用选择了别的浏览器比如说搜狗，360之类的浏览器,就有可能会发生明明充值成功，但账户内却没有充值成功的情况。所以现在提醒大家在充值的时候尽量用IE浏览器，谢谢支持
            </p></br></br>
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputAmount">*充值数额 (￥): </label>

                    <div class="input-group">
                        <div class="input-group-addon">RMB</div>
                        <input type="number" step="any" class="form-control" ng-model="CNY"
                               id="exampleInputAmount" placeholder="人民币金额">

                        <div class="input-group-addon">.00</div>
                    </div>
                    <i class="glyphicon glyphicon-menu-right"></i>
                    <label class="sr-only" for="exampleInputAmount">数额 (美元)</label>

                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" step="any" class="form-control" ng-model="USD"
                               id="exampleInputAmount" placeholder="美元金额" disabled>

                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <div class="form-group">
                    <em>充值免手续费(美元/人民币=1/6.4)</em>
                </div>
            </form>
            <!--请输入充值额度(￥): <input type="text" ng-model=""/>-->

            <!--<div ng-if="!USD">美元为：$</div>-->
            <!--<div ng-if="USD">美元为：$<span ng-bind=""></span></div>-->
            </br>
            </br></br>
            <button class="btn btn-info" ng-click="stripePayment()"> 确认充值</button>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>

                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" step="any" class="form-control" ng-model="rechargeAmount"
                               id="exampleInputAmount" placeholder="Amount">

                        <div class="input-group-addon">.00</div>
                    </div>
                    <button class="btn btn-info" ng-click="zhifubaoPayment()">确认支付</button>
                </div>
            </form>
        </tab>

    </tabset>
</div>

<div ng-show="view_tab=='cb'" ng-controller="RechargeRecordCtrl">
    <!--this is the content for 充值记录-->


    <div class="row">

        <div class="col-md-6">
            <h5>起始日期:</h5>

            <p class="input-group">
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-6">
            <h5>截止日期:</h5>

            <p class="input-group">
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2"
                       date-disabled="disabled(date, mode)" ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="pull-right">
        <button class="btn btn-info" ng-click="reloadTransaction()">search</button>
    </div>

    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>单号</th>
            <th>充值金额(美元)</th>
            <th>充值类型</th>
            <th>充值时间</th>
            <th>备注</th>
        </tr>
        </thead>
        <tr ng-repeat="t in transactionList">
            <td ng-bind="t.record"></td>
            <td ng-bind="'$ ' + t.amount"></td>
            <td ng-bind="t.status"></td>
            <td ng-bind="t.createdAt"></td>
            <!--<td>pending</td>-->
            <!--<td ng-bind="freightIn.notes"></td>-->
            <!--<td>-->
            <!--<button class="btn btn-info" ng-click="freightInConfirm(freightIn)">确认入库</button>-->

            <!--</td>-->
        </tr>
    </table>
</div>

<div ng-show="view_tab=='cc'" ng-controller="ConsumeRecordCtrl">
    <!--this is the content for 消费记录-->


    <div class="row">

        <div class="col-md-6">
            <h5>起始日期:</h5>

            <p class="input-group">
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-6">
            <h5>截止日期:</h5>

            <p class="input-group">
                <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2"
                       date-disabled="disabled(date, mode)" ng-required="true"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

    </div>
    <div class="pull-right">
        <button class="btn btn-info" ng-click="reloadTransaction()">search</button>
    </div>

    <table class="table table-hover" style="font-size: 0.9em">
        <thead>
        <tr>
            <th>单号</th>
            <th>消费金额</th>
            <th>消费类型</th>
            <th>消费时间</th>
            <th>备注</th>
        </tr>
        </thead>
        <tr ng-repeat="t in transactionList">
            <td ng-bind="t.record"></td>
            <td ng-bind="'-$ ' + t.amount"></td>
            <td ng-bind="t.status"></td>
            <td ng-bind="t.createdAt"></td>

        </tr>
    </table>
</div>

<div ng-show="view_tab=='da'" ng-controller="ReturnBalanceCtrl">
    <!--this is the content for 退款管理-->


    <table class="table table-striped" style="font-size: 0.9em">
        <thead>
        <th>
            退款号
        </th>
        <th>
            申请时间
        </th>
        <th>
            状态
        </th>
        <th>
            退款金额
        </th>
        <th>管理员退款证据</th>
        </thead>
        <tr ng-repeat="t in transactionList">
            <td ng-bind="t.id"></td>
            <td ng-bind="t.createdAt"></td>
            <td ng-bind="t.status"></td>
            <td ng-bind="t.amount"></td>
            <td><a target="_blank" ng-href="{{t.adminEvidence}}">点此下载</a></td>
        </tr>
    </table>

    <h3>申请退款</h3>

    <form>
        <div class="form-group">
            <label for="address">退款金额（必填）</label>
            $<input type="number" step="any" min="0" class="form-control" ng-model="returnAmount" required>
        </div>
        <div class="form-group">
            <label for="address">支付宝账号（必填）</label>
            <input type="text" class="form-control" ng-model="returnBalance.zhifubao" required>
        </div>
        <div class="form-group">
            <label for="reason">退款理由</label>
            <input type="text" class="form-control" ng-model="returnBalance.reason">
        </div>
        <button class="btn btn-info" ng-click="applyReturn()">申请退款</button>
    </form>
</div>

<div ng-show="view_tab=='db'" ng-controller="ReturnGoodsCtrl">
    <!--this is the content for 退货管理-->
    <table class="table table-striped" style="font-size: 0.9em">
        <thead>
        <th>
            退货单号
        </th>
        <th>
            申请时间
        </th>
        <th>
            状态
        </th>
        <th>
            支付金额
        </th>
        <th>
            操作
        </th>
        </thead>
        <tr ng-repeat="freight in returnList">
            <td ng-bind="freight.trackingNumber"></td>
            <td ng-bind="freight.createdAt"></td>
            <td ng-bind="freight.status"></td>
            <td ng-bind="freight.amount"></td>
            <td>
                <button class="btn btn-info" ng-click="confirmReturn(freight)">确认退货</button>
            </td>
        </tr>
    </table>

    <h3>申请退货</h3>

    <form>
        <div class="form-group">
            <label for="trackingNumber">输入运单号</label>
            <input type="text" class="form-control" ng-model="returnFreight.trackingNumber" required>
        </div>
        <div class="form-group">
            <label for="address">地址（必填）</label>
            <input type="text" class="form-control" ng-model="returnFreight.address" required>
        </div>
        <div class="form-group">
            <label for="reason">退货理由</label>
            <input type="text" class="form-control" ng-model="returnFreight.reason">
        </div>
        <button class="btn btn-info" ng-click="applyReturn()">申请退货</button>
    </form>
</div>

<div ng-show="view_tab=='dc'" ng-controller="ChangeAddressCtrl">
    <!--this is the content for 更改地址-->
    <table class="table table-striped" style="font-size: 0.9em">
        <thead>
        <th>
            单号
        </th>
        <th>
            申请时间
        </th>
        <th>
            状态
        </th>
        <th>
            管理员证据
        </th>

        </thead>
        <tr ng-repeat="freight in freights">
            <td ng-bind="freight.id"></td>
            <td ng-bind="freight.createdAt"></td>
            <td ng-bind="freight.status"></td>
            <div ng-if="freight.hasEvidence">
                <td><a target="_blank" ng-href="{{freight.adminEvidence.url()}}">点此下载</a></td>
            </div>

        </tr>
    </table>

    <h3>申请改地址</h3>

    <form>
        <div class="form-group">
            <label for="id">输入运单号（必填）</label>
            <input type="text" class="form-control" ng-model="changeAddressFreight.reference" required>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <button class="btn btn-default" ng-click="chooseRecipient()">选择收件人地址</button>
                <button class="btn btn-sm btn-default" ng-click="addNewRecipient()">添加新收件人</button>
            </div>
            <div class="col-md-3">

            </div>

        </div>
        <!--<div class="form-group">-->
        <!--<label for="address">收件人（必填）</label>-->
        <!--<input type="text" class="form-control" ng-model="changeAddressFreight.recipient" required>-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<label for="address">地址（必填）</label>-->
        <!--<input type="text" class="form-control" ng-model="changeAddressFreight.address" required>-->
        <!--</div>-->

        <button class="btn btn-info" ng-click="applyChangeAddress()">申请改地址</button>
    </form>
</div>
</div>
<!-- col-sm-9 -->
</div>
<!-- Row -->
</div>

