<div class="container" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-sm-3">
            <accordion close-others="oneAtATime">
                <accordion-group heading="账户管理" >
                    <ul>
                        <li ng-click="change_tab('aa')">账户信息</li>
                        <li ng-click="change_tab('ab')">地址管理</li>
                        <li ng-click="change_tab('ac')">仓库地址</li>
                    </ul>
                </accordion-group>

                <accordion-group heading="物流管理">
                    <ul>
                        <li ng-click="change_tab('ba')">自助入库</li>
                        <li ng-click="change_tab('bb')">包裹管理</li>
                        <li ng-click="change_tab('bc')">快件查询</li>
                        <li ng-click="change_tab('bd')">我的运单</li>
                    </ul>
                </accordion-group>

                <accordion-group heading="财务管理">
                    <ul>
                        <li ng-click="change_tab('ca')">在线充值</li>
                        <li ng-click="change_tab('cb')">充值记录</li>
                        <li ng-click="change_tab('cc')">消费记录</li>
                    </ul>
                </accordion-group>

                <accordion-group heading="自助管理">
                    <ul>
                        <li ng-click="change_tab('da')">退款管理</li>
                        <li ng-click="change_tab('db')">退货管理</li>
                    </ul>
                </accordion-group>
            </accordion>
        </div><!-- col-sm-3 -->

        <div class="col-sm-9">
            <div ng-show="view_tab=='aa'">
                this is the content for 账户信息
                <accordion close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading id="info">
                           会员信息
                        </accordion-heading>
                      <p>用户名：<span ng-bind="currentUser.username"></span> <a ng-click="updatePassword()">修改密码</a></p>
                      <p>姓名：<span ng-bind="currentUser.realName"></span></p>
                      <form ng-controller="fileUploadCtrl">
                          <div class="form-group">
                              <label for="id-front">身份证正面</label>
                              <input type="file" class="form-control" onchange="angular.element(this).scope().filesChangedFront(this)" />
                          </div>
                          <div class="form-group">
                              <label for="id-front">身份证反面面</label>
                              <input type="file" class="form-control" onchange="angular.element(this).scope().filesChangedBack(this)"  />
                          </div>
                              <li ng-repeat="file in identityFrontList"> {{file.name}}</li>
                              <li ng-repeat="file in identityBackList"> {{file.name}}</li>
                          <div class="form-group">
                              <button class="btn btn-info form-control" ng-click="uploadIdentity()"> 上传 </button>
                          </div>
                      </form>

                    </accordion-group>

                    <accordion-group is-open="true">
                        <accordion-heading id="info3">
                            财务信息
                        </accordion-heading>
                        <p>客户余额：$<span ng-bind="currentUser.balance"></span></p>
                        <p>兑换汇率：美元/人民币=1/6.4</p>
                    </accordion-group>

                    <accordion-group is-open="true">
                        <accordion-heading>
                            修改个人资料
                        </accordion-heading>
                        <form ng-controller="UpdateUserCtrl">
                            <div class="form-group">
                                姓名: <input type="text" class="form-control" ng-model="currentUser.realName"/></div>
                            <div class="form-group">

                                手机号: <input type="tel" class="form-control" name="tel"
                                            ng-model="currentUser.mobilePhoneNumber"/></div>

                            <div class="form-group">
                                <label for="baidumap">地址</label></div>
                            <div class="form-group">
                                <label for="province">国家</label>
                                <input type="text" class="form-control" id="country" ng-model="address.country"/></div>
                            <div class="form-group">
                                <label for="province">省</label>
                                <input type="text" id="state" class="form-control" ng-model="address.state"/></div>
                            <div class="form-group">
                                <label for="city">市</label>
                                <input type="text" id="city" class="form-control" ng-model="address.city"/></div>
                            <div class="form-group">
                                <label for="suburb">区</label>
                                <input type="text" id="suburb" class="form-control" ng-model="address.suburb"/></div>
                            <div class="form-group">
                                <label for="street">街道</label>
                                <input type="text" id="street1" class="form-control" ng-model="address.street1"/></div>
                            <div class="form-group">
                                <label for="business">公司</label>
                                <input type="text" id="street2" class="form-control" ng-model="address.street2"/></div>
                            <div class="form-group">
                                <label for="postalCode">邮编</label>
                                <input type="text" id="postalCode" class="form-control" ng-model="address.postalCode"/>
                            </div>
                            <!--input type="button" ng-click="reset()" value="Reset" /-->
                            <div class="form-group">
                                <input type="submit" ng-click="update_user()" class="form-control btn btn-success" value="Save"/></div>
                        </form>
                    </accordion-group>
                </accordion>

            </div>

            <div ng-show="view_tab=='ab'">
                <div class="row">
                    <div class="col-sm-7">
                        收货人：<input type="text" ng-model="recipientLookup" />
                    </div>
                    <div class="col-sm-2">
                        <button ng-click="searchRecipient()">搜索</button>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="addNewAddress()">新增</button>
                    </div>
                </div>

                    <table class="table table-hover" style="font-size: 0.9em">
                        <thead>
                        <tr>
                            <th>收件人</th>
                            <th>国家</th>
                            <th>省份/直辖市</th>
                            <th>城市</th>
                            <th>区</th>
                            <th>收货地址</th>
                            <th>收货地址2</th>
                            <th>邮编
                            <th>手机</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="address in recipientAddresses">
                            <td ng-bind="address.recipient"></td>
                            <td ng-bind="address.country"></td>
                            <td ng-bind="address.state"></td>
                            <td ng-bind="address.city"></td>
                            <td ng-bind="address.suburb"></td>
                            <td ng-bind="address.street1"></td>
                            <td ng-bind="address.street2"></td>
                            <td ng-bind="address.postalCode"></td>
                            <td ng-bind="address.contactNumber"></td>
                            <td><a ng-click="editAddress(address)">编辑</a> <a ng-click="deleteAddress(address)">删除</a></td>
                        </tr>
                    </table>
            </div>

            <div ng-show="view_tab=='ac'">
                <!--this is the content for 仓库地址-->

                <accordion close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            主仓库地址
                        </accordion-heading>
                        <p> This is address </p>
                    </accordion-group>

                    <accordion-group is-open="true">
                        <accordion-heading>
                            副仓库地址
                        </accordion-heading>
                        <p> This is address </p>
                    </accordion-group>
                </accordion>

            </div>

            <div ng-show="view_tab=='ba'" ng-controller="ManualCtrl" id="myfreight">
                <!--this is the content for 自助入库-->
                <form>
                    <div class="form-group">
                        <label for="trackingNumber">运单号（必填）</label>
                        <input type="text" class="form-control" ng-model="freightIn.trackingNumber" placeholder="物流运单号" required>
                    </div>
                    <div class="form-group">
                        <label for="weight">重量</label>
                        <input type="number" step="any" min="0" class="form-control" ng-model="freightIn.weight" placeholder="货物重量">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="submitFreightIn()">确认提交</button>
                    </div>
                </form>

            </div>

            <div ng-show="view_tab=='bb'">
                this is the content for 包裹管理
                <tabset >
                    <tab heading="待确认入库" ng-controller="freightInArrivedCtrl">
                        <!--this is the content for 待确认入库-->
                        <table class="table table-hover" style="font-size: 0.9em">
                            <thead>
                            <tr>
                                <th>入库单号</th>
                                <th>入库时间</th>
                                <th>重量</th>
                                <th>状态</th>
                                <th>回复</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="freightIn in freightIns">
                                <td ng-bind="freightIn.trackingNumber"></td>
                                <td ng-bind="freightIn.createdAt"></td>
                                <td ng-bind="freightIn.weight"></td>
                                <td>pending</td>
                                <td ng-bind="freightIn.comments"></td>
                                <td>
                                    <button class="btn btn-info" ng-click="freightInConfirm(freightIn)">确认入库</button>
                                </td>
                            </tr>
                        </table>
                    </tab>

                    <tab heading="已确认入库" ng-controller="freightInConfirmedCtrl" ng-click="reloadFreightInConfirmed()">
                        <button type="button" class="btn btn-info" ng-click="generateAllFreight()">
                            批量生成运单</span>
                        </button>

                        <button type="button" class="btn btn-info" ng-click="mergePackage()">
                            合包</span>
                        </button>

                        <table class="table table-striped" style="font-size: 0.9em">
                            <thead>
                            <div class="col-lg-1"><th>选择</th></div>
                            <div class="col-lg-1"><th>重量</th></div>
                            <div class="col-lg-1"><th>预估款</th></div>
                            <div class="col-lg-5"><th>状态</th></div>
                            <div class="col-lg-4"><th>备注</th></div>
                            </thead>
                            <tr ng-repeat="freightIn in freightIns" border="2">
                                <td colspan="5">
                                    <div class="row"
                                         style="background-color: #a6e1ec; font-size: 0.9em; margin: 0px auto 2px auto; padding: 2px 0;">
                                        <div class="col-lg-3"><span ng-bind="freightIn.trackingNumber"></span></div>
                                        <div class="col-lg-5" ><span ng-bind="freightIn.createdAt"></span></div>
                                        <div class="col-lg-3 col-lg-offset-1"><a ng-click="generateDeliveryFreight(freightIn)">直接生成运单</a></div>
                                    </div>
                                    <div class="row" style="margin: 2px auto; padding: 2px 0;">
                                        <div class="col-lg-2"><input type="checkbox" ng-model="freightIn.selection"></div>
                                        <div class="col-lg-2" style="margin-right:4%"><span ng-bind="freightIn.weight"></span>kg</div>
                                        <div class="col-lg-3" >$<span ng-bind="freightIn.estimatePrice"></span></div>
                                        <div class="col-lg-2 "><span ng-bind="freightIn.status"></span>
                                        </div>
                                        <div class="col-lg-2"><input style="width:95%" ng-model="freightIn.comments"></div>

                                    </div>
                                    <div class="row" style="margin: 2px auto; padding: 2px 0;">
                                        <div class="col-lg-2 col-lg-offset-2">
                                            <input type="checkbox" ng-model="freightIn.checkboxModel.addPackage"><span>普通加固</span>
                                        </div>
                                        <div class="col-lg-2">
                                            <input type="checkbox" ng-model="freightIn.checkboxModel.reduceWeight"><span>普通减重</span>
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="checkbox"
                                                   ng-model="freightIn.checkboxModel.checkPackage"><span>开箱验货（收费）</span>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 2px auto; padding: 2px 0;">
                                        <div class="col-lg-12">
                                            <div class="dropdown">
                                                <button id="dLabel" type="button" class="btn"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false" style="width:100%">
                                                    <div ng-if="!freightIn.address">
                                                        <span>请选择收件地址...</span>
                                                        <span class="caret"></span>

                                                    </div>
                                                    <div ng-if="freightIn.address">
                                                    <span ng-bind="freightIn.address.recipient"></span> - <span
                                                                ng-bind="freightIn.address.country"></span><span
                                                                ng-bind="freightIn.address.state"></span><span
                                                                ng-bind="freightIn.address.city"></span><span
                                                                ng-bind="freightIn.address.suburb"></span></span><span
                                                                ng-bind="freightIn.address.street1"></span><span
                                                                ng-bind="freightIn.address.street2"></span>
                                                        <span class="caret"></span>

                                                    </div>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"
                                                    ng-repeat="address in addressList">
                                                    <li ng-click="chooseRecipient(freightIn, address)"><span
                                                                ng-bind="address.recipient"></span> - <span
                                                                ng-bind="address.country"></span><span
                                                                ng-bind="address.state"></span><span
                                                                ng-bind="address.city"></span><span
                                                                ng-bind="address.suburb"></span></span><span
                                                                ng-bind="address.street1"></span><span
                                                                ng-bind="address.street2"></span></li>
                                                </ul>
                                            </div>
                                            <!--<select ng-options="add.country for add in addressList">-->
                                            <!--</select>-->
                                            <!---->
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 2px auto; padding: 2px 0;">
                                        <div class="col-lg-2 col-lg-offset-8">
                                            <div class="dropdown">
                                                <button id="dLabel" type="button" class="btn btn-info"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    分包
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <li ng-click="splitPackage(freightIn)">分包裹</li>
                                                    <li ng-click="splitPackagePremium(freightIn)">精确分包</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <button class="btn btn-info" ng-click="generateFreight(freightIn)">生成运单</button>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                        </table>
                        <button type="button" class="btn btn-info" ng-click="generateAllFreight()">
                            批量生成运单</span>
                        </button>
                    </tab>



                    <tab heading="已生成运单" ng-controller="FreightConfirmedCtrl" ng-click="reloadFreightConfirmed()">
                        this is the content for 已生成运单
                        <table class="table table-hover" style="font-size: 0.9em">
                            <thead>
                            <tr>
                                <th>选择</th>
                                <th>入库单号</th>
                                <th>入库时间</th>
                                <th>状态</th>
                                <th>重量</th>
                                <th>反馈</th>
                                <th>备注</th>

                            </tr>
                            </thead>
                            <tr ng-repeat="freight in freights">
                                <td><input type="checkbox" ng-model="freight.selection" ng-click="selecting(freight)"></td>
                                <td ng-bind="freight.estimatedPrice"></td>
                                <td ng-bind="freight.createdAt"></td>
                                <td ng-bind="freight.statusToString"></td>
                                <td ng-bind="freight.weight"></td>
                                <td ng-bind="freight.comments"></td>
                                <td><textarea placeholder="备注" ng-model="f.notes"></textarea></td>

                            </tr>
                        </table>
                        总金额：$<span ng-bind="total"></span>
                        <div style="width:20%" class="pull-right">
                            <div class="row">

                                <input type="checkbox" class="col-lg-1" ng-model="confirmTC">
                                <label class="col-lg-11">同意条款</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" class="col-lg-1" ng-model="confirmInsurance" ng-click="addInsurance()">
                                <label class="col-lg-11">添加保金</label>
                            </div>
                            <div class="row">
                                <input type="checkbox" class="col-lg-1" ng-model="confirmTaxInsurance" ng-click="addTaxInsurance()">
                                <label class="col-lg-11">添加保税金</label>
                            </div>

                            <button type="button" class="btn btn-info" ng-click="payment()">
                                确认付款
                            </button>
                        </div>
                    </tab>
                    <tab heading="已发货" ng-controller="FreightDeliveryCtrl" ng-click="reloadFreight()">
                        this is the content for 已发货
                        <table class="table table-hover" style="font-size: 0.9em">
                            <thead>
                            <tr>
                                <th>入库单号</th>
                                <th>状态</th>
                            </tr>
                            </thead>
                            <tr ng-repeat="freight in freights">
                                <td ng-bind="freight.trackingNumber"></td>
                                <td ng-bind="freight.statusToString"></td>
                            </tr>


                        </table>
                    </tab>
                </tabset>
            </div>

            <div ng-show="view_tab=='bc'" ng-controller="DashboardSearchCtrl">
                <!--this is the content for 快件查询-->
                <form>
                    <div class="form-group" >
                        <!--<input type="text" name="trackingNumber"  id="trackingNumber" >-->
                        <textarea id="trackNumber" class="form-control" cols="40" rows="5" ng-model="trackingNumber"
                                  placeholder="每行一个运单"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="form-control btn btn-info" ng-click="trackingInfo()">查询运单</button>
                    </div>
                </form>
            </div>

            <div ng-show="view_tab=='bd'" ng-controller="MyTrackingCtrl">
                <!--this is the content for 我的运单-->
                    <table class="table table-striped" style="font-size: 0.9em">
                        <thead>
                        <th>运单号</th>
                        <th>状态</th>
                        <th>创建时间</th>
                        </thead>
                        <tr ng-repeat="f in resultList">
                            <td ng-bind="f.trackingNumber"></td>
                            <td ng-bind="f.info"></td>
                            <td ng-bind="f.createdAt"></td>
                        </tr>
                    </table>
            </div>

            <div ng-show="view_tab=='ca'" id="recharge">

                <tabset>
                    <tab heading="支付宝充值" ng-controller="ZhifubaoCtrl">
                        <p>
                             请将需要充值的金额打到”yunda“支付宝账号，工作人员会在X个工作日之内跟您回复。
                        </p>

                        <button class="btn btn-info" ng-click="zhifubaoPayment()">确认支付</button>

                    </tab>
                    <tab heading="信用卡充值" ng-controller="RechargeCtrl">
                        账户余额($): <span ng-bind="currentUser.balance"></span> </br></br>

                        </br></br>
                        <p>
                            为方便广大客户充值操作，现在系统充值链接已经做好，大家在充值的时候需要选择的交易方式是第二个即时到账交易，谢谢！

                            支付宝即时到帐服务已开通， 只支持“即时到帐交易”充值，不支持“担保交易”充值

                            请不要使用“担保交易”充值，“担保交易”充值为无效充值！

                            支付宝自动充值一定要使用即时到账交易，担保交易的无法入账

                            若您不小心使用了担保交易，请24小时后，支付宝页面申请退款

                            提示，即时到账2次输入的都是支付密码，如果在进入支付宝前，页面没有一次过进入，状态会重新恢复到默认的担保交易，要重新再选择下即时到账交易

                            另外国内的支付宝是和IE绑定的，所以当您在充值的时候用选择了别的浏览器比如说搜狗，360之类的浏览器,就有可能会发生明明充值成功，但账户内却没有充值成功的情况。所以现在提醒大家在充值的时候尽量用IE浏览器，谢谢支持
                        </p></br></br>

                        请输入充值额度(￥): <input type="text" ng-model="CNY"/>
                        <div ng-if="!USD">美元为：$</div> <div ng-if="USD">美元为：$<span ng-bind="USD"></span></div></br>
                        <em>充值免手续费(美元/人民币=1/6.4)</em></br></br>

                        <button class="btn btn-info" ng-click="stripePayment()"> 确认充值</button>
                    </tab>

                </tabset>
            </div>

            <div ng-show="view_tab=='cb'" ng-controller="RechargeRecordCtrl">
                <!--this is the content for 充值记录-->


                <div class="row">
                    <h5>起始日期:</h5>
                    <div class="col-md-5">
                        <p class="input-group">
                            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"   date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <h5>截止日期:</h5>
                    <div class="col-md-5">
                        <p class="input-group">
                            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2"   date-disabled="disabled(date, mode)" ng-required="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-info" ng-click="reloadTransaction()">search</button>
                    </div>
                </div>

                <table class="table table-hover" style="font-size: 0.9em">
                    <thead>
                    <tr>
                        <th>单号</th>
                        <th>充值金额(美元)</th>
                        <th>消费类型</th>
                        <th>消费时间</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="t in transactionList">
                    <td ng-bind="t.record"></td>
                    <td ng-bind="'$ ' + t.amount"></td>
                    <td ng-bind="t.status"></td>
                    <td ng-bind="t.createdAt"></td>
                    <!--<td>pending</td>-->
                    <!--<td ng-bind="freightIn.notes"></td>-->
                    <!--<td>-->
                    <!--<button class="btn btn-info" ng-click="freightInConfirm(freightIn)">确认入库</button>-->

                    <!--</td>-->
                    </tr>
                </table>
            </div>

            <div ng-show="view_tab=='cc'" ng-controller="ConsumeRecordCtrl">
                <!--this is the content for 消费记录-->

                <h4>起始日期:</h4>
                <div class="row">
                    <div class="col-md-5">
                        <p class="input-group">
                            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="opened1"  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>

                    <div class="col-md-5">
                        <p class="input-group">
                            <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="dt2" is-open="opened2"  date-disabled="disabled(date, mode)" ng-required="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" ng-click="reloadTransaction()">search</button>
                    </div>
                </div>

                    <table class="table table-hover" style="font-size: 0.9em">
                        <thead>
                        <tr>
                            <th>单号</th>
                            <th>消费金额</th>
                            <th>消费类型</th>
                            <th>消费时间</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tr ng-repeat="t in transactionList">
                            <td ng-bind="t.record"></td>
                            <td ng-bind="'-$ ' + t.amount"></td>
                            <td ng-bind="t.status"></td>
                            <td ng-bind="t.createdAt"></td>

                        </tr>
                    </table>
            </div>

            <div ng-show="view_tab=='da'">
                this is the content for 退款管理

                <p>
                    想退款
                </p>
                </br>
                <button class="btn btn-info">联系客服</button>
            </div>

            <div ng-show="view_tab=='db'" ng-controller="ReturnCtrl">
                <!--this is the content for 退货管理-->
                <table class="table table-striped" style="font-size: 0.9em">
                    <thead>
                    <th>
                        退货单号
                    </th>
                    <th>
                        申请时间
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        支付金额
                    </th>
                    <th>
                        操作
                    </th>
                    </thead>
                    <tr ng-repeat="freight in returnList">
                        <td ng-bind="freight.trackingNumber"></td>
                        <td ng-bind="freight.createdAt"></td>
                        <td ng-bind="freight.status"></td>
                        <td ng-bind="freight.amount"></td>
                        <td><button class="btn btn-info" ng-click="confirmReturn(freight)">确认退货</button></td>
                    </tr>
                </table>

                <h3>申请退货</h3>
                <form>
                    <div class="form-group">
                    <label for="trackingNumber">输入运单号</label>
                    <input type="text" class="form-control"  ng-model="returnFreight.trackingNumber" required>
                    </div>
                    <!--<div class="dropdown">-->
                        <!--<button id="dLabel" type="button" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--　选择包裹-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-repeat="address in addressList">-->
                            <!--<li ng-click="chooseRecipient(freightIn, address)"><span ng-bind="address.street1"></span><span ng-bind="address.street2"></span></li>-->
                        <!--</ul>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label for="address">地址（必填）</label>
                        <input type="text" class="form-control" ng-model="returnFreight.address" required>
                    </div>
                    <div class="form-group">
                        <label for="reason">退款理由</label>
                        <input type="text" class="form-control" ng-model="returnFreight.reason">
                    </div>
                    <button class="btn btn-info" ng-click="applyReturn()">申请退货</button>
                </form>
            </div>
        </div> <!-- col-sm-9 -->
    </div><!-- Row -->
</div>

