<div class="container" ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-sm-3">
            <accordion close-others="oneAtATime">
                <accordion-group heading="账户管理">
                    <ul>
                        <li ng-click="change_tab('aa')">账户信息</li>
                        <li ng-click="change_tab('ab')">地址管理</li>
                        <li ng-click="change_tab('ac')">仓库地址</li>
                    </ul>
                </accordion-group>

                <accordion-group heading="物流管理">
                    <ul>
                        <li ng-click="change_tab('ba')">自助入库</li>
                        <li ng-click="change_tab('bb')">包裹管理</li>
                        <li ng-click="change_tab('bc')">快件查询</li>
                        <li ng-click="change_tab('bd')">我的运单</li>
                    </ul>
                </accordion-group>

                <accordion-group heading="财务管理">
                    <ul>
                        <li ng-click="change_tab('ca')">在线充值</li>
                        <li ng-click="change_tab('cb')">充值记录</li>
                        <li ng-click="change_tab('cc')">消费记录</li>
                    </ul>
                </accordion-group>

                <accordion-group heading="自助管理">
                    <ul>
                        <li ng-click="change_tab('da')">退款管理</li>
                        <li ng-click="change_tab('db')">退货管理</li>
                    </ul>
                </accordion-group>
            </accordion>
        </div><!-- col-sm-3 -->

        <div class="col-sm-9">
            <div ng-show="view_tab=='aa'">
                this is the content for 账户信息
                <accordion close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading>
                           会员信息
                        </accordion-heading>
                      <p>用户名：<span ng-bind="currentUser.username"></span> <a ng-click="updatePassword()">修改密码</a></p>
                      <p>登陆邮箱：<span ng-bind="currentUser.addressId"></span></p>
                    </accordion-group>

                    <accordion-group is-open="true">
                        <accordion-heading>
                            财务信息
                        </accordion-heading>
                        <p>客户余额：$<span ng-bind="currentUser.balance"></span></p>
                        <p>兑换汇率：美元/人民币=1/6.4</p>
                    </accordion-group>

                    <accordion-group is-open="true">
                        <accordion-heading>
                            修改个人资料
                        </accordion-heading>

                        <div>

                        <form novalidate class="form-group">
                            姓名: <input type="text" ng-bind="currentUser.realName" /><br />
                            手机号: <input type="tel" pattern="[0-9]" name="tel" ng-bind="currentUser.mobilePhoneNumber"/><br />
                            性别: <input type="radio" ng-bind="currentUser.gender" value="male" />male
                            <input type="radio" ng-bind="currentUser.gender" value="female" />female<br />


                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="baidumap">地址</label></br>
                                    <label for="province">省</label>
                                    <input type="text" id="province"/></br>
                                    <label for="city">市</label>
                                    <input type="text" id="city"/></br>
                                    <label for="suburb">区</label>
                                    <input type="text" id="suburb"/></br>
                                    <label for="street">街道</label>
                                    <input type="text" id="street"/></br>
                                    <label for="business">公司</label>
                                    <input type="text" id="business"/></br>
                                </div>
                            </div>

                            <!--input type="button" ng-click="reset()" value="Reset" /-->
                            <input type="submit" ng-click="update_user()" value="Save" />
                        </form>
                        </div>
                    </accordion-group>
                </accordion>

            </div>

            <div ng-show="view_tab=='ab'">
                <div class="row">
                    <div class="col-sm-7">
                        收货人：<input type="text" ng-model="recipientLookup" />
                    </div>
                    <div class="col-sm-2">
                        <button ng-click="searchRecipient()">搜索</button>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="addNewAddress()">新增</button>
                    </div>
                </div>

                <div class="row">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>收件人</th>
                            <th>国家</th>
                            <th>省份/直辖市</th>
                            <th>城市</th>
                            <th>区</th>
                            <th>收货地址</th>
                            <th>收货地址2</th>
                            <th>邮编
                            <th>手机</th>
                            <th>操作</th>



                        </tr>
                        </thead>
                        <tr ng-repeat="address in recipientAddresses">
                            <td ng-bind="address.recipient"></td>
                            <td ng-bind="address.country"></td>
                            <td ng-bind="address.state"></td>
                            <td ng-bind="address.city"></td>
                            <td ng-bind="address.suburb"></td>
                            <td ng-bind="address.street1"></td>
                            <td ng-bind="address.street2"></td>
                            <td ng-bind="address.postalCode"></td>
                            <td ng-bind="address.contactNumber"></td>
                            <td><a ng-click="editAddress(address)">编辑</a> <a ng-click="deleteAddress(address)">删除</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-show="view_tab=='ac'">
                this is the content for 仓库地址

                <accordion close-others="false">
                    <accordion-group is-open="true">
                        <accordion-heading>
                            主仓库地址
                        </accordion-heading>
                        <p> This is address </p>
                    </accordion-group>

                    <accordion-group is-open="true">
                        <accordion-heading>
                            副仓库地址
                        </accordion-heading>
                        <p> This is address </p>
                    </accordion-group>
                </accordion>

            </div>

            <div ng-show="view_tab=='ba'">
                this is the content for 自助入库

            </div>

            <div ng-show="view_tab=='bb'">
                this is the content for 包裹管理
                <tabset>
                    <tab heading="待确认入库" >
                        this is the content for 待确认入库

                    </tab>
                    <tab heading="已确认入库">
                        this is the content for 已确认入库
                    </tab>
                    <tab heading="已生成运单">
                        this is the content for 已生成运单
                    </tab>
                    <tab heading="已发货">
                        this is the content for 已发货

                    </tab>
                </tabset>
            </div>

            <div ng-show="view_tab=='bc'">
                this is the content for 快件查询
            </div>

            <div ng-show="view_tab=='bd'">
                this is the content for 我的运单
            </div>

            <div ng-show="view_tab=='ca'">
                this is the content for 在线充值
            </div>

            <div ng-show="view_tab=='cb'">
                this is the content for 充值记录
            </div>

            <div ng-show="view_tab=='cc'">
                this is the content for 消费记录
            </div>

            <div ng-show="view_tab=='da'">
                this is the content for 退款管理
            </div>

            <div ng-show="view_tab=='db'">
                this is the content for 退货管理
            </div>
        </div> <!-- col-sm-9 -->
    </div><!-- Row -->
</div>

