<div class="container">
<div class="row">
    <div class="col-lg-2">
        <img alt="logo" src="http://placehold.it/140x45">
    </div>
</div>

    <div id="email-body">
        <p style="font-weight:bold">尊敬的YunDa客户：</p>
        <p>您好！<br>
            感谢您使用昀達物流。您的包裹：（此处为yunda物流号）。已经打包发货啦！<br>
            详细的物流信息可登入官网查询。<a href="yunda.avosapps.com">（此处添加官网）</a><br>
            <br><br>

            感谢您的使用！<br>

            您的物流小助手：昀達。<br>
            20xx年x月x日
        </p>
    </div>

</div>