<!-- Page Content -->
<div class="container">
<h3 class="text-center">常见问题</h3>
<p><span class="help-question">Q: 如何加入YD？</span></p>
<p>A:  注册成为YD会员，进入会员中心，即可获得专属的YD收货地址，可以根据客人具体需求，通过美国快递或自行送达YD仓库。包裹到达仓库后，可以根据网站提示进行在线操作，完成包裹转运。</p>
    <p><span class="help-question">Q: 忘记密码或者会员名怎么办？</span></p>
<p>A:  在官网首页选择找回密码，相关会员信息会发到您的邮箱的，查收即可。</p>
        <p><span class="help-question">Q: 在购物网站下完单后怎么操作？</span></p>
<p>A:  如果需要对包裹进行分箱，合箱，验货，退货等操作，可在包裹管理模块操作；如果包裹不需要分箱合箱验货退货等操作，可以选择原箱闪运。</p>
            <p><span class="help-question">Q: 在购物网站填写的收货人姓名错误或格式不对怎么办？</span></p>
<p>A:  若格式不对，仓库无法识别，则无法入库。可以根据购物网站发货的物流转运单号，在包裹管理中进行自助入库做预报，仓库收到包裹后会自动完成入库手续。即客人手动将美国快递单号输入。</p>
                <p><span class="help-question">Q: 如果包裹物流显示已经签收却还未入库的怎么办？</span></p>
<p>A:  请提供转运单号、用户名和包裹订单截图，联系客服协助查询。</p>
                    <p><span class="help-question">Q: 合箱和分箱是如何操作的？会收费吗？</span></p>
<p>A:  一般分箱、合箱、加固是免费的。精确分箱需收取费用。如需要特殊加固可以联系客服（特殊加固可能存在令包裹加重的情况）。合箱重量不能超过10磅。已打包好的货物不能重新分箱合箱处理。</p>
                        <p><span class="help-question">Q: 包裹收到的重量与仓库出库重量不符怎么办？</span></p>
<p>A:  在签收包裹时，当着快递员的面在不开箱的前提下对包裹重新称重并拍照，请快递员签字。联系客服申请理赔。</p>
                            <p><span class="help-question">Q: 包裹入库后想确认包裹明细、重量等信息该怎么办？</span></p>
<p>A:  可以选择验货服务，仓库将会发邮件到您的邮箱的，注意查收。此项目需要收取验货费。</p>



                                <p><span class="help-question">Q: 请问包裹是如何清关进来？</span></p>
<p>A:  您好，我们是多口岸快件清关，根据客人的商品类别和当天各口岸的货量情况，选择最合适的清关口岸，以便于完成清关。</p>
                                    <p><span class="help-question">Q: 仓库收到我的包裹会拆开验货吗？</span></p>
<p>A:  根据航空安全管理局和中国海关要求，收货仓库会对所有到库包裹进行称重、以及开箱检查，以确定是否含有禁运物品。YD仓库只会拆运输外包装，不会拆货物包装，根据货物包装来将货物分好清关口岸，节省客户的清关成本和时效。</p>
                                        <p><span class="help-question">Q: 若包裹无人签收或者投递失败怎么办？</span></p>
<p>A:  若状态为：无人签收，请耐心等待，快递将于下个工作日继续安排派送的。
若显示投递失败：可能因为发货方或快递公司原因，未能完成派送，请客人联系发件方或者快递公司进行协商。</p>
                                            <p><span class="help-question">Q: 关于理赔有效期？</span></p>
<p>A:  30个工作日。</p>
                                                <p><span class="help-question">Q: 余额可以提现吗？</span></p>
<p>A:  账户中的余额是通过客人充值的或理赔的，则可以提现。请在自助服务中申请退款，按照提示操作，财务审核无误后将在5个工作日内完成退款支付，将余额退回至您的支付宝账户中（将产生2%的手续费）。其余任何活动所得均不可。</p>
                                                    <p><span class="help-question">Q: 包裹不想要了，可以退货吗？</span></p>
<p>A:  我们提供退货服务（运费由客人承担，YD不收取任何服务费）。美国境内退货，需要客人先确认是否能退货及运费由哪方出，我们便可协助退货。若是购物网站并承担运费的，请客人联系购物网站提供退货LABEL，并在自助服务中申请退货。若由客人自己承担运费，我们会提供退货费用明细，此过程YD方不收取任何服务费，完全由美国快递决定价格。已发往中国的，从发货日起4天以内可以更改中国国内地址。</p>
                                                        <p><span class="help-question">Q: 仓储费怎么算？</span></p>
<p>A:  提供免费仓储期60天。超出后，按无人认领丢弃；如需继续存储，请联系客服。</p>
                                                            <p><span class="help-question">Q: 为什么会拒绝出库？</span></p>
<p>A:  客人信息填写不完整或者账户内余额不足，会导致拒绝出库。可联系客服查询情况或者关注邮箱是否有邮件提示。</p>



                                                                <p><span class="help-question">Q: 为什么要上传居民身份证图像?</span></p>
<p>A:  中国海关政策要求，私人包裹清关需要提供中国收件人的身份证图像。</p>
                                                                    <p><span class="help-question">Q: 上传居民身份证图像安全吗?</span></p>
<p>A:  由于邮政清关需要，必须提供身份证复印件，否则无法申报，所有资料只供清关时使用，绝对保密。</p>
                                                                        <p><span class="help-question">Q: 如何上传身份证图像?</span></p>
<p>A:  注册您的YD帐户时，根据提示上传身份证图像文件。</p>
                                                                            <p><span class="help-question">Q: 什么样的身份证图像可以上传?</span></p>
<p>A:  只需把身份证的正/反面存为一个或两个图像文件,文件的格式可以是JPG、GIF、PNG、BMP,文件的大小不能超过2MB,不能任何涂写或打水印。</p>
                                                                                <p><span class="help-question">Q: 是否上传一次就可以反复使用?</span></p>
<p>A:  只要您的身份证在有效期内，只需上传一次，便可重复使用，无需每次上传。</p>
                                                                                    <p><span class="help-question">Q: 身份证上的地址和包裹收件人可以不一样吗?</span></p>
    <p>A:  可以，但人名必须相同。</p>

</div>
