<!-- Start Footer Section -->
<footer>

    <!-- Start Copyright -->
    <div class="copyright-section">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2015 Yunda -  All Rights Reserved <a href="#">Yunda</a> </p>
            </div><!-- .col-md-6 -->
            <div class="col-md-6">
                <ul class="footer-nav">
                    <li><a href="#"><i class="fa fa-weibo"></a>
                    </li>
                    <li><a href="#"><a href="#"><i class="fa fa-qq"></a>
                    </li>
                    <li><a href="#"><a href="#"><i class="fa fa-weixin"></a>
                    </li>
                </ul>
            </div><!-- .col-md-6 -->
        </div><!-- .row -->
    </div>
    <!-- End Copyright -->

    </div>
</footer>
<!-- End Footer Section -->