<!-- Page Content -->
<div class="container">
    <p>至尊遊艇會是悉尼第一家華人頂級豪華遊艇租賃及活動策劃代理公司。我們專注于全澳各地給想要乘坐遊艇遊覽悉尼港的顧客提供一個完全不一樣的特殊體驗和五星級的服務。</p>
    <p>一个整天, 或是短期停留,公司或私人派對，时间由您选择,至尊遊艇會为您提供一个绝妙的假期。在悉尼, 我们有60多艘配有乘务员的船只, 包括长12到140多米的大型游艇和面積達到350平方米的大型活動船隻。我們每一艘遊艇都是這世界上獨一無二的。 您可以根據不同預算从中选择, 来度过您独特的假期或者舉辦婚禮，生日聚會，企業年會和商務會談……等。</p>
    <p>我们为您提供细心周到的服务, 以达到您的完全满意. 我们的游艇服务可以与世界上最负盛名的酒店相媲美, 我们将为您规划豪华游艇上梦想假期的每一刻. 我們的宗旨就是為顧客服務打造您獨一無二的海上之旅，可以滿足您的各種需求。您在海上將从全新的角度看到悉尼的奢華與魅力。用來宴請賓客和帶友人遊覽悉尼港的風光，欣賞不一樣的悉尼歌劇院，海港大橋。</p>
    <p>至尊遊艇會游艇租赁公司专长于带船员的豪华游艇包租服务，提供奢华大帆船、动力游艇及超级游艇的租赁，涉及澳洲最美丽的海域。</p>
</div>

<h4 class="help-title">1、客户注册</h4>
<p >1.1<span class="help-question"> Q:如何注册天翼快递 TRANSPARCEL账号？</span></p>
<p>A: 点击首页的免费注册，输入个人资料，客服编号，完成注册。</p>
<p >1.2<span class="help-question"> Q:如何获得客服编号？</span></p>
<p>A: 请填写介绍您注册TRANSPARCEL 账号的客服编号，如果您不知道客服编号，请保留空白。</p>
<p >1.3<span class="help-question"> Q:我注册的用户资料是否安全？</span></p>
<p>A: 安全，所有的客户注册资料都将保密， 除用于报关外， 天翼快递不会向第三方透露客户注册资料。</p>


<h4 class="help-title">2、获取地址</h4>
<p ><span class="help-question"> Q:如何获取海外收件地址？</span></p>
<p>A: 注册完成后，登陆账号，点击会员中心可以看到自己的账号信息、到货资料以及海外仓库的收件地址。您可以根据网站所在地，税法等信息选择收件地址。</p>


<h4 class="help-title">3、网站订货</h4>
<p ><span class="help-question"> Q:我在网站订货如何填写收件人信息？</span></p>
<p>A: full name/name填写您的注册姓名全拼+收件标识（会员中心-会员信息头像下方可见），shipping address请严格按照您会员中心页面上显示的收件地址来填写，billing address可以填您信用卡的注册地址或是我们给您提供的地址。在购物网站上下单时请确认您填写的信息正确无误，若信息填写错误或者不全，可能导致包裹无法正常到达转运中心，或者到货无法及时入库更新。</p>

