<div class="container">
    <div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
        <!--<div class="floatL">-->
        <!--<a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" style="top:20px;display:block"-->
        <!--href="javascript:void(0);">展开</a>-->
        <!--<a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" style="top:20px;display:none" href="javascript:void(0);">收缩</a>-->
        <!--</div>-->
        <!--<div id="divFloatToolsView" class="floatR" style="display:none;height:237px;width: 140px;">-->
        <div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
            <div class="cn">
                <div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
                <h3 class="titZx row">昀達在线客服</h3>
                <ul>
                    <li><span>客服1</span> <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>客服2</span> <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&uin=2300145467&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <!--<li>-->
                    <!--<a href="http://www.lanrenzhijia.com/" target="_blank">懒人之家</a>-->
                    <!--<a href="http://www.lanrenzhijia.com/js" target="_blank">懒人之家js</a>-->
                    <!--<div class="div_clear"></div>-->
                    <!--</li>-->

                    <!--<li style="border:none;"><span>电话：+1 (626) 863-5725</span></li>-->
                    <li style="border:none;"> </li>

                </ul>
            </div>
        </div>
    </div>
    <img src="/image/process.jpg" style="margin:auto" alt="procee diagram">

    <h4>● YD币兑换</h4>

    <p>每消费１美元送１YD币，消费时每１００YD币抵消１美元。</p>




    <h4>● 分箱/合箱</h4>

    <p>请查看上方的包裹入库管理，我们系统不支持分箱后再合箱，或者合箱后再分箱的操作。</p>




    <h4>● 换箱去内件</h4>

    <p>此服务为免费，在客户主动提出要求的前提下进行，主要是为了减小包裹体积和减重。</p>




    <h4>● 普通加固</h4>

    <p>对不需要特殊加固的包裹，我们一般会进行免费的普通加固。</p>




    <h4>● 精确分箱</h4>

    <p>精确分箱的操作费是3.5美元一个原包裹。同样在包裹管理中操作。</p>




    <h4>● 拍照验货</h4>

    <p>此服务收费同样是3.5美元一个包裹，提供1张照片，也可发送到客户指定邮箱。</p>




    <h4>● 退货服务</h4>

    <p>未发往中国前可以帮助客人退货，运费由客人承担；已发往中国的，从发货日起4天以内可以更改中国国内地址。</p>



    <h4>● 在线咨询</h4>

    <p>首页右下方有我们的在线客服QQ，早上9点到晚上11点都有客服在线。</p>




    <h4>● 联系我们</h4>

    <p>售后邮箱： 2973508779@qq.com</p>

</div>



 