<div class="container">
    <h4>● 积分兑换</h4>

    <p>每积累3000分，可以开始兑换，每100分兑换1元RMB.</p>




    <h4>● 分箱/合箱</h4>

    <p>请查看上方的包裹入库管理，我们系统不支持分箱后再合箱，或者合箱后再分箱的操作。</p>




    <h4>● 换箱去内件</h4>

    <p>此服务为免费，在客户主动提出要求的前提下进行，主要是为了减小包裹体积和减重。</p>




    <h4>● 普通加固</h4>

    <p>对不需要特殊加固的包裹，我们一般会进行免费的普通加固。</p>




    <h4>● 精确分箱</h4>

    <p>精确分箱的操作费是4美元一个原包裹。同样在包裹管理中操作。</p>




    <h4>● 拍照验货</h4>

    <p>此服务收费同样是4美元一个包裹，提供1-3张照片，发送到客户指定邮箱。</p>




    <h4>● 退货服务</h4>

    <p>此服务收费同样是4美元一个包裹。</p>




    <h4>● 特殊加固</h4>

    <p>每磅收取0.3美元，最后加固费按实际出库重量计算，如果包裹重量是5磅，加固费就是5*0.3=1.5美元。</p>




    <h4>● 在线咨询</h4>

    <p>首页左下方有我们的在线客服QQ，早上9点到晚上11点都有客服在线。不在线的时候可以选择站内留言。</p>




    <h4>● 联系我们</h4>

    <p>售后邮箱： leo@haixingqiao.com</p>

</div>



 