<div class="container">

    <img src="/image/process.jpg" style="margin:auto" alt="procee diagram">

    <h4>● YD币兑换</h4>

    <p>每消费１美元送１YD币，消费时每１００YD币抵消１美元。</p>




    <h4>● 分箱/合箱</h4>

    <p>请查看上方的包裹入库管理，我们系统不支持分箱后再合箱，或者合箱后再分箱的操作。</p>




    <h4>● 换箱去内件</h4>

    <p>此服务为免费，在客户主动提出要求的前提下进行，主要是为了减小包裹体积和减重。</p>




    <h4>● 普通加固</h4>

    <p>对不需要特殊加固的包裹，我们一般会进行免费的普通加固。</p>




    <h4>● 精确分箱</h4>

    <p>精确分箱的操作费是3.5美元一个原包裹。同样在包裹管理中操作。</p>




    <h4>● 拍照验货</h4>

    <p>此服务收费同样是3.5美元一个包裹，提供1张照片，也可发送到客户指定邮箱。</p>




    <h4>● 退货服务</h4>

    <p>此服务收费同样是3.5美元一个包裹。</p>



    <h4>● 在线咨询</h4>

    <p>首页左下方有我们的在线客服QQ，早上9点到晚上11点都有客服在线。</p>




    <h4>● 联系我们</h4>

    <p>售后邮箱： 2973508779@qq.com</p>

</div>



 