<div class="container">
    <div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
        <!--<div class="floatL">-->
        <!--<a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" style="top:20px;display:block"-->
        <!--href="javascript:void(0);">展开</a>-->
        <!--<a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" style="top:20px;display:none" href="javascript:void(0);">收缩</a>-->
        <!--</div>-->
        <!--<div id="divFloatToolsView" class="floatR" style="display:none;height:237px;width: 140px;">-->
        <div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
            <div class="cn">
                <div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
                <h3 class="titZx row">昀達在线客服</h3>
                <ul>
                    <li><span>客服1</span> <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>客服2</span> <a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&uin=2300145467&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <!--<li>-->
                    <!--<a href="http://www.lanrenzhijia.com/" target="_blank">懒人之家</a>-->
                    <!--<a href="http://www.lanrenzhijia.com/js" target="_blank">懒人之家js</a>-->
                    <!--<div class="div_clear"></div>-->
                    <!--</li>-->

                    <!--<li style="border:none;"><span>电话：+1 (626) 863-5725</span></li>-->
                    <li style="border:none;"> </li>

                </ul>
            </div>
        </div>
    </div>
    <img src="/image/process.jpg" style="margin:auto" alt="procee diagram">

    <h4>● YD币兑换</h4>

    <p>每消费１美元送１YD币，消费时每１００YD币抵消１美元。</p>






    <h4>● 自主入库</h4>

    <p>客人可以直接输入美国快递单号，以便后期仓库识别。</p>




    <h4>● 原箱闪运</h4>

    <p>包裹不需要分包合包验货等操作，可以选择原箱闪运。</p>


    <h4>● 分包/合包</h4>

    <p>包裹管理中，对确认入库后的包裹可以进行分包/合包要求。我们系统不支持分包后再合包，或者合包后再分包的操作。</p>




    <h4>● 购物收据保留或去除
    </h4>

    <p>此服务为免费，在客户主动提出要求的前提下进行。</p>




    <h4>● 加固</h4>

    <p>试用特殊材料加固包裹的包装，防止运输中出现损坏。
    </p>




    <h4>● 一般分包/精确分包</h4>
<p>
    一般分包：根据分包个数按平均重量随机打包。

</p>
    <p>精确分箱：操作费是3.5美元一个原包裹，精确按照客人需要进行分类打包。
    </p>




    <h4>● 验货</h4>

    <p>3.5美元一个包裹。按客人需求提供包裹信息，可拍照，照片发送到客户指定邮箱。</p>




    <h4>● 退货服务</h4>

    <p>4美元一个包裹。</p>



    <h4>● 在线咨询</h4>

    <p>首页右下方有我们的在线客服QQ，早上9点到晚上11点都有客服在线。也可选择留言。
    </p>




    <h4>● 联系我们</h4>

    <p>售后邮箱： 2973508779@qq.com</p>

</div>



 