<style>
    *{ margin:0; padding:0; list-style:none;}
    img{ border:0;}

    .rides-cs {  font-size: 12px; background:#29a7e2; position: fixed; top: 250px; right: 0px; _position: absolute; z-index: 1500; border-radius:6px 0px 0 6px;}
    .rides-cs a { color: #00A0E9;}
    .rides-cs a:hover { color: #ff8100; text-decoration: none;}
    .rides-cs .floatL { width: 36px; float:left; position: relative; z-index:1;margin-top: 21px;height: 181px;}
    .rides-cs .floatL a { font-size:0; text-indent: -999em; display: block;}
    .rides-cs .floatR { width: 130px; float: left; padding: 5px; overflow:hidden;}
    .rides-cs .floatR .cn {background:#F7F7F7; border-radius:6px;margin-top:4px;}
    .rides-cs .cn .titZx{ font-size: 14px; color: #333;font-weight:600; line-height:24px;padding:5px;text-align:center;}
    .rides-cs .cn ul {padding:0px;}
    .rides-cs .cn ul li { line-height: 38px; height:38px;border-bottom: solid 1px #E6E4E4;overflow: hidden;text-align:center;}
    .rides-cs .cn ul li span { color: #777;}
    .rides-cs .cn ul li a{color: #777;}
    .rides-cs .cn ul li img { vertical-align: middle;}
    .rides-cs .btnOpen, .rides-cs .btnCtn {  position: relative; z-index:9; top:25px; left: 0;  background-image: url(http://demo.lanrenzhijia.com/2014/service1031/images/lanrenzhijia.png); background-repeat: no-repeat; display:block;  height: 146px; padding: 8px;}
    .rides-cs .btnOpen { background-position: 0 0;}
    .rides-cs .btnCtn { background-position: -37px 0;}
    .rides-cs ul li.top { border-bottom: solid #ACE5F9 1px;}
    .rides-cs ul li.bot { border-bottom: none;}
</style>

<div class="container" ng-controller="HomeCtrl">
<!--代码部分begin-->
<div id="floatTools" class="rides-cs" style="height:246px;">
    <div class="floatL">
        <a id="aFloatTools_Show" class="btnOpen" title="查看在线客服" style="top:20px;display:block" href="javascript:void(0);">展开</a>
        <a id="aFloatTools_Hide" class="btnCtn" title="关闭在线客服" style="top:20px;display:none" href="javascript:void(0);">收缩</a>
    </div>
    <div id="divFloatToolsView" class="floatR" style="display: none;height:237px;width: 140px;">
        <div class="cn">
            <h3 class="titZx">Yunda在线客服</h3>
            <ul>
                <li><span>客服1</span> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a> </li>
                <li><span>客服2</span> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2300145467&site=qq&menu=yes"><img border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png" alt="点击这里给我发消息" title="点击这里给我发消息"/></a> </li>
                <!--<li>-->
                    <!--<a href="http://www.lanrenzhijia.com/" target="_blank">懒人之家</a>-->
                    <!--<a href="http://www.lanrenzhijia.com/js" target="_blank">懒人之家js</a>-->
                    <!--<div class="div_clear"></div>-->
                <!--</li>-->
                <li style="border:none;"><span>电话：400-000-0000</span> </li>
            </ul>
        </div>
    </div>
</div>
<script src="http://www.lanrenzhijia.com/ajaxjs/jquery.min.js"></script>
<script>
    $(function(){
        $("#aFloatTools_Show").click(function(){
            $('#divFloatToolsView').animate({width:'show',opacity:'show'},100,function(){$('#divFloatToolsView').show();});
            $('#aFloatTools_Show').hide();
            $('#aFloatTools_Hide').show();
        });
        $("#aFloatTools_Hide").click(function(){
            $('#divFloatToolsView').animate({width:'hide', opacity:'hide'},100,function(){$('#divFloatToolsView').hide();});
            $('#aFloatTools_Show').show();
            $('#aFloatTools_Hide').hide();
        });
    });
</script>
<!--代码部分end-->
    <div class="row  bottom-buffer">
        <div class="col-lg-4">
            <div ng-if="!currentUser.id">
                <form name="loginForm">
                    <fieldset>
                        <h4 class="text-center"><img src="/img/login.png" alt="Login" class="home-icon" style="width:30px;height:40px">用户登陆</h4>
                        <div class="form-group">
                            <form name="loginForm">
                                <div class="form-group has-feedback">
                                    <label class="control-label">Email:</label>
                                    <span ng-show="loginForm.email.$valid"
                                          class="glyphicon glyphicon-ok form-control-feedback"></span>
                                    <input type="email" name="email" class="form-control" id="username"
                                           ng-model="currentUser.username" placeholder="john.smith@gmail.com" required>
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="control-label">Password:</label>
                                    <!--<label class="control-label pull-right"><a ng-click="resetPassword()">Forgot?</a></label>-->
                                    <span ng-show="!loginForm.password.$valid"
                                          class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                    <span ng-show="loginForm.password.$valid"
                                          class="glyphicon glyphicon-ok form-control-feedback"></span>
                                    <input type="password" name="password" class="form-control" id="password"
                                           ng-model="currentUser.password" placeholder="At least 8 characters long"
                                           ng-minlength="8" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="col-md-12 btn btn-success" ng-click="login()"
                                            ng-show="loginForm.$valid">Log in
                                    </button>
                                    <button type="submit" class="col-md-12 btn btn-info" ng-click="signup()"
                                            ng-show="loginForm.$valid">Sign Up
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label class="control-label"><a href="http://www.sk8.asia">Powered by
                                            SK8科技</a></label>
                                </div>
                            </form>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div ng-if="currentUser.id">
                <fieldset>
                <h4 class="text-center"><img src="/img/profile.png" alt="Login" class="home-icon" style="width:30px;height:40px">用户信息</h4>
                <label for="username">用户名： </label>
                <span ng-bind="currentUser.realName"></span>
                </br>
                <label for="username">账户余额： </label>
                <span ng-bind="currentUser.balance"></span>
                <!--<label for="username">账户余额： </label>-->
                <!--<span ng-bind="currentUser.realName"></span>-->
                    </fieldset>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- slider container -->
            <div ng-controller="CarouseCtrl">
                <div style="height: 305px">
                    <carousel interval="myInterval">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">

                            <div class="carousel-caption">
                                <h4>Slide {{$index}}</h4>

                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-buffer">
        <div class="col-lg-3 col-lg-offset-1">
            <form>
                <div class="form-group" >
                    <h4 class="text-left"><img src="/img/search.png" alt="Login" class="home-icon" style="width:30px;height:45px">运单追踪</h4>
                    <!--<input type="text" name="trackingNumber"  id="trackingNumber" >-->
                    <textarea id="trackNumber" class="form-control" cols="40" rows="5" ng-model="trackingNumber"
                              placeholder="每行一个运单"></textarea>
                </div>
                <div class="form-group">
                    <button class="form-control btn btn-info" ng-click="trackingInfo()">查询运单</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 text-center">
            <h4 class="text-center"><img src="/img/news.png" alt="Login" class="home-icon" style="width:40px;height:40px">最新公告</h4>
            <ul ng-repeat="news in newsList">
                <li ng-bind="news.title"></li>
            </ul>
        </div>
        <div class="col-lg-5 text-center">
            <h4 class="text-center"><img src="/img/help.png" alt="Login" class="home-icon" style="width:40px;height:40px">客服中心</h4>

            <p>办公室电话:</p>

            <p>(02) 9268 0883</p>
            </br>
            <p>传真:</p>

            <p>02 92680580</p>
            </br>
            <p>办公室地址:</p>

            <p>Suite 605, Pacific Trade Centre ,368 Sussex Street,Sydney NSW 2000</p>
        </div>
    </div>


    <div class="row bottom-buffer" style="border: 4px solid gray; padding: 20px">
        <div >
            <div class="col-lg-2">
                <h4 class="text-center"><img src="/img/link.png" alt="Login" class="home-icon" style="width:40px;height:40px">合作伙伴</h4>
            </div>
            <div class="col-lg-2">
                <img src="http://a-397737-80-2296677578.www-haixingqiao-com.anquanbao.cn/Images/link_ups.png" alt="合作链接">
            </div>
            <div class="col-lg-2">
                <img src="http://a-397737-80-2296677578.www-haixingqiao-com.anquanbao.cn/Images/link_fedex.png" alt="合作链接">

            </div>
            <div class="col-lg-2">
                <img src="http://a-397737-80-2296677578.www-haixingqiao-com.anquanbao.cn/Images/link_ems.png" alt="合作链接">

            </div>
            <div class="col-lg-2">
                <img src="http://a-397737-80-2296677578.www-haixingqiao-com.anquanbao.cn/Images/link_dhl.png" alt="合作链接">

            </div>
            <div class="col-lg-2">
                <img src="http://a-397737-80-2296677578.www-haixingqiao-com.anquanbao.cn/Images/link_sf.png" alt="合作链接">

            </div>
        </div>
    </div>

    <div class="row bottom-buffer">

        <div class="col-lg-3 col-lg-offset-2">
            <a class="" href="#">
                <img alt="" src="http://placehold.it/140x45">
            </a>
        </div>
        <div class="col-lg-5 ">
            <div class="row">
                <div class="col-md-3">
                    <a ng-href="/responsibility">免责声明</a>
                </div>
                <div class="col-md-3">
                    <a ng-href="/reperation">赔款条例</a>
                </div>
                <div class="col-md-3">
                    免责声明
                </div>
                <div class="col-md-3">
                    免责声明
                </div>
            </div>
            <div class="row"></div>
               <em style="font-size: 0.9em"> YD 版权所有 Copyright © 2015 yunda.com. All rights reserved</em>
        </div>
    </div>

    <div class="row" style="border-top: 2px dotted gray; border-bottom: 2px dotted gray; font-size: 0.9em">
        <div class="col-lg-3">
            <h5 class="text-center"><img src="/img/heart.png" alt="Login" class="home-icon" style="width:40px;height:40px">友情链接</h5>
        </div>
        <div class="col-lg-3 top-buffer" >
            <a href="http://www.sk8.asia">SK8 Tech</a>
        </div>
        <div class="col-lg-3 top-buffer">
            <a href="http://www.shelf.is">Shelf</a>
        </div>
        <div class="col-lg-3 top-buffer">
            <a href="http://www.sk8.asia">SK8 Tech</a>
        </div>
    </div>


</div>