<div class="modal-body">
    <div class="row">
        <div class="col-md-3">
            <label>支付宝账号:</label>
        </div>
        <div class="col-md-7">
            <span ng-bind="transaction.zhifubao.account"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>支付宝姓名:</label>
        </div>
        <div class="col-md-7">
            <span ng-bind="transaction.zhifubao.name"></span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>联系方式:</label>
        </div>
        <div class="col-md-7">
            <span ng-bind="transaction.zhifubao.contact"></span>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>身份证</label>
        </div>
        <div class="col-md-7">
            <div ng-show="transaction.identityFront">
                <a target="_blank" ng-href="{{transaction.identityFront._url}}">点此</a>
            </div>
            <div ng-show="!transaction.identityFront">
                未上传
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>