<div class="modal-body">
<form>
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>
    <div class="form-group">
        <label for="id-front">上传截图</label>
        <input type="file" class="form-control" onchange="angular.element(this).scope().filesChangedFront(this)" />
    </div>
</form>
</div>
<div class="modal-footer">
    <button class="btn btn-info form-control" ng-click="uploadIdentity()"> 上传 </button>
</div>