<div class="modal-splitPackage" style="margin-top: 50px;" >

    <form name="splitForm" class="form-group">

        <label for="notes">分包备注</label></br>
        <input type="text" id="split" ng-model="notes"/></br>
        <button type="submit" ng-click="confirmSplit()" >保存</button>
    </form>

</div>

