<div class="container">
    <br>
    <h3>用户详细信息: </h3>
    <p>用户名:<span ng-bind="freight.user.username"></span></p>
    <p>手机号:<span ng-bind="freight.user.mobilePhoneNumber"></span></p>
    <!--<p>邮件: <span ng-bind="freight.user.email"></span></p>-->
    <p>用户备注: <span ng-bind="freight.notes"></span></p>
    <br>
    <button class="btn btn-sm btn-info" ng-click="close()">关闭</button>
    <br>
</div>