<div class="modal-body">
    <form >
        <div class="form-group-sm" >
            <label for="notes">管理员留言: </label>
            <textarea type="text" ng-model="freight.notes" id="notes" class="form-control" row="5"></textarea>
        </div>
        <br>
    </form>
</div>
<div class="modal-footer">
    <div class="form-group-sm">
        <button class="btn btn-sm btn-default" ng-click="close()">关闭</button>
    </div>
</div>