<div class="modal-body">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>

    <table class="table table-bordered small-table">
        <tr>
            <td ng-bind="'入库单号: ' + freight.RKNumber"></td>
            <td ng-bind="'转运号: ' + freight.trackingNumber"></td>
        </tr>
        <tr>
            <td ng-bind="'YD运单号: ' + freight.YDNumber"></td>
            <td ng-bind="'渠道: ' + freight.channel.name"></td>
        </tr>
        <tr>
            <td ng-bind="'用户名: ' + freight.user.stringId"></td>
            <td ng-bind="'数字ID: ' + freight.user.numberId"></td>
        </tr>
        <tr>
            <td ng-bind="'重量: ' + freight.weight + ' Lb'"></td>
            <td ng-bind="'最终重量: ' + freight.finalWeight + ' Lb'"></td>
        </tr>
        <tr>
            <td colspan="2">
                <span>去除购物收据</span> <input type="checkbox" ng-model="freight.isReduceWeight" disabled>
                <span>加固</span><input type="checkbox" ng-model="freight.isAddPackage" disabled>
                <span>普通分包</span> <input type="checkbox" ng-model="freight.isSplit" disabled>
                <span>精确分包</span><input type="checkbox" ng-model="freight.isSplitPremium" disabled>
                <span>合包</span><input type="checkbox" ng-model="freight.isMerged" disabled>
            </td>
        </tr>
        <tr>
            <td colspan="2">分包要求: {{freight.isSplit || freight.isSplitPremiumt ? freight.comments : ''}}</td>
        </tr>
        <tr>
            <td colspan="2" ng-bind="'物品详情: ' + freight.packageComments"></td>
        </tr>
        <tr ng-repeat="t in transactions">
            <td >
                <span ng-bind="t.notes"></span>
            </td>
            <td ng-bind="'$' + t.amount"></td>
        </tr>
        <tr>
            <td>保价</td>
            <td ng-bind="freight.insurance"></td>
        </tr>
        <tr>
            <td ng-bind="'收件人: ' + freight.address.recipient"></td>
            <td>联系方式: {{freight.address.contactNumber || freight.address.mobileNumber}}</td>
        </tr>
        <tr>
            <td colspan="2" ng-bind="freight.address.country + freight.address.state + freight.address.city
            + freight.address.street1 + freight.address.street2 + ' ' + freight.address.postalCode"></td>
        </tr>
        <tr>
            <td colspan="2" ng-bind="freight.comments"></td>
        </tr>
        <tr>
            <td colspan="2" ng-bind="'清关时间: ' + freight.shipping.clear"></td>
        </tr>
        <tr>
            <td ng-bind="'物流公司: ' + freight.chineseCourier"></td>
            <td ng-bind="'快递号: ' + freight.chineseTrackingNumber"></td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>