<div class="modal-address" >
    <h1>是否确定删除收件人？</h1>
<form>
        <button type="submit" ng-click="confirmDelete()" >确认删除</button>
        <button type="submit" ng-click="cancelDelete()" >取消</button>

    </form>
</div>

