
    <div class="modal-header">
        <h3>是否确认验货?</h3>
    </div>

    <div class="modal-body">
        <p><em>验货后将收取手续费(3.5美金/件)</em></p>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="confirm()">确认</button>
        <button class="btn btn-default" ng-click="close()">取消</button>
    </div>
