<div class="modal-body">

    <form name="addressForm">

        <div class="form-group">

            <label for="newPassword">新密码</label></br>
            <input type="text" id="newPassword" ng-model="newPassword"/></br>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="submit" ng-click="savePassword()">保存</button>

</div>

