<div class="modal-body">
    <form>
        <div class="form-group" >
            <label for="notes">填写留言</label>
            <input class="form-control" ng-model="freightIn.comments" placeholder="在此留言">
        </div>

    </form>
</div>
<div class="modal-footer">

        <button class="btn btn-sm btn-default" ng-click="saveComments()">保存留言</button>
        <button class="btn btn-sm btn-default" ng-click="close()">关闭</button>

</div>