<div class="modal-header">
    <h4>添加新联系人信息</h4>
    <em>带 *号为必填项</em>
</div>
<div class="modal-body">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>

    <form name="addressForm">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient" class="address-label-required">收件人:</label></div>
                <div class="col-md-10">
                    <input type="text" id="recipient" class="form-control" ng-model="address.recipient" required/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="province" class="address-label-required">手机号码:</label></div>
                <div class="col-md-4">
                    <input type="text" id="country" class="form-control" ng-model="address.mobileNumber" required/>
                </div>
                <div class="col-md-2">
                    <label for="province">固定电话:</label></div>
                <div class="col-md-4">
                    <input type="text" id="state" class="form-control" ng-model="address.contactNumber"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="province" class="address-label-required">收件国家:</label></div>
                <div class="col-md-4">
                    <input type="text" id="country" class="form-control" ng-model="address.country" required/>
                </div>
                <div class="col-md-2">
                    <label for="province" class="">收件省份:</label></div>
                <div class="col-md-4">
                    <input type="text" id="state" class="form-control" ng-model="address.state"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="city" class="address-label-required">收件城市:</label></div>
                <div class="col-md-4">
                    <input type="text" id="city" class="form-control" ng-model="address.city" required/>
                </div>
                <div class="col-md-2">
                    <label for="district">邮政编码:</label></div>
                <div class="col-md-4">
                    <input type="text" id="district" class="form-control" ng-model="address.postalCode" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="street" class="address-label-required">收件地址:</label></div>
                <div class="col-md-10">
                    <input type="text" id="street" class="form-control" ng-model="address.street1" required/>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    <label for="recipient">公司:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" id="postalCode" class="form-control" ng-model="address.street2" />
                </div>

            </div>
        </div>
    </form>

    <hr>



    <!--<div ng-if="!address.identity.identityFront || !address.identity.identityBack">-->
        <form>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label for="identity">身份证号: </label>
                    </div>
                    <div class="col-md-6">
                        <input type="text"  class="form-control" ng-model="identity.number" />
                    </div>
                    <div ng-if="identity.identityFront && identity.identityBack">
                        <div class="col-md-4">
                            <strong><em>已上传身份证</em></strong>
                        </div>
                    </div>
                </div>

                    <em><small>在需要身份证的口岸时需要上传,身份证号码请务必上传与身份证匹配,否则被扣关需要客户自行负责</small></em>

            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="id-front">身份证正面</label>
                        <input type="file" class="form-control"
                               onchange="angular.element(this).scope().filesChangedFront(this)"/>
                    </div>
                    <div class="col-md-4">
                        <label for="id-front">身份证反面</label>
                        <input type="file" class="form-control"
                               onchange="angular.element(this).scope().filesChangedBack(this)"/>
                    </div>


                    <div class="col-md-3" style="margin-top:22px;">
                        <button class="btn btn-info form-control" ng-click="uploadIdentity()" ng-disabled="isSaving">
                            <div ng-if="!identity.identityFront || !identity.identityBack">
                            上传
                                </div>
                            <div ng-if="identity.identityFront && identity.identityBack">
                                重新上传
                            </div>
                        </button>
                    </div>
                </div>
                <br>
                <em><small>文件大小限制在1M以下,每次最多上传1个文件,允许的扩展名:.jpg , .jpeg , .gif , .png<br>

                    在需要身份证的口岸时需要上传身份证正反照,图片小于2M,图像清晰
                    请在同一张图片里上传收件人的正反身份证照,图片不清晰导致的清关延误等后果客户需自行负责</small></em>
            </div>

        </form>
    <!--</div>-->
</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-disabled="!addressForm.$valid" ng-click="saveAddressSubmit()">保存</button>
    <button class="btn btn-sm btn-default" ng-click="close()">取消</button>

</div>

