<div class="modal-header">
    <h4>给用户添加留言：</h4>
</div>

<div class="modal-body">
    <form>
        <label for="notes">输入留言</label>
        <input type="text" ng-model="freight.notes" id="notes" class="form-control">
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-click="save()">保存</button>
    <button class="btn btn-sm btn-default" ng-click="close()">取消</button>
</div>