<div class="modal-body">
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label for="trackingNumber">运单号*</label>
                    <input type="text" class="form-control" ng-model="freight.YDNumber"
                           disabled>
                </div>
                <div class="col-md-5">
                    <label for="weight">重量</label>
                    <input type="number" step="any" class="form-control" ng-model="freight.weight" placeholder="重量" disabled >
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <label>选择渠道: </label>
                <select ng-model="freight.channel" ng-options="channel.name for channel in systemSetting.channelList track by channel.name"></select></br>

            </div>
            <div class="col-md-5">
                <!--<button ng-click="showChannel()"></button>-->
                <label>选择收货地址: </label>
                <button class="btn btn-default btn-sm" ng-click="chooseRecipient()">选择收件人</button>
                <button class="btn btn-default btn-sm" ng-click="addNewRecipient()">新增</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <small> <span ng-bind="'已选择:' + freight.channel.name"></span></small>

            </div>
            <div class="col-md-5">
                <small ng-bind="'已选择:' + freight.address.recipient"></small>
            </div>
        </div>
        <hr>
        <!--<div class="row">-->
        <!---->
        <!--</div>-->
        <div class="row">
            <table class="table table-bordered small-table">
                <thead>
                <th>类别</th>
                <th>品名</th>
                <th>品牌</th>
                <th>数量</th>
                <th>单价</th>
                <th>总价</th>
                <th>操作</th>
                </thead>

                <tr ng-repeat="desc in descriptionList track by desc.name">
                    <td ng-bind="desc.kind"></td>
                    <td ng-bind="desc.name"></td>
                    <td ng-bind="desc.brand"></td>
                    <td ng-bind="desc.amount"></td>
                    <td ng-bind="desc.price"></td>
                    <td ng-bind="desc.total"></td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="deleteDescription(desc)">删除</button>
                    </td>
                </tr>
                <tr>
                    <td><select ng-model="description.kind" ng-options="kind.name for kind in kindList"></select></td>
                    <td><input type="text" class="form-control" ng-model="description.name"></td>
                    <td><input type="text" class="form-control" ng-model="description.brand"></td>
                    <td><input type="number" class="form-control" ng-model="description.amount"></td>
                    <td><input type="number" step="any" class="form-control" ng-model="description.price"></td>
                    <td>
                        <span type="number" step="any" class="form-control" ng-bind="(description.amount && description.price) ? description.amount*description.price : 0" disabled></span>
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm" ng-click="addNewDescription()"><strong>点击确认</strong></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <label>货物描述</label>
            <textarea class="form-control" rows="5" ng-model="freight.packageComments" placeholder="请输入详细货物描述"></textarea>
        </div>
        <hr>

        <div class="form-group">
            <div class="row">

                <div class="col-lg-3">
                    <strong>其他服务：</strong> <input type="checkbox" ng-model="freight.isAddPackage"><span>加固<i
                                tooltip="加固需要收费($2.5/件)"
                                tooltip-placement="top"
                                tooltip-trigger="mouseenter"
                                tooltip-enable="true"
                                class="fa fa-question-circle"></i></span>
                </div>
                <div class="col-lg-3">
                    <input type="checkbox" ng-model="freight.isReduceWeight"><span>去除购物收据</span>
                </div>
                <!--<div class="col-lg-3" min="0">-->
                <!--<input type="checkbox" ng-model="checkBox.confirmInsurance">-->
                <!--<label>加保金<i tooltip="请根据实际购物小票显示的价值填写申报价值和保价。保价：申报的价格与保价的价格必须一致，保价费按价格的2%收取。我们依据顾客填写的情况扣取关税。"-->
                <!--tooltip-placement="top"-->
                <!--tooltip-trigger="mouseenter"-->
                <!--tooltip-enable="true"-->
                <!--class="fa fa-question-circle"></i></label>-->

                <!--</div>-->

            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-lg-3">-->
                <!--<label>总申报价值：</label>-->
                <!--<form class="form-inline">-->
                    <!--<div class="form-group">-->
                        <!--<div class="input-group">-->
                            <!--<div class="input-group-addon">$</div>-->

                            <!--<input type="number" step="any" class="form-control" ng-model="insurance.total"-->
                                   <!--disabled>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-3">
                <label>输入总保价价值：</label>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>

                            <input type="number" step="any" class="form-control" ng-model="insurance.value"
                                   id="insuranceValue">

                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <div ng-if="insurance.value < 0">
                    <em class="validation-error">请输入正确金额</em>
                </div>
                <div ng-if="insurance.value >= 0 || !insurance.value">
                    <!--需付保金(自动计算):<span ng-bind="'$' + insurance.amount"></span>-->
                    <label>需付保金(自动计算):</label>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">$</div>

                            <input type="number" step="any" class="form-control" ng-model="insurance.amount"
                                   disabled>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <small><span ng-bind="'原保金: ' + freight.insurance"></span></small>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="saveFreight()">保存</button>
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>