<div class="modal-password" style="margin-top: 50px;" >

    <form name="addressForm" class="form-group">



        <label for="newPassword">新密码</label></br>
        <input type="text" id="newPassword" ng-model="newPassword"/></br>


        <button type="submit" ng-click="savePassword()" >保存</button>
    </form>

</div>

