
<div class="modal-header">
    <h4>合包信息</h4>
</div>
<div class="modal-body">
    <!--<form name="mergeForm" class="form-group">-->

        <!--<div class="dropdown">-->
            <!--<button type="button" class="btn btn-default" ng-click="chooseRecipient()">-->
                <!--　选择收件地址-->
                <!--<span class="caret"></span>-->
            <!--</button>-->
            <!---->
            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-repeat="address in addressList">-->
                <!--<li ng-click="mergeChooseRecipient(address)"><span ng-bind="address.recipient"> - </span><span ng-bind="address.country"></span><span ng-bind="address.state"></span><span ng-bind="address.city"></span><span ng-bind="address.suburb"></span></span><span ng-bind="address.street1"></span><span ng-bind="address.street2"></span></li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</form>-->
        <table class="table table-bordered" style="font-size: 0.9em">
            <thead>
            <th>编号</th>
            <th>物流号</th>
            </thead>
            <tr ng-repeat="freightIn in freightInList">
                <td>{{$index+1}}. </td>
                <td ng-bind="freightIn.trackingNumber"></td>
            </tr>
        </table>
        <form>
            <div class="form-group">
                <label for="address">选择地址: </label>
                <button class="btn btn-sm btn-default" ng-click="chooseRecipient()">点击选择</button>
                <button class="btn btn-sm btn-default" ng-click="addNewRecipient()">添加新联系人</button>
            </div>
            <div class="form-group">
                <label>收件人为: <span ng-bind="chosenAddress.recipient"></span> </label>
            </div>
            <div class="form-group">
                <label for="package">是否选择加固</label>
                <input type="checkbox"
                ng-model="checkboxModel.addPackage"><span></span>
            </div>
            <div class="form-group">
                <label for="comments">输入备注</label>
                <input type="text" ng-model="addedComment" class="form-control" placeholder="输入给管理员的留言">
            </div>
        </form>


</div>
<div class="modal-footer">
    <button type="submit" ng-click="confirmMergePackage()">保存</button>
    <button type="submit" ng-click="cancelMergePackage()">取消</button>
</div>
