<div class="modal-body">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>

    <table class="table table-bordered small-table">
        <tr>
            <td ng-bind="'入库号: ' + freightIn.RKNumber"></td>
            <td ng-bind="'转运号: ' + freightIn.trackingNumber"></td>
        </tr>
        <tr>
            <td ng-bind="'重量: ' + freightIn.weight + 'Lb'"></td>
            <td ng-bind="'入库时间: ' + freightIn.createdAtToString"></td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>