    <div class="modal-header">
        <h3>用户详细信息: </h3>
    </div>
    <div class="modal-body">
        <p>登录邮件: <span ng-bind="freight.user.username"></span></p>
        <p>用户名:<span ng-bind="freight.user.stringId"></span></p>
        <p>数字ID:<span ng-bind="freight.user.numberId"></span></p>
        <p>手机号: {{freight.user.mobile || freight.user.contactNumber}}</p>
    </div>

   <div class="modal-footer">
       <button class="btn btn-sm btn-info" ng-click="close()">关闭</button>
   </div>
