<div class="modal-body">

    <table class="table table-bordered">
       <tr>
           <td>收件人: </td>
           <td colspan="3" ng-bind="address.recipient"></td>
       </tr>
        <tr>
            <td>手机号码: </td>
            <td ng-bind="address.mobileNumber"></td>
            <td>固定电话: </td>
            <td ng-bind="address.contactNumber"></td>
        </tr>
        <tr>
            <td>收件国家</td>
            <td ng-bind="address.country"></td>
            <td>收件省份</td>
            <td ng-bind="address.state"></td>
        </tr>
        <tr>
            <td>收件城市</td>
            <td ng-bind="address.city"></td>
            <td>邮政编码</td>
            <td ng-bind="address.postalCode"></td>
        </tr>
        <tr>
            <td>收件地址</td>
            <td colspan="3" ng-bind="address.street1"></td>
        </tr>
        <tr>
            <td>收件公司</td>
            <td colspan="3" ng-bind="address.street2"></td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-sm btn-default" ng-click="close()">关闭</button>

</div>

