<div class="modal-body">
    <h3>是否确认操作？</h3>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="confirm()">确认</button>
    <button class="btn btn-default" ng-click="close()">取消</button>
</div>