<div class="modal-splitPackage" style="margin-top: 50px;" >

    <form name="splitForm" class="form-group">

        <label for="amount">分包数量</label></br>
        <input type="text" id="amount" ng-model="amount" ng-change="generateFreightList()"/></br>

        <label for="notes">分包备注</label></br>

        <div ng-repeat="freight in freightList">
            <label for="split">分包{{$index+1}}备注: </label></br>
            <input type="text" class="split" ng-model="freight.notes"/></br>
        </div>
        <button type="submit" ng-click="confirmSplit()" >保存</button>
    </form>

</div>

