<div class="modal-address" >
    <h1>Add new recipient</h1>

    <form name="addressForm" class="form-group">
                <label for="Address">地址</label></br>
                <label for="recipient">收件人</label></br>
                <input type="text" id="recipient" ng-model="address.recipient"/></br>
                <label for="province">国家</label>
                <input type="text" id="country" ng-model="address.country"/></br>
                <label for="province">省</label>
                <input type="text" id="province" ng-model="address.state"/></br>
                <label for="city">市</label>
                <input type="text" id="city" ng-model="address.city"/></br>
                <label for="district">区</label>
                <input type="text" id="district" ng-model="address.suburb"/></br>
                <label for="street">街道</label>
                <input type="text" id="street" ng-model="address.street1"/></br>
                <label for="business">公司</label>
                <input type="text" id="business" ng-model="address.street2"/></br>
        <label for="recipient">邮编</label></br>
        <input type="text" id="postalCode" ng-model="address.postalCode"/></br>

            <button type="submit" ng-click="saveAddressSubmit()" >保存</button>
    </form>
</div>

