<div class="modal-body">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span ng-bind="promote"></span></progressbar>

    <form>
        <div class="form-group">
            <label for="address">账户余额: </label>
            <span ng-bind="'$' + currentUser.totalBalanceInDollar"></span>
            <!--<inpu?t type="number" step="any" min="0" class="form-control" ng-model="returnAmount" required>-->
        </div>
        <div class="form-group">
            <label for="address">退款金额（必填）</label>
            $<input type="number" step="any" min="0" class="form-control" ng-model="returnAmount" required>
        </div>
        <div class="form-group">
            <label for="address">支付宝账号（必填）</label>
            <input type="text" class="form-control" ng-model="zhifubao.account" required>
        </div>
        <div class="form-group">
            <label for="address">支付宝姓名（必填）</label>
            <input type="text" class="form-control" ng-model="zhifubao.name" required>
        </div>
        <div class="form-group">
            <label for="address">联系方式（必填）</label>
            <input type="text" class="form-control" ng-model="zhifubao.contact" required>
        </div>
        <div class="form-group">
            <label for="reason">退款理由（必填）</label>
            <input type="text" class="form-control" ng-model="transaction.reason" required>
        </div>

        <div class="form-group">
            <label for="id-front">上传身份证</label>
            <input type="file" class="form-control" onchange="angular.element(this).scope().filesChangedFront(this)" />
        </div>
        <button class="btn btn-info form-control" ng-click="uploadIdentity()"> 上传 </button>
<sm>文件大小限制在1M以下,每次最多上传1个文件,允许的扩展名:.jpg , .jpeg , .gif , .png, .pdf</sm>

    </form>

    <div class="modal-footer">
        <button class="btn btn-default" ng-click="applyReturn()">申请退款</button>
        <button class="btn btn-default" ng-click="close()">取消</button>
    </div>
    <pre><em>注意: <br>
1.退款需收取退款金额2%手续费。<br>
2.退款一经提交，如需取消退款，需联系客服。<br>
3.如已有待处理的退款申请，不可再重复申请退款。<br>
4.退款2%的手续费由客人承担
        </em></pre>


</div>