<div class="modal-body">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="isLoading"><span
                ng-bind="promote"></span></progressbar>

    <table class="table table-bordered small-table">
        <tr>
            <td><label>入库单号: </label> {{freight.RKNumber}}</td>
            <td><label>转运号: </label> {{freight.trackingNumber}}</td>
        </tr>
        <tr>
            <td><label>YD运单号: </label> {{freight.YDNumber}}</td>
            <td><label>渠道: </label> {{freight.channel.name}}</td>
        </tr>
            <tr ng-if="freight.isMerge == true">
                <td colspan="2">
                    <label>原包裹转运号: </label>
                    <span ng-bind="freight.trackingNumber"></span><br>
                    <label>原包裹入库号:</label>
                    <span ng-repeat="set in freight.mergeReference track by set.id">{{set.RKNumber}}; </span>
                </td>
            </tr>

        <tr>
            <td><label>用户名: </label> {{freight.user.stringId}}</td>
            <td><label>数字ID: </label> {{freight.user.numberId}}</td>
        </tr>
        <tr>
            <td><label>重量: </label> {{(freight.weight).toFixed(2) + ' Lb'}}</td>
            <td><label>最终重量: </label> {{(freight.finalWeight).toFixed(2) + ' Lb'}}</td>
        </tr>
        <tr>
            <td colspan="2"><label>留言: </label> {{freight.comments}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <span>去除购物收据</span> <input type="checkbox" ng-model="freight.isReduceWeight" disabled>
                <span>加固</span><input type="checkbox" ng-model="freight.isAddPackage" disabled>
                <span>普通分包</span> <input type="checkbox" ng-model="freight.isSplit" disabled>
                <span>精确分包</span><input type="checkbox" ng-model="freight.isSplitPremium" disabled>
                <span>合包</span><input type="checkbox" ng-model="freight.isMerge" disabled>
                <span>原闪</span><input type="checkbox" ng-model="freight.isSpeedManual" disabled>
            </td>
        </tr>
        <tr>
            <td colspan="2">{{freight.isSplit || freight.isSplitPremiumt ? '分包要求: ' + freight.comments : ''}}</td>
        </tr>
        <tr>
            <td colspan="2"><label>物品详情: </label>{{freight.packageComments}}</td>
        </tr>
        <tr ng-repeat="t in transactions">
            <td>
                <span ng-bind="t.notes"></span>
            </td>
            <td ng-bind="'$' + t.amount"></td>
        </tr>
        <tr>
            <td><label>保价</label></td>
            <td ng-bind="freight.insurance"></td>
        </tr>
        <tr>
            <td><label>收件人: </label> {{freight.address.recipient}}</td>
            <td><label>座机号码: </label> {{freight.address.contactNumber}}</td>
        </tr>
        <tr>
            <td><label>地址: </label>{{freight.address.country + freight.address.state + freight.address.city
            + freight.address.street1 + freight.address.street2 + ' 邮编:' + freight.address.postalCode}}</td>
            <td><label>手机号码: </label>{{freight.address.mobileNumber}}</td>
        </tr>
        <tr>
            <td colspan="2"><label>留言: </label>{{freight.comments}}</td>
        </tr>
        <tr>
            <td colspan="2"><label>清关时间: </label> {{freight.shipping.clear}}</td>
        </tr>
        <tr>
            <!--<td ng-bind="'物流公司: ' + freight.chineseCourier"></td>-->
            <!--<td ng-bind="'快递号: ' + freight.chineseTrackingNumber"></td>-->
            <td>物流公司: <input type="text" class="form-control" ng-model="freight.chineseCourier"
                             ng-disabled="isFromCustomer"></td>
            <td>快递号: <input type="text" class="form-control" ng-model="freight.chineseTrackingNumber"
                            ng-disabled="isFromCustomer"></td>
        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-default" ng-click="saveFreight(freight)" ng-disabled="isFromCustomer">保存</button>
    <button class="btn btn-default" ng-click="close()">关闭</button>
</div>