
<div class="modal-body">
    <div ng-show="isPremium">
        <em class="text-center">此次精确分包将收取${{systemSetting.splitPackageCharge}}的额外费用</em>
        <div class="row">
            <div class="col-lg-12"><hr></div>
        </div>
        <form name="splitForm">
            <div class="form-group">
                <label for="amount">分包数量</label></br>
                <input type="text" ng-model="package.amount" class="form-control"
                       ng-change="generateFreightList()"/></br>
            </div>
            <div class="form-group">
                <label for="notes">具体分包要求(请详细写下各包裹内容要求)</label></br>
            </div>

            <div ng-repeat="freight in freightList">
                <div class="form-group">
                    <label for="split">包裹[{{$index+1}}/{{package.amount}}]: </label></br>
                    <input type="text" class="split" ng-model="freight.comments"/>
                </div>

            </div>
        </form>
    </div>
    <div ng-show="!isPremium">
        <em class="text-center">普通分箱将随机按重量平均分配</em>
        <div class="row">
            <div class="col-lg-12"><hr></div>
        </div>
        <form name="splitForm">
            <div class="form-group">
                <label for="amount">分包数量</label></br>
                <input type="text"  ng-model="package.amount" class="form-control"
                       ng-change="generateFreightList()"/></br>
            </div>
            <div class="form-group">
                <label for="notes">包裹备注</label></br>
            </div>

            <div ng-repeat="freight in freightList">
                <div class="form-group">
                    <label for="split">包裹[{{$index+1}}/{{package.amount}}]: </label></br>
                    <input type="text" class="split" ng-model="freight.comments"/>
                </div>

            </div>
        </form>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-default btn-sm" type="submit" ng-click="confirmSplit()">保存</button>
    <button class="btn btn-default btn-sm" ng-click="close()">关闭</button>

</div>
