<div class="modal-body">

    <form name="resetForm">
        <div class="form-group has-feedback">
            <label class="control-label" for="password">新密码</label></br>
            <span ng-show="!resetForm.password.$valid" style="color:red"
                  class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <span ng-show="resetForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <input type="password" name="password" ng-model="newPassword" class="form-control"
                   placeholder="至少八位，大小写下划线不限" ng-minlength="8" required/></br>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="savePassword()" ng-disabled="!resetForm.$valid">保存</button>

        </div>
    </form>

</div>


