<div class="modal-header">
    <h3>是否确认验货?</h3>
</div>

<div class="modal-body">
    <form name="checkForm">
        <div class="form-group">

                    <label>入库单号: </label>


                    <input type="text" class="form-control" ng-model="freightIn.trackingNumber" disabled>

        </div>
        <div class="form-group has-feedback">

                    <label  class="control-label">电子邮箱地址: </label>

                    <span ng-show="!checkForm.email.$valid || !checkInfo.email" style="color:red" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span ng-show="checkForm.email.$valid && checkInfo.email" class="glyphicon glyphicon-ok form-control-feedback"></span>

                    <input type="email" name="email" ng-model="checkInfo.email" placeholder="john.smith@gmail.com" class="form-control" required>


        </div>
        <div class="form-group">

                    <label>是否拍照: </label>

                    <input type="checkbox" class="form-control" ng-model="checkInfo.isTakingPhoto">

                <small>(如果需要拍照请打勾)</small>

        </div>
        <div class="form-group">

                    <label>验货要求</label>

                    <textarea rows="5" class="form-control" ng-model="checkInfo.notes"></textarea>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-default" ng-click="confirm()"  ng-disabled="!checkForm.$valid">确认</button>
            <button class="btn btn-default" ng-click="close()">取消</button>
        </div>

    </form>
</div>

