<div class="modal-header">
    <h4>请选择普通分箱/精确分箱</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="btn-group left-buffer-1">
            <a class="btn btn-default btn-lg" ng-click="confirm()">
                普通分箱</a>
            <a class="btn btn-default btn-lg" ng-click="confirmCharge()">精确分箱</a>
        </div>
    </div>
    <small><em>普通分箱会随机按重量平均分配；精确分箱可以选择每个箱子里分放的具体物品，并收取$3.5的手续费</em></small>
</div>

<div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="close()">取消</button>
</div>