<div class="container">
    <div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
        <div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
            <div class="cn">
                <div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
                <h3 class="titZx row">昀達在线客服</h3>
                <ul>
                    <li><span>昀達</span> <a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>小昀</span> <a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=3327945015&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>小達</span> <a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=3060002587&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>

                    <li style="border:none;"> </li>

                </ul>
            </div>
        </div>
    </div>
    <h2 class="text-center">常见商品</h2>
    <table style="font-size: 14px; " class="table table-condensed table-striped ">
        <thead>
        <th colspan="2">产品目录</th>
        </thead>
        <tr>
            <td>衣裤服饰</td>
            <td>女装：裙子、裤子、T恤、衬衫、外套、毛衣、大衣、棉衣、内衣、睡衣等。<br>
                男装：西装、裤子、衬衫、大衣、内衣、睡衣等。<br>
                童装：婴儿服、孕妇服等。<br>
                围巾、帽子、皮带、皮带扣、领带夹、眼镜、太阳眼镜、手表等配件。<br>
            </td>
        </tr>
        <tr>
            <td>鞋类</td>
            <td>男/女鞋、童鞋：单鞋、凉鞋、靴子、运动鞋、沙滩鞋等。</td>
        </tr>
        <tr>
            <td>包</td>
            <td>钱包、皮夹、手包、拎包、单肩包、双肩背包、旅行包、行李箱（奢侈品牌会产生关税）</td>
        </tr>
        <tr>
            <td>日用品</td>
            <td>餐具、厨具、烟具、酒具、茶具、咖啡器具、台灯、杯子、各类配件等（刀类禁止）</td>
        </tr>
        <tr>
            <td>报刊书籍音像制品</td>
            <td>书刊、杂志、海报、婴幼儿读物、CDDVD碟片、录像带等。（严禁任何有关政治、暴力、色情等敏感读物）</td>
        </tr>
        <tr>
            <td>母婴用品</td>
            <td>奶粉（不限重，请联系客服）、奶瓶、尿片、奶具、湿巾纸、婴儿洗护用品、驱蚊产品、推车、餐具、婴幼儿小家电、床上用品、体温计、理发器等。</td>
        </tr>
        <tr>
            <td>化妆品</td>
            <td>液体：防晒霜、香水、洗面奶、润肤露、精油<br>
                固体：眼线笔、睫毛膏等。<br>
                粉状：粉饼等。<br>
                膏状：眼线膏、口红、润唇膏等。<br>
                （奢侈品牌会产生关税）<br>
            </td>
        </tr>
        <tr>
            <td>食品</td>
            <td>糖果、巧克力、膨化食品、坚果、宠物食品</td>
        </tr>
        <tr>
            <td>运动器材</td>
            <td>各种球类、球拍、球拍、运动器械、护具、运动装备、户外运动装备（刀、钳禁止）</td>
        </tr>
        <tr>
            <td>首饰</td>
            <td>耳环、手链、项链、戒指、手镯、发饰等。（奢侈品牌会产生关税）</td>
        </tr>
        <tr>
            <td>玩具</td>
            <td>毛绒玩具、拼图、乐高、模型（非电动）、塑料玩具、益智玩具等。</td>
        </tr>
        <tr>
            <td>洗护用品</td>
            <td>洗发水、沐浴乳、护发素、漱口水、女性卫生用品等。</td>
        </tr>
        <tr>
            <td>成人用品</td>
            <td>避孕套、润滑液、情趣用品（非电动）</td>
        </tr>
        <tr>
            <td>数码产品</td>
            <td>MP3.4、摄像机、电子书、音响、录音笔、电子游戏机、电子血压计、电子体温计/耳温计、电子医疗保健设备、镜头等。</td>
        </tr>
        <tr>
            <td>数码配件</td>
            <td>耳机、电脑配件（主板、内存条等）、键盘、读卡器、鼠标等。</td>
        </tr>
        <tr>
            <td>乐器</td>
            <td>吉他、小提前、长笛、萨克斯、黑管等。</td>
        </tr>
        <tr>
            <td>电器</td>
            <td>面包机、烤箱、煮蛋器、榨汁机、料理机、咖啡机、酸奶机、剃须刀、电动牙刷、扫地机器人等。</td>
        </tr>
        <tr>
            <td>文具</td>
            <td>笔、各类办公用品。</td>
        </tr>
        <tr>
            <td colspan="2">奢侈品牌、电子产品需注意“关税”！！！
            </td>
        </tr>
    </table>

    <table style="font-size: 14px; " class="table table-condensed table-striped ">
        <thead>
            <th colspan="3">常见几类需交关税如下：</th>
        </thead>
        <tr>
            <td>①服装、鞋、帽、包、眼镜等</td>
            <td>LV、Gucci、Prada、Coach、Hermès、Chanel、Miu Miu、Dior等。</td>
            <td>5%，最低25美金</td>
        </tr>
        <tr>
            <td>②化妆品、首饰</td>
            <td>Chanel、Dior、LA MER、Gucci、Armani等。</td>
            <td>5%，最低25美金</td>
        </tr>
        <tr>
            <td>③手表</td>
            <td></td>
            <td>5%，最少5美金</td>
        </tr>
        <tr>
            <td>④手机、电脑、平板电脑、数码相机、KINDLE阅读器</td>
            <td>请联系客服。</td>
            <td></td>
        </tr>
        </table>
</div>