<div class="container" ng-controller="AlipayCtrl">
	<progressbar class="progress-striped active" value="100" type="success" ng-show="true"><span>请稍候</span></progressbar>
	<div class="text-center">
		<h3>准备跳转支付宝收银台，请勿进行其他操作...</h3>
		<strong class="text-danger">必读！重要提示：<br><br>
			充值完成后，<span style="font-size:1.4em;">务必请保持停留在该页面不要离开(不要手动关闭页面)</span>，直至系统自动跳转回Yunda主页面。<br><br></strong>
		过早关闭页面会导致信息传递被阻断，从而导致明明充值成功，但账户内却未到账的情况发生，所以当您在充值后请耐心等待几秒钟。谢谢支持！<br>	</div>
	<div id="zhifubao-form" ng-bind-html="data"></div>
</div>w