<div class="container" ng-controller="AlipayCtrl">
    <progressbar class="progress-striped active" value="100" type="success" ng-show="true"><span>请稍候</span></progressbar>
<div class="text-center">
    <h3>准备跳转支付宝收银台，请勿进行其他操作...</h3>
</div>
    <div id="zhifubao-form" ng-bind-html="data"></div>
</div>