<!--<div class="container" ng-controller="PayReturnCtrl">-->
<div class="container">
    <h2>充值成功!</h2>
    <!--<small>{{counter}}秒回到首页</small>-->
    <form name="redirect">
        <center>
            <font face="Arial"><b>即将跳转YD首页...<br><br>

                    <form>
                        <input type="text" size="3" name="redirect2">
                    </form>
                    秒</b></font>
        </center>

        <script>
            <!--

            /*
             Count down then redirect script
             By JavaScript Kit (http://javascriptkit.com)
             Over 400+ free scripts here!
             */

            //change below target URL to your own
            var targetURL = "http://www.yundawl.com"
            //change the second to start counting down from
            var countdownfrom = 5;


            var currentsecond = document.redirect.redirect2.value = countdownfrom + 1
            function countredirect() {
                if (currentsecond != 1) {
                    currentsecond -= 1
                    document.redirect.redirect2.value = currentsecond
                }
                else {
                    window.location = targetURL
                    return
                }
                setTimeout("countredirect()", 1000)
            }

            countredirect();
            window.addEventListener("beforeunload", function (event) {
                event.returnValue = "跳转过程中，请耐心等待。强行离开可能会导致充值失败。请确认倒计时是否已经结束？";
            });
            //-->
        </script>
</div>
