<div ng-controller="PrintController">

    <!--<div ng-if="isShow">-->
    <!--<p>请先选择需要答应的运单</p>-->
    <!--</div>-->
    <!--<div ng-if="!isShow">-->
    <!--<div class="a4-print-page-half">-->
    <!--<div class="row btm-buffer-2">-->
    <!--<div class="col-xs-6">-->
    <!--<h3> 运单号：<label ng-bind="freight.id"></label></h3>-->
    <!--</div>-->
    <!--<div class="col-xs-5 col-xs-offset-1">-->
    <!--<div barcode-api="freight.id" id="freight.id"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<table class="table table-bordered">-->
    <!--<thead>-->
    <!--<th width="50%">寄件人信息</th>-->
    <!--<th>收件人信息</th>-->
    <!--</thead>-->
    <!--<tr>-->
    <!--<td>姓名：<span ng-bind="freight.user.realName"></span></td>-->
    <!--<td>姓名：<span ng-bind="freight.recipient"></span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>Email:<span ng-bind="freight.user.username"></span></td>-->
    <!--<td>地址：<span ng-bind="freight.address"></span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>电话：<span ng-bind="freight.user.contactNumber"></span></td>-->
    <!--<td>电话：<span ng-bind="freight.recipientPhone"></span></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td colspan="2">-->
    <!--<strong>附加要求 -- </strong>-->
    <!--加固: <input type="checkbox" ng-model="freight.checkModel.isExtraPackaging" disabled> |-->
    <!--减重: <input type="checkbox" ng-model="freight.checkModel.isReduceWeight" disabled> |-->
    <!--普通分包: <input type="checkbox" ng-model="freight.checkModel.isSplit" disabled> |-->
    <!--精确分包: <input type="checkbox" ng-model="freight.checkModel.isSplitCharge" disabled> |-->
    <!--直接派送: <input type="checkbox" ng-model="freight.checkModel.isDelivery" disabled>-->

    <!--</td>-->
    <!--</tr>-->
    <!--<div ng-show="freight.isSplitPremium">-->
    <!--<tr>-->
    <!--<td colspan="2">-->
    <!--备注: <span ng-bind="freight.comments"></span>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</div>-->
    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
    <div class="a4-print-page-half">
        <table class="table table-bordered">
            <tr>
                <td ng-bind="'入库单号:'+freight.RKNumber"></td>
                <td ng-bind="'转运单号:'+freight.trackingNumber"></td>
            </tr>
            <tr>
                <td ng-bind="'YD运单号:'+freight.YDNumber"></td>
                <td></td>
            </tr>
            <tr>
                <td ng-bind="'用户名:'+freight.user.stringId"></td>
                <td ng-bind="'数字ID:'+freight.user.numberId"></td>
            </tr>
            <tr>
                <td ng-bind="'重量:'+freight.weight + 'Lb'"></td>
                <td ng-bind="'最终重量:'+freight.finalWeight"></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>去除购物收据</span> <input type="checkbox" ng-model="freight.isReduceWeight" disabled>
                    <span>加固</span><input type="checkbox" ng-model="freight.isAddPackage" disabled>
                    <span>普通分包</span> <input type="checkbox" ng-model="freight.isSplit" disabled>
                    <span>精确分包</span><input type="checkbox" ng-model="freight.isSplitPremium" disabled>
                    <span>合包</span><input type="checkbox" ng-model="freight.isMerged" disabled>
                </td>
            </tr>
            <tr>
                <td colspan="2" ng-bind="'备注:'+freight.comments"></td>
            </tr>
            <tr>
                <td colspan="2">

                </td>
            </tr>
            <tr>
                <td ng-bind="'收件人:'+freight.address.recipient"></td>
                <td ng-bind="'联系方式:'+freight.address.mobileNumber"></td>
            </tr>
            <tr>
                <td colspan="2" ng-bind="'地址:'+freight.address.country + freight.address.state + freight.address.city + freight.address.street1 + ' ' +
            freight.address.street2"></td>
            </tr>
        </table>
        <br>
        <br>
        <h4>运单: </h4>
        <table class="table table-bordered">
            <tr>
                <td ng-bind="'运单号:'+freight.YDNumber"></td>
                <td>  <div barcode-generator="freight.YDNumber" style="height:50px;"></div>
                </td>
            </tr>
        </table>
        <div ng-show="package.identity">
        <div class="row">
            <h4>身份证: </h4>
            <div class="col-sm-5">
                <img src="{{freight.address.identity.identityFront._url}}" alt="front" width="400px" height="auto">
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <img src="{{freight.address.identity.identityBack._url}}" alt="back" width="400px" height="auto">

            </div>
        </div>
        </div>
            <table class="table table-bordered">
                <thead>
                <th colspan="9">
                    物品详情
                </th>
                </thead>
                <tr>
                    <td>序号</td>
                    <td>YD运单号</td>
                    <td>收件人</td>
                    <td>类别</td>
                    <td>品名</td>
                    <td>品牌</td>
                    <td>数量</td>
                    <td>单价</td>
                    <td>总价</td>
                </tr>
                <tr ng-repeat="desc in freight.descriptionList">
                    <td>{{$index+1}}</td>
                    <td ng-bind="freight.YDNumber"></td>
                    <td ng-bind="freight.address.recipient"></td>
                    <td ng-bind="desc.kind"></td>
                    <td ng-bind="desc.name"></td>
                    <td ng-bind="desc.brand"></td>
                    <td ng-bind="desc.amount"></td>
                    <td ng-bind="desc.price"></td>
                    <td ng-bind="desc.total"></td>
                </tr>
            </table>

    </div>

</div>