<div class="container-fluid" ng-controller="PrintController">
    <div ng-repeat="freight in freightList">
        <div class="row">
            <form class="form-horizontal" style="width: 90%">
                <div class="form-group">
                    <div class="col-lg-6">
                        <label for="name">姓名</label>
                        <input class="form-control" ng-model="freight.user.realName">
                        <label for="address">地址</label>
                        <input class="form-control" ng-model="freight.address">
                        <label for="mobile">手机号</label>
                        <input class="form-control" ng-model="freight.user.mobiePhoneNumber">
                    </div>
                    <div class="col-lg-6">
                        <label for="trackingNumber">入库号</label>
                        <input class="form-control" ng-model="freight.trackingNumber">
                        <label for="createdAt">入库时间</label>
                        <input class="form-control" ng-model="freight.createdAt">
                        <label for="weight">重量</label>
                        <input class="form-control" ng-model="freight.weight">
                    </div>
                </div>

            </form>
        </div>
        <div class="row">
            <!--<div barcode-generator="{{freight.trackingNumber}}" style="height:208px;">-->
            <!--<div barcode-generator="0123456789012" style="height:208px;">-->
            <!--</div>-->
            <div barcode-api="freight.trackingNumber" tracking-number="freight.trackingNumber"></div>
        </div>
    </div>
    <!--<div barcode-generator="0123456789012" style="height:208px;">-->
    <!--<img alt="Barcoded value 1234567890"-->
         <!--ng-src="http://api-bwipjs.rhcloud.com/?bcid=code128&text=1234567890&includetext">-->

    <!--</div>-->
</div>