<div class="container">
    <div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
        <div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
            <div class="cn">
                <div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
                <h3 class="titZx row">昀達在线客服</h3>
                <ul>
                    <li><span>昀達</span> <a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>小昀</span> <a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=3327945015&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                    <li><span>小達</span> <a target="_blank"
                                           href="http://wpa.qq.com/msgrd?v=3&uin=3060002587&site=qq&menu=yes"><img
                                    border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                    alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>

                    <li style="border:none;"> </li>

                </ul>
            </div>
        </div>
    </div>
<h3 class="text-center">赔付条例</h3>
<br>

<p>1.保价，该服务以完全以客人自愿为前提。保费按客人申报金额的2%来计算，保价最高价值不超过1000美金。寄件人可以在网页上输入保价金额并支付相应的保费，便可以使用保价服务。经保价的包裹内含物品实际价值高于所保价额度，如发生丢失，YD也按客人实际保价的金额进行理赔，故希望客人按实际情况填写保价金额。</p>
<p>2.委托寄送的物品不给予承保的范围包括但不限于：</p>
<div class="indent-p"><p>a.	易碎物品。如玻璃瓶包装的商品，液体、不易储存的保鲜物品。</p></div>
<div class="indent-p"><p>b.	艺术品。包括运用技术、品味或创造才能创作或开发、用于出售、陈列或收藏的任何作品，包括但不限于绘画、图面、花瓶、刺绣、限量发行的印刷品、美术作品、人像、雕塑、收藏鉴赏精品、摄影负片、摄影胶版、摄影幻灯片及其它容易受损的商品或其市场价格特别容易变化或不易确定价值的商品（以及商品的部件）等。</p></div>
<div class="indent-p"><p>c.	古董。包括显示古代风格的任何商品、其历史性、年代或稀有性造成其价值者，包括但不限于家俬、餐具、玻璃器具以及诸如钱币、邮票、运动卡、礼品及纪念品等收藏品。</p></div>
<div class="indent-p"><p>d.	玻璃器具。包括但不限于标志、镜子、陶器、磁器、瓷器、水晶、玻璃、镶框玻璃及其它易碎用品。</p></div>
<div class="indent-p"><p>e.	珠宝。包括但不限于手表和其零件、已切割或未切割的贵重和次等珠宝或宝石、人造钻石及人造珠宝。</p></div>
<div class="indent-p"><p>f.	贵金属。包括但不限于，黄金、银块、粉、沉淀物或白金 (电子机械构件除外)。</p></div>
<div class="indent-p"><p>g.	毛皮制品。包括但不限于毛皮衣物、毛皮装饰衣物和皮裘。</p></div>
<p>3.未保价的包裹在转运和仓储过程中发生丢失时，YD的赔偿金额将取实际物品价格和每磅9美元赔偿两者中的较低者为标准进行赔付。赔偿金额最多不超过100美金。这是不购买保险的情况下的国际统一标准。（根据国际航空运输《华沙公约》）</p>
<p>4.对于没有入库记录和未申请验货服务的包裹、寄件发货方、购物网站导致的少发、错发的情况，YD物流不予任何负责。同样，因为国际运输，牵扯环节甚多，当包裹内物品发生破损和损坏时，YD不承担货件内损的责任。保价包裹只保丢失，不保内件破损。易损易碎品请联系客服进行特殊加固的服务（特殊加固可能会使包裹重量有所变化）。</p>
<p>5.当发现实际入库资料（重量、数目等）与客人所知货物情况差别过大的、购物网站发货分散的、客人主观担心货物质量的、包裹错发问题等诸类情况的，我们强烈建议申请验货拍照。</p>
<p>6.签收时，如发现外包装损毁，请拒收包裹。签收时，无论是家人、门卫、同事、亲友等代收将一律视为本人签收。包裹一旦正常签收后，便视为整个运输流程的结束，所有正常签收的包裹均不在理赔范围内。</p>
<p>7.客户收件时发现少件，当场让派件人签字拍照后，及时联系客服，以便于YD方帮助客人查找。若是因为仓库问题遗漏的我们将进行补发。若确定没有遗漏在仓库，本公司将不接受理赔。因其他问题导致遗漏的，本公司不接受理赔。</p>
<p>8.预交关税由海关收取，与本公司无关，理赔时将不退回预交税金。</p>
<p>9.美国国内的快递公司显示签收但YD仓库却无入库记录的，不在理赔范围内。</p>
<p>10.仓库不接受平信类邮局信件（特别是支票或 gift card等有价值卡券）。客户若以平信类邮局信件发送账单、礼品、代金券等卡券，仓库一律丢弃。</p>
<br>
    <h4>特殊须知：</h4>
<p>请大家务必在包裹派件的时候当场验货，如果发现有遗漏、少损都需要当场让派件人签字拍照作证。对于正常签收的包裹，本公司不接受理赔申请。正常签收后，如果发现少件的情况，告知我们客服，YD方面会协助客人查找，但如确定没有遗漏在仓库，或者没有在运输途中丢失，YD方面不接受理赔。（仅限于有验货拍照的包裹。）</p>
<p>30个工作日内受理赔，请联系客服，谢谢！</p>
</div>