<div class="container">
<h3 class="text-center">免责声明</h3>

<h4>▲声明</h4>

<p>YD物流不承担任何间接、附带、特殊或衍生的损失（包括但不限于收入或利润损失）所产生的赔偿责任。</p>
YD不会就（包括但不限于），任何下列原因所引起或造成的遗失、损毁、延迟送达、误送、未送达、提供错误资料或未能提供资料负任何责任，亦不采取任何运费调整、退款或任何补偿行为：</p>
<div class="indent-p"><p>A. 因承运及相关人员不履行责任或疏忽而导致货物发生损毁；</p></div>
<div class="indent-p"><p>B. 因托运货物的本质或瑕疵、特性或固有缺陷，如有明显破损等；</p></div>
<div class="indent-p"><p>C. 因客户违反本公司所签发的运单、本条款、服务指南、或其它协议等，包括但不限于货物申报不实，寄运货件的包装、安全保障、标志或地址书写不当或不完整；</p></div>
<div class="indent-p"><p>D. 发生空难事故、公敌入侵、政府当局、法律权限、海关或检疫所官员的行为或疏忽、暴动、罢工或其它地区性争执、民众骚乱、战争或天气所带来的危险、或由非本公司所能控制事项所致的全国性或区域性空中或地面交通系统中断或通讯系统干扰或故障。在此情况下，本公司仍会尽合理的努力，尽快运送至目的地并完成送件,但本公司没有义务在出现此类情况时向您发出通知；</p></div>
<div class="indent-p"><p>E. 本公司遵循您或其他寄、收件人的口头或书面送件指示行为导致错件等各种情况；</p></div>
<div class="indent-p"><p>F. 如果包裹在送达时无破损且基本完整、收件人未提出异议及发出书面破损记录，寄件人包装并封口的包 裹内发生遗失或损毁；</p></div>
<div class="indent-p"><p>G. 因清关手续或其它主管机关规定手续所致的延误；</p></div>
<div class="indent-p"><p>H. 因客户没有及时确认关税及税金支付所致的延误；</p></div>
<div class="indent-p"><p>I. 磁带、文件或其它存储媒体中数据的消除、或曝光底片中照相影像或音带的消除；</p></div>
<div class="indent-p"><p>J. 外包装完好，内件破损的包裹；</p></div>
<div class="indent-p"><p>K. 易碎品的破损及损坏，包括但不限于玻璃陶瓷材料及其制品，乐器，电子设备元件，照相器材等；</p></div>
<div class="indent-p"><p>L. 发件人或者购物网站未能提供能够支持多次转运需要的包装而造成的毁损；</p></div>
<div class="indent-p"><p>M. 提供错误、不完整、不正确或遗漏的地址信息，无法联系收件人，造成的重复配送所产生的费用及相关后果，本公司将不承担责任；</p></div>
<div class="indent-p"><p>N. 货物入库超过60天未提交运单发货，系统将自动移除包裹并做弃货处理，本公司将不承担任何责任。</p></div>
<br>

<h4>▲申报价值</h4>
<p>托运包裹申报价值不得超过海关核定价值。</p>
<br>

<h4>▲理赔时间和方式</h4>
<p>对于托运货物或部分托运货物损毁、遗失（包括非正常情况下延误引起的货物腐烂或损坏）的索赔，寄件人必须在托运货物送达后7日内向本公司提出书面索赔申请,包含理赔申请表、购物发票或者证明、签收凭据。对于未能送件或错误送件的索赔，寄件人需在本公司接受托运货物后1个月内向本公司提出书面申请。如寄件人在超出索赔日期后提出索赔申请将不被受理。</p>
<p>收件人受领托运货物的收据上若无受领物品毁损的书面通知，应属托运货物是以良好状况送件的初步证据。对于异常包裹，收件人在签收的时候务必在签收单上注明，并且让快递员签字。签收时，无论是家人，门卫，同事等代收将一律视为本人签收，对于正常签收的包裹，本公司将不接受理赔申请。</p>
<br>
<em>本条款的解释权归YD所有。</em>

</div>