<div class="container">
    <h2 class="text-center">服务收费 </h2>
    <h3 class="text-center">支付说明及优惠政策</h3>


    <h3>支付方式</h3>
    <p >方法一、支付宝充值 </p>
    <p>方法二、visa充值</p>
    <p><em>(以美元为单位，人民币：美元=6.4:1)</em></p>

    </br>

    <h3>YD福利</h3>
    <p>每消费1美元可获得1个YD币，每100个YD币可抵扣1美元，不可提现。</p>

    </br>
    <h3>计费单位与计重单位</h3>
    <p>以美元（$）为计费单位，充值人民币6.4 元（￥）折合1美元</p>
    <p>以磅（LB）为计重单位，1磅≈454克</p>
    <p>0.1磅抹零。最低2磅起运。</p>

    </br>

    <h3>收费条例</h3>
    <p>两磅起算，不满2磅算2磅。</p>
    </br>

    <h3>  一、特殊收费</h3>
    <table style="width:auto; font-size: 14px; " class="table table-condensed table-striped ">
        <thead>
        <th width="10%">名称</th>
        <th width="10%">收费标准</th>
        <th>补充说明</th>
        </thead>
        <tr>
            <td>减重</td>
            <td>免费</td>
            <td>更换外包箱以减免多余重量，所能减免的重量，以实际情况为准</td>
        </tr>
        <tr>
            <td>一般分包</td>
            <td>免费</td>
            <td>简单的将包裹拆分打包</td>
        </tr>
        <tr>
            <td>精确分包</td>
            <td>3.5美金/件</td>
            <td>按客人指定要求分包，按原包裹数量计算</td>
        </tr>
        <tr>
            <td>验货</td>
            <td>3.5美金/件</td>
            <td>按客人需求检验商品质量、数量、重量等</td>
        </tr>

        <tr>
            <td>加固</td>
            <td>免费</td>
            <td>加固包裹的包装，包裹重量或许会加重，以实际情况为准</td>
        </tr>
        <tr>
            <td>退货</td>
            <td>免费</td>
            <td>未发往中国前可以帮助客人退货，运费由客人承担；已发往中国的，从发货日起4天以内可以更改中国国内地址。（需要联系客服）</td>
        </tr>
        <tr>
            <td>合箱</td>
            <td>免费</td>
            <td>可以将两个包裹合并一个</td>
        </tr>

    </table>

    </br>

    <h3>二、普通收费</h3>
    <p>小包裹渠道：首磅4.25美金、续磅4.25美金。（2磅起算，不满两磅算两磅，最高不得超过3KG也就是6.6磅。）小型电器产品每个包裹仅限一个。（如耳温计、耳机、剃须刀、吸奶器等）coach、MK等同级别的包每个包裹仅限两个。低价值的手表限一个。</p>
    <p>（因为海关原因，包裹均为小包裹发货。所发的包裹明显超过了个人私人使用的范围，我们都将会进行分包处理，以保障清关的顺利进行。如需要发大包裹，请联系客服）</p>
    <p>普通渠道：首磅美8金、续磅4.3美金。（2磅起算，不满两磅算两磅，最高不得超过10磅。）</p>
    <p>请根据实际购物小票显示的价值填写申报价值和保价。保价：申报的价格与保价的价格必须一致，保价费按价格的2%收取,建议特殊价值的贵重物品请保价。我们依据顾客填写的情况扣取关税。</p>
    <p>怪异形状、重量与体积不符的产品请联系客服。</p>
    <p>如产生关税，按照“中华人民共和国进境物品归类表”征收。可以选择提前预付（不给于退还）由YD代付税收。</p>

    <p>YD仓库签收起，超过60天的包裹未有人认领，将视为弃包处理。</p>

    <p>产品体积于重量不符合时（超大物件、超长超宽超高物件），将收取体积费。</p>
    <p>体积重=长×宽×高/139 (inch/lb)。当体积重大于实际重量时，多余的重量按每磅1美金收取。运费=物品实际重量费用+（体积重-实际重量）×1</p>

    </br>
    禁止进境物品：
    <p>1、各种武器、仿真武器及配件，包括：弹药、打火机等易燃易爆物品、液压喷雾类商品（发胶，防晒喷雾等）。</p>
    <p>2、伪造的货币及伪造的有价证券。</p>
    <p>3、对中国各方面有害产品。（书籍、印刷品、胶卷、照片、唱片、影片、录音带、录像带、激光视盘、计算器存储介质及其他物品）</p>
    <p>4、毒品毒药，包括鸦片、吗啡、海洛英、大麻以及其它能使人成瘾的麻醉品、精神药物。</p>
    <p>6、危险性动植物（含病菌、虫害等）液体奶，燕窝，西洋参，其他肉制品均不可以。</p>
    <p>7、对人畜有害的食品、药品及其他物品。包括：处方药。</p>
    <p>8、IPAD、IPHONE等苹果产品；汽车摩托车配件等。</p>
</br>
    <h3>附：常见商品</h3>
    <table style=" font-size: 14px; " class="table table-condensed table-striped ">
        <thead>
        <th width="15%">常见产品目录</th>
        </thead>
        <tr>
            <td>衣裤服饰</td>
            <td><p>女装：裙子、裤子、T恤、衬衫、外套、毛衣、大衣、棉衣、内衣、睡衣等。</p>
                <p>男装：西装、裤子、衬衫、大衣、内衣、睡衣等。</p>
                <p>童装：婴儿服、孕妇服等。</p>
                <p>围巾、帽子、皮带、皮带扣、领带夹、眼镜、太阳眼镜、手表等配件。</p>
            </td>
        </tr>
        <tr>
            <td>鞋类</td>
            <td>男/女鞋、童鞋：单鞋、凉鞋、靴子、运动鞋、沙滩鞋等。</td>
        </tr>
        <tr>
            <td>包</td>
            <td>钱包、皮夹、手包、拎包、单肩包、双肩背包、旅行包、行李箱（奢侈品牌会产生关税）</td>
        </tr>
        <tr>
            <td>日用品</td>
            <td>餐具、厨具、烟具、酒具、茶具、咖啡器具、台灯、杯子、各类配件等（刀类禁止）</td>
        </tr>
        <tr>
            <td>报刊书籍音像制品</td>
            <td>书刊、杂志、海报、婴幼儿读物、CDDVD碟片、录像带等。（严禁任何有关政治、暴力、色情等敏感读物）</td>
        </tr>
        <tr>
            <td>母婴用品</td>
            <td>奶粉（不限重，请联系客服）、奶瓶、尿片、奶具、湿巾纸、婴儿洗护用品、驱蚊产品、推车、餐具、婴幼儿小家电、床上用品、体温计、理发器等。</td>
        </tr>
        <tr>
            <td>化妆品</td>
            <td><p>液体：防晒霜、香水、洗面奶、润肤露、精油。</p>
                <p>固体：眼线笔、睫毛膏等。</p>
                <p>粉状：粉饼等。</p>
                <p>膏状：眼线膏、口红、润唇膏等。</p>
                <p>（奢侈品牌会产生关税）</p>
            </td>
        </tr>
        <tr>
            <td>食品</td>
            <td>糖果、巧克力、膨化食品、坚果、宠物食品</td>
        </tr>
        <tr>
            <td>运动器材</td>
            <td>各种球类、球拍、球拍、运动器械、护具、运动装备、户外运动装备（刀、钳禁止）</td>
        </tr>
        <tr>
            <td>保健品</td>
            <td><p>颗粒胶囊：维生素、鱼肝油、减肥药等。</p>
                <p>液体：DHA、蜂蜜、液体钙等。</p>
                <p>粉状：蛋白粉、营养粉、米粉、代餐粉等。</p>
            </td>
        </tr>
        <tr>
            <td>首饰</td>
            <td>耳环、手链、项链、戒指、手镯、发饰等。（奢侈品牌会产生关税）</td>
        </tr>
        <tr>
            <td>玩具</td>
            <td>毛绒玩具、拼图、乐高、模型（非电动）、塑料玩具、益智玩具等。</td>
        </tr>
        <tr>
            <td>洗护用品</td>
            <td>洗发水、沐浴乳、护发素、漱口水、女性卫生用品等。</td>
        </tr>
        <tr>
            <td>成人用品</td>
            <td>避孕套、润滑液、情趣用品（非电动）</td>
        </tr>
        <tr>
            <td>数码产品</td>
            <td>MP3.4、摄像机、电子书、音响、录音笔、电子游戏机、电子血压计、电子体温计/耳温计、电子医疗保健设备、镜头等。</td>
        </tr>
        <tr>
            <td>数码配件</td>
            <td>耳机、电脑配件（主板、内存条等）、键盘、读卡器、鼠标等。</td>
        </tr>
        <tr>
            <td>乐器</td>
            <td>吉他、小提前、长笛、萨克斯、黑管等。</td>
        </tr>
        <tr>
            <td>电器</td>
            <td>面包机、烤箱、煮蛋器、榨汁机、料理机、咖啡机、酸奶机、剃须刀、电动牙刷、扫地机器人等。</td>
        </tr>
        <tr>
            <td>文具</td>
            <td>笔、各类办公用品。</td>
        </tr>
        <tr>
            <td colspan="2">奢侈品牌、电子产品需注意“关税”！！</td>
        </tr>
    </table>

</br>
    <table style="font-size: 14px; " class="table table-condensed table-striped ">
        <thead>
        <th>常见几类需交关税如下：</th>
        </thead>
        <tr>
            <td>服装、鞋、帽、包、眼镜等</td>
            <td>LV、Gucci、Prada、Coach、Hermès、Chanel、Miu Miu、Dior等。</td>
            <td>5%，最低25美金</td>
        </tr>
        <tr>
            <td>化妆品、首饰</td>
            <td>Chanel、Dior、LA MER、Gucci、Armani等。</td>
            <td>5%，最低25美金</td>
        </tr>
        <tr>
            <td>手表</td>
            <td></td>
            <td>5%，最少5美金</td>
        </tr>
        <tr>
            <td>手机、电脑、平板电脑、数码相机、KINDLE阅读器</td>
            <td>请联系客服。</td>
            <td></td>
        </tr>
    </table>

</div>