<!-- Page Content -->
<div class="container">
    <h1 style="text-align: center">服务收费 </h1>
    <h3 style="text-align: center">支付说明及优惠政策</h3>


    <h3>支付方式</h3>
    <p>海星桥网站可支持支付宝转账。</p>

    <h3>优惠政策</h3>
    <p>海星桥会员可享受积分优惠政策。每消费一美元可积累一分，当积分累计达到500分时可以行使兑换权利。每100分可兑换一美元，兑换金额可作为运费使用，不可提现。</p>

    <h3>计费单位与计重单位</h3>
    <p>以美元（$）为计费单位，充值人民币6.4 元（￥）折合1美元</p>
    <p>以磅（LB）为计重单位，1磅≈454克</p>
    <p>0.1磅抹零。最低2磅起运。</p>

    <h3 style="text-align: center">收费说明</h3>
    <h3 style="text-align: center">一、小包裹团购快线！</h3>

    <p>由免税州直发，重量要求和收费标准如下：A类（服装鞋帽、保健品、食品、玩具、杂牌包包、孕妇妊娠霜、婴儿护肤洗浴用品、书本）、B类（护肤品、化妆品、装饰品、名牌包、成人洗浴护肤品、小家用电器）包裹均免首磅，2磅起运，A类4.5美元/磅，B类6美元/磅），限重每个包裹6.6磅（3KG）；化妆品和保健品每个包裹不超过4.4磅（2KG）；小家电每个包裹限一个（耳温计、耳机、剃须刀、吸奶器等），coach、MK等同级别的包包限两个，低价值手表限一个。</p>

    <h3>  A类商品    $8 + $4.5 </h3>
    <table class="table">
        <tr>
            <td>服装鞋帽</td>
            <td>保健品</td>
            <td>食品</td>
            <td>玩具（非电动</td>
        </tr>
        <tr>
            <td>杂牌包包</td>
            <td>孕妇妊娠霜</td>
            <td>婴儿护肤洗浴用品</td>
            <td>书本</td>
        </tr>
    </table>

</div>