<div class="container">
<div id="floatTools" class="rides-cs" ng-style="close" style="height:200px;">
    <div id="divFloatToolsView" class="floatR" style="height:200px;width: 140px;">
        <div class="cn">
            <div class=" titZx" style="position:absolute; right:0; top:0;"><button class="btn btn-xs btn-default" ng-click="close={display: 'none'}">关闭</button></div>
            <h3 class="titZx row">昀達在线客服</h3>
            <ul>
                <li><span>昀達</span> <a target="_blank"
                                       href="http://wpa.qq.com/msgrd?v=3&uin=2973508779&site=qq&menu=yes"><img
                                border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                <li><span>小昀</span> <a target="_blank"
                                       href="http://wpa.qq.com/msgrd?v=3&uin=3327945015&site=qq&menu=yes"><img
                                border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
                <li><span>小達</span> <a target="_blank"
                                       href="http://wpa.qq.com/msgrd?v=3&uin=3060002587&site=qq&menu=yes"><img
                                border="0" src="http://demo.lanrenzhijia.com/2014/service1031/images/online.png"
                                alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>

                <li style="border:none;"> </li>

            </ul>
        </div>
    </div>
</div>
<h2 class="text-center">服务收费 </h2>

<h3 class="text-center">支付说明及优惠政策</h3>


<h3><strong>支付方式</strong></h3>

<p>支持支付宝转账（支付宝只支持人民币付款）</p>

</br>
<h3><strong>计费单位与计重单位</strong></h3>

<p>以美元（$）为计费单位，充值人民币6.4 元（￥）折合1美元</p>

<p>以磅（LB）为计重单位，1磅≈454克</p>

<p>0.1磅抹零。最低2磅起运,不满2磅算2磅。。</p>

</br>

<h3><strong>YD福利</strong></h3>

<p>每消费1美元可获得1个YD币，每100个YD币可抵扣1美元，每当积分累计达到500分时便可以行使兑换权利。兑换金额可作为运费使用，不可提现。
</p>

</br>


<h3><strong>收费条例</strong></h3>


<h4> 一、特殊收费 － 增值服务</h4>
<table style="width:auto; font-size: 14px; " class="table table-condensed table-striped ">
    <thead>
    <th width="10%">名称</th>
    <th width="10%">收费标准</th>
    <th>补充说明</th>
    </thead>
    <tr>
        <td>购物收据保留或去除</td>
        <td>免费</td>
        <td></td>
    </tr>
    <tr>
        <td>一般分包</td>
        <td>免费</td>
        <td>简单的将包裹按平均重量拆分打包</td>
    </tr>
    <tr>
        <td>精确分包</td>
        <td>3.5美金/件</td>
        <td>按客人指定要求分包，按原包裹数量计算</td>
    </tr>
    <tr>
        <td>验货</td>
        <td>3.5美金/件</td>
        <td>按客人需求检验商品质量、数量、重量等</td>
    </tr>

    <tr>
        <td>加固</td>
        <td>2.5美金/件</td>
        <td>使用特殊材料加固包裹的包装，防止运输中出现损坏</td>
    </tr>
    <tr>
        <td>退货</td>
        <td>4美金/件</td>
        <td></td>
    </tr>
    <tr>
        <td>合箱</td>
        <td>免费</td>
        <td>可以将两个或以上包裹合并一个，合箱重量不能超过10磅</td>
    </tr>

</table>

</br>

<h4>二、普通收费</h4>
<table style="width:auto; font-size: 14px; " class="table table-condensed table-striped ">
    <tr>
        <th colspan="7">运输价格方案</th>
    </tr>
    <tr>
        <th>渠道</th>
        <th>起点</th>
        <th>终点</th>
        <th>首磅单价</th>
        <th>续磅单价</th>
        <th>起运磅数</th>
        <th>约合人民币价格<br>（首／续）</th>
    </tr>
    <tr>
        <td>小包裹A渠道</td>
        <td>美国</td>
        <td>中国</td>
        <td>$4.5</td>
        <td>$4.5</td>
        <td>2</td>
        <td>¥28/¥28</td>
    </tr>
    <tr>
        <td>小包裹B渠道</td>
        <td>美国</td>
        <td>中国</td>
        <td>$6.00</td>
        <td>$6.00</td>
        <td>2</td>
        <td>¥38/¥38</td>

    </tr>
    <tr>
        <td>美国境内FEDEX</td>
        <td>美国</td>
        <td>中国</td>
        <td>$5.00</td>
        <td>$2.00</td>
        <td>6</td>
        <td>¥32/¥13</td>

    </tr>
    <tr>
        <td>USPS EXPRESS</td>
        <td>美国</td>
        <td>美国</td>
        <td>$42.00</td>
        <td>$6.00</td>
        <td>4</td>
        <td>¥269/¥38</td>
    </tr>
    <tr>
        <td>Q渠道A</td>
        <td>美国</td>
        <td>中国</td>
        <td>$8.00</td>
        <td>$4.50</td>
        <td>2</td>
        <td>¥51/¥29</td>
    </tr>
    <tr>
        <td>Q渠道B</td>
        <td>美国</td>
        <td>中国</td>
        <td>$10.00</td>
        <td>$6.00</td>
        <td>2</td>
        <td>¥64/¥38</td>
    </tr>

    <tr>
        <td>安全座椅童车行李箱渠道（无体积费）</td>
        <td>美国</td>
        <td>中国</td>
        <td>$5.00</td>
        <td>$5.00</td>
        <td>15</td>
        <td>¥32/¥32</td>
    </tr>
    <tr>
        <td>香港大货</td>
        <td>美国</td>
        <td>中国</td>
        <td>$2.30</td>
        <td>$2.30</td>
        <td>100</td>
        <td>¥15/¥15</td>
    </tr>
    <tr>
        <td>香港小货</td>
        <td>美国</td>
        <td>中国</td>
        <td>$2.50</td>
        <td>$2.50</td>
        <td>0.5</td>
        <td>¥16/¥16</td>
    </tr>


</table>
<br>

<h3>【附加说明】</h3>
<h4>⊙小包裹渠道</h4>

<p>
    1. 首磅4.5美金、续磅4.5美金。<br>
    2. 两磅起算，不满两磅算两磅。最高不得超过3KG也就是6.6磅。<br>
    化妆品每个包裹不超过4.4磅（2KG）。<br>
    小型电器产品每个包裹仅限一个。（如耳温计、耳机、剃须刀、吸奶器等
    coach、MK等同级别的包每个包裹仅限两个。<br>
    低价值的手表限一个。<br>
    3.渠道按包裹内容分类（A类产品、B类产品），AB类混装按B类收费。<br>
    4.因为海关原因，包裹均为小包裹发货。所发的包裹明显超过了个人私人使用的范围，我们都将会进行分包处理，以保障清关的顺利进行。<br>
</p>
<h4>⊙ Q渠道</h4>

<p>
    1. 首磅美8金、续磅4.5美金。<br>
    2. 两磅起算，不满两磅算两磅，最高不得超过10磅。<br>
    3. 渠道按包裹内容分类（A类产品、B类产品），AB类混装按B类收费。<br>
</p>
</br>
<!--禁止进境物品：-->
<!--<p>1、各种武器、仿真武器及配件，包括：弹药、打火机等易燃易爆物品、液压喷雾类商品（发胶，防晒喷雾等）。</p>-->
<!--<p>2、伪造的货币及伪造的有价证券。</p>-->
<!--<p>3、对中国各方面有害产品。（书籍、印刷品、胶卷、照片、唱片、影片、录音带、录像带、激光视盘、计算器存储介质及其他物品）</p>-->
<!--<p>4、毒品毒药，包括鸦片、吗啡、海洛英、大麻以及其它能使人成瘾的麻醉品、精神药物。</p>-->
<!--<p>6、危险性动植物（含病菌、虫害等）液体奶，燕窝，西洋参，其他肉制品均不可以。</p>-->
<!--<p>7、对人畜有害的食品、药品及其他物品。包括：处方药。</p>-->
<!--<p>8、IPAD、IPHONE等苹果产品；汽车摩托车配件等。</p>-->
<!--</br>-->
<h3>【请注意】：</h3>

<p>
    1. 请根据实际购物小票显示的价值填写申报价值和保价。<br>
    保价：申报的价格与保价的价格必须一致，保价费按价格的2%收取。
    建议特殊价值的贵重物品和电子产品请保价。<br>
    2. 关税，按照“中华人民共和国进境物品归类表”征收。
    可以选择提前预付（不给于退还）由YD代付税收。<br>
    3. YD仓库签收起，超过60天的包裹未有人认领，将视为弃包处理。<br>
    4. 体积说明：<br>
    ①产品体积于重量不符合时（超大物件、超长超宽超高物件），将收取体积费。<br>
    当体积重大于实际重量时，多余的重量按每磅1美金收取。
    体积重=长×宽×高/139 (inch/lb)。
    运费=物品实际重量运费+（体积重-实际重量）×1美元<br>
    ②特殊物品如 高尔夫球杆，鱼竿的收费不按上述收费标准，需要咨询客服。<br>
    ③怪异形状、重量与体积不符的产品请联系客服。<br>
</p>

<br>
<h3>【A/B类】</h3>
<br>
<h4>A类产品</h4>
<table style=" font-size: 14px; " class="table table-condensed table-striped ">
    <thead>
    <th width="18%"></th>
    <th></th>
    </thead>
    <tr>
        <td>服饰</td>
        <td><p>服饰：衬衫、T恤、毛衣、大衣、棉衣、内衣、睡衣、裤装、围巾、帽子、男女套装、
                童装、裙装、孕妇装、皮装/皮草、普通眼镜，皮带、皮带扣、领带夹；
            </p>

        </td>
    </tr>
    <tr>
        <td>鞋靴</td>
        <td>男式/女式鞋/靴、童鞋</td>
    </tr>
    <tr>
        <td>运动物品</td>
        <td>运动器械，球类、球拍、球杆、护具、器械、帐篷、睡袋、防潮垫、背包、
            户外运动装备（带长短刃刀/钳禁运），防护救生工具；
        </td>
    </tr>
    <tr>
        <td>护理卫生用品</td>
        <td>手动剃须刀、女性手动剃毛刀、女性卫生用品；</td>
    </tr>
    <tr>
        <td>母婴用品</td>
        <td>奶具、奶瓶、辅食研磨器、床品、尿片、尿垫、喂药器、吸管、婴儿餐具餐椅、
            婴儿洗护品、妊娠纹霜、乳头霜；
        </td>
    </tr>
    <tr>
        <td>成人用品</td>
        <td>避孕套、润滑液、情趣用品（非电动）</td>
    </tr>
    <tr>
        <td>日用品</td>
        <td>餐具（厨刀禁运）、烟具、酒具、茶具、咖啡器具、家装配 件、台灯、杯子、
            手杖、怀炉、皮套、香皂、洗衣粉、洗衣液
        </td>
    </tr>
    <tr>
        <td>音像制品</td>
        <td>CD/DVD/BlueRay碟片,录像带,游戏光盘（色情、暴力、政治敏感题材禁运）</td>
    </tr>
    <tr>
        <td>玩具</td>
        <td>毛绒玩具、塑料玩具、模型（非电动）、积木、益智玩具、费雪海马</td>
    </tr>
    <tr>
        <td>箱包</td>
        <td>钱包、手包、拎包、单肩包、双肩背包、旅行包、行李箱
        </td>
    </tr>
    <tr>
        <td>书籍</td>
        <td>书、期刊杂志、写真集、海报、摄影、儿童读物（色情、暴力、政治敏感题材禁运）</td>
    </tr>
    <tr>
        <td>文具</td>
        <td>案台、桌上用品</td>
    </tr>
    <tr>
        <td>零食</td>
        <td>黄油、巧克力、坚果、糖果、果泥、膨化食品</td>
    </tr>
    <tr>
        <td>颗粒胶囊状保健品</td>
        <td>维生素、螺旋藻、鱼油、卵磷脂、感冒药、咳嗽药、减肥药</td>
    </tr>
    <tr>
        <td>粉末类保健品/食品</td>
        <td>奶粉、米粉、蛋白粉、豆粉、营养粉</td>
    </tr>
    <tr>
        <td>液体保健品／食品</td>
        <td>蜂蜜、蜂王浆、液体钙、液体鱼肝油、椰子油、儿童dna、食用油；</td>
    </tr>

</table>
<br>
<h4>B类产品</h4>
<table style=" font-size: 14px; " class="table table-condensed table-striped ">
    <thead>
    <th width="18%"></th>
    <th></th>
    </thead>
    <tr>
        <td>液体化妆护肤品</td>
        <td>香水、精油、卸妆水、粉底液、洗面奶、爽肤、身体乳、精华、
            乳液（金属压力罐禁运）
        </td>
    </tr>
    <tr>
        <td>膏状化妆护肤品</td>
        <td>面霜、面膜眼霜（膏）、口红、唇膏、护肤黄油、眼影膏</td>
    </tr>
    <tr>
        <td>粉末状化妆护肤品</td>
        <td>粉饼、散粉</td>
    </tr>
    <tr>
        <td>固体化妆护肤品</td>
        <td>假睫毛、眼影、睫毛膏、腮红、眉笔</td>
    </tr>
    <tr>
        <td>成人洗护用品</td>
        <td>洗发水、生发液、润肤露、沐浴露 </td>
    </tr>
    <tr>
        <td>首饰装饰</td>
        <td>项链、手链、脚链、摆件、戒指、耳环、胸针、发饰、手镯、腰带、墨镜</td>
    </tr>
    <tr>
        <td>电子数码产品</td>
        <td>CD/DVD机、MP3、MP4、电子书、电子词典、投影机、传真机、打印机、
            手机、摄像机、数码相机、胶片相机、相机镜头、玩具相机、望远镜、
            显微镜、笔记本电脑、平板电脑、音响器材、录音笔、电动玩具、GPS、
            电话机、电子游戏机、电子血压计、电子体温计/耳温计、机顶盒、
            电子医疗保健设备；
        </td>
    </tr>
    <tr>
        <td>电子数码配件</td>
        <td>耳机、麦克风、卡座、电脑外设、读卡器、存储卡、U盘、电子游戏配件、
            电脑配件（主板、内存、芯片、硬盘、显卡、声卡等）</td>
    </tr>
    <tr>
        <td>电器类</td>
        <td>榨汁机、料理机、咖啡机、酸奶机、多士炉、面包机、炙烤炉、煮蛋器、清洗机、
            干衣机、挂烫机、干鞋器、擦鞋器、扫地机、清洁机、洗脸机、电动剃须刀、
            电动剃毛刀、电动吸奶器、电动洗脸刷</td>
    </tr>
    <tr>
        <td>乐器类</td>
        <td>吉他、口琴、小提琴、电子琴、萨克斯、电子鼓、乐器配件
        </td>
    </tr>
    <tr>
        <td>名牌包</td>
        <td>包括但不限于Coach、Kate Spade、Hermès、LV、Gucci、Prada、CK、MK、Tommy、
            Armani等包具</td>
    </tr>
    <tr>
        <td colspan="2">汽车配件及摩托车配件不能运！</td>
    </tr>

</table>
</br>
<table style="font-size: 14px; " class="table table-condensed table-striped ">
    <thead>
    <th>常见几种B类奢侈品牌需交关税如下：</th>
    </thead>
    <tr>
        <td>服装、鞋、帽、包、眼镜等</td>
        <td>LV、Gucci、Prada、Coach、Hermès、Chanel、Miu Miu、Dior等。</td>
        <td>5%，最低25美金</td>
    </tr>
    <tr>
        <td>化妆品、首饰</td>
        <td>Chanel、Dior、LA MER、Gucci、Armani等。</td>
        <td>5%，最低25美金</td>
    </tr>
    <tr>
        <td>手表</td>
        <td></td>
        <td>5%，最少5美金</td>
    </tr>
    <tr>
        <td>手机、电脑、平板电脑、数码相机、KINDLE阅读器</td>
        <td>仅限usps渠道</td>
        <td></td>
    </tr>
</table>

</div>